:host() {
	position: relative;
	display: flex;
}

.chart-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;

	.bar {
		background: var(--bar-chart-bar-color);
		background: var(--bar-chart-bar-color);
		flex-grow: 1;
		margin-right: 2px;

		&:hover {
			background: var(--on-bar-chart-bar-color);
		}
	}

	&.no-empty {
		.bar {
			min-height: 1.5%;
		}
	}
}
