:host() {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding-bottom: 0 !important;
}

// .container {
// 	// width: 100%;
// 	width: 120%;
// 	transform: translateX(-10%);
// }

.container-1 {
	flex-grow: 1;
	transform: none;
	position: relative;
	min-height: 0;
}
