@import '../../global/variables';
@import '../../global/fonts';

.achievements-global-category {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	background: rgba(255, 255, 255, 0.08);
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;

	&:hover {
		background: rgba(255, 255, 255, 0.12);
	}

	.category-name {
		@extend %achievements-category-name;
		text-align: center;
		position: relative;
		margin: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.logo {
		height: 100px;
		width: 100px;
		flex-grow: 0;
		flex-shrink: 0;
		margin-bottom: 5px;
	}

	achievement-progress-bar {
		margin-bottom: 15px;
	}

	&.empty {
		.category-name {
			color: #cb9fd7;
		}
		::ng-deep achievement-progress-bar .achieved {
			color: #a276af;
		}
	}

	.frame {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;

		&.complete-simple {
			border: 1px solid #84725f;

			.corner {
				position: absolute;

				&.bottom-left {
					bottom: 0;
					left: 0;
					transform: rotate(0);
				}

				&.top-left {
					top: 0;
					left: 0;
					transform: rotate(90deg);
				}

				&.top-right {
					top: 0;
					right: 0;
					transform: rotate(180deg);
				}

				&.bottom-right {
					bottom: 0;
					right: 0;
					transform: rotate(270deg);
				}
			}
		}

		&.complete-premium {
			border: 1px solid $yellow03;

			.outer-border {
				position: absolute;
				top: -5px;
				right: -5px;
				bottom: -5px;
				left: -5px;
				border: 2px solid $yellow03;
			}

			.corner {
				position: absolute;

				&.bottom-left {
					bottom: 0;
					left: 0;
					transform: rotate(0);
				}

				&.top-left {
					top: 0;
					left: 0;
					transform: rotate(0) scale(1, -1);
				}

				&.top-right {
					top: 0;
					right: 0;
					transform: rotate(180deg);
				}

				&.bottom-right {
					bottom: 0;
					right: 0;
					transform: rotate(180deg) scale(1, -1);
				}
			}

			.crown {
				position: absolute;
				top: -15px;
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
	}
}
