@import '../../global/variables';
@import '../../global/fonts';

.achievement-history {
	// margin-top: 50px;
	width: 400px;
	display: flex;
	flex-direction: column;

	.top-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		flex-shrink: 0;

		.title {
			@extend %achievements-history-header;
			display: flex;
			align-items: center;
		}
	}

	.history {
		background: rgba(255, 255, 255, 0.08);
		list-style: none;
		padding: 0;
		margin: 0;
		overflow-x: hidden;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		height: 100%;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			overflow-y: scroll;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
		}

		li {
			display: flex;
			align-items: center;
			justify-content: stretch;
			padding-left: 10px;
			flex-shrink: 0;

			&:hover {
				background: rgba(255, 255, 255, 0.04);
			}
		}

		li:before {
			content: '•';
			font-size: 20px;
			color: #d9c3ab;
		}

		achievement-history-item {
			flex-grow: 1;
			max-width: calc(100% - 5px);
		}
	}

	.empty-state {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		margin: auto;

		i {
			margin-bottom: 10px;
		}

		span {
			@extend %empty-card-history;
		}
	}
}
