.achievement-sharing-modal {
	margin-left: 85px;
	margin-right: 85px;
	margin-top: 30px;
	margin-bottom: 30px;
	max-height: calc(100% - 60px);
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background: radial-gradient(
		281.52px at 50% 50%,
		rgba(142, 91, 35, 0.7) 0%,
		rgba(102, 58, 26, 0.7) 0%,
		rgba(47, 13, 13, 0.7) 100%
	);
	border: 1px solid #472406;
	position: relative;

	.close-button {
		position: absolute;
		top: 10px;
		right: 10px;
		color: #d9c3ab;

		&:hover {
			background-color: #472406;
		}

		&.close-button:hover {
			color: #2f0d0d;
			background-color: #d9c3ab;
		}
	}

	.modal-title {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		margin-bottom: 10px;

		.social-share {
			background: #ffb948;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		i {
			width: 21px;
			height: 16px;
			--icon-color: #1b071f;
		}

		.text {
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: normal;
			color: #ffb948;
			margin-left: 10px;
		}
	}

	.sharing-body {
		display: flex;

		share-info {
			margin-left: 20px;
			flex-grow: 1;
		}
	}

	vg-player {
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
		height: auto;
	}

	::ng-deep .title {
		pointer-events: none;
		background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 45.86%, #000000 100%);
		display: flex;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 40px;
		cursor: default;

		i {
			--icon-color: #ffb948;
			margin-left: 13px;
			margin-right: 13px;
			width: 30px;
			height: 30px;
		}

		.text,
		.date {
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			font-size: 13px;
			color: #d9c3ab;
		}

		.text {
			padding-right: 10px;
			margin-right: 10px;
			border-right: 1px solid;
		}
	}

	vg-controls {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 44.8%, #000000 100%);
		padding: 10px;
		cursor: default;

		vg-play-pause {
			width: 20px;
			height: 20px;
			margin-right: 10px;
			cursor: default;

			::ng-deep .vg-icon-play_arrow {
				width: 100%;
				height: 100%;
				position: relative;

				&::before {
					content: '';
					background: url(/Files/assets/svg/video_play.svg) center center;
					background-size: 11px 14px;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-repeat: no-repeat;
				}
			}

			::ng-deep .vg-icon-pause {
				width: 100%;
				height: 100%;
				position: relative;

				&::before {
					content: '';
					background: url(/Files/assets/svg/video_pause.svg) center center;
					background-size: 20px 20px;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-repeat: no-repeat;
					--icon-color: #a89782;
				}
			}

			&:hover {
				::ng-deep .vg-icon-play_arrow:before {
					background-image: url(/Files/assets/svg/video_play_hover.svg);
				}
				::ng-deep .vg-icon-pause:before {
					background-image: url(/Files/assets/svg/video_pause_hover.svg);
				}
			}
		}

		fs-time-display {
			font-family: 'Open Sans', sans-serif;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #d9c3ab;
			font-size: 12px;
			font-weight: bold;
			text-shadow: 0px 0px 4px #000000;
			width: auto;
			cursor: default;

			&:nth-of-type(1):after {
				content: '/';
			}
		}

		vg-scrub-bar {
			height: 100%;
			width: 240px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 17px;
			margin-left: 20px;
			cursor: default;

			&:focus {
				outline: none;
			}

			::ng-deep .scrubBar {
				height: 2px;
				background: rgba(217, 195, 171, 0.5);

				&:focus {
					outline: none;
				}
			}

			vg-scrub-bar-current-time {
				top: 0;
				height: 2px;
				cursor: default;

				::ng-deep .background {
					background-color: #ffb948;
					border: 0;
				}

				::ng-deep .slider {
					height: 0;
					width: 0;
					box-shadow: inherit;
					background: #ffb948;
					margin-top: -3px;
					margin-left: -6px;
				}
			}

			&:hover vg-scrub-bar-current-time ::ng-deep .slider {
				height: 8px;
				width: 8px;
			}
		}

		vg-mute {
			width: 20px;
			height: 20px;
			margin-right: 12px;
			cursor: default;

			::ng-deep .icon {
				width: 100%;
				height: 100%;
				position: relative;

				&::before {
					content: '';
					background: url(/Files/assets/svg/video_sound_on.svg) center center;
					background-size: 20px 20px;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-repeat: no-repeat;
					--icon-color: #d9c3ab;
				}
			}

			::ng-deep .vg-icon-volume_off {
				&::before {
					background: url(/Files/assets/svg/video_sound_off.svg) center center;
				}
			}

			&:hover {
				::ng-deep .icon:before {
					background-image: url(/Files/assets/svg/video_sound_on_hover.svg);
				}
				::ng-deep .vg-icon-volume_off:before {
					background-image: url(/Files/assets/svg/video_sound_off_hover.svg);
				}
			}
		}

		vg-volume {
			height: 100%;
			width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 22px;
			cursor: default;

			&:focus {
				outline: none;
			}

			::ng-deep .volumeBar {
				height: 100%;

				&:focus {
					outline: none;
				}

				.volumeBackground {
					height: 100%;
					height: 2px;
					background: rgba(217, 195, 171, 0.3);
				}

				.volumeValue {
					height: 100%;
					background: #d9c3ab;
				}

				.volumeKnob {
					background: #d9c3ab;
					height: 8px;
					width: 8px;
				}
			}
		}

		vg-fullscreen {
			width: 20px;
			height: 20px;
			cursor: default;

			::ng-deep .icon {
				width: 100%;
				height: 100%;
				position: relative;

				&::before {
					content: '';
					background: url(/Files/assets/svg/video_full_screen.svg) center center;
					background-size: 20px 20px;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-repeat: no-repeat;
					--icon-color: #a89782;
				}
			}

			&.fullscreen ::ng-deep .icon::before {
				background: url(/Files/assets/svg/video_exit_full_screen.svg) center center;
			}

			&:hover {
				::ng-deep .icon::before {
					background-image: url(/Files/assets/svg/video_full_screen_hover.svg);
				}
				&.fullscreen ::ng-deep .icon::before {
					background-image: url(/Files/assets/svg/video_exit_full_screen_hover.svg);
				}
			}
		}
	}

	video {
		width: 100%;
		height: 100%;
	}
}
