.general-launch {
	margin-left: 15px;
	margin-right: 15px;

	.toggle-label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		::ng-deep .toggle p {
			width: 280px;
		}
	}
}
