:host {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	margin-right: 15px;
}

.localization {
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
	min-height: 0;
	overflow: auto;
	--color-1: var(--color-3);

	.text {
		font-size: 14px;
		margin-bottom: 15px;
		line-height: 19px;

		::ng-deep a {
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			color: var(--color-4);
			display: inline;

			&:hover {
				color: #ffb948;
			}
		}
	}

	::ng-deep localization-dropdown {
		width: 200px;

		filter-dropdown {
			width: 100%;
		}

		select-dropdown .below .options {
			max-height: 250px;
		}
	}
}
