:host() {
	display: flex;
}

.general-third-party {
	display: flex;
	flex-direction: column;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-size: 14px;
	color: #d9c3ab;
	padding: 10px;
	min-height: 0;
	overflow: auto;
	flex-grow: 1;

	h2 {
		margin-bottom: 10px;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.icon {
			height: 50px;
			width: 50px;
		}
	}

	.intro {
		font-size: 14px;
	}

	::ng-deep a {
		display: inline;
		font-size: 14px;
		color: var(--inactive-link-color);

		&:hover {
			color: var(--default-title-color);
		}
	}

	section {
		background: rgba(255, 255, 255, 0.08);
		margin-top: 20px;
		padding: 10px;

		h3 {
			margin-bottom: 10px;
		}

		.what-text {
			margin-top: 10px;
		}

		preference-toggle ::ng-deep {
			p {
				width: 360px;
			}
		}

		.connect {
			margin-top: 15px;
		}
	}

	.logged-in {
		display: flex;
		align-items: center;

		.user-name {
			margin-right: 15px;
		}
	}

	button {
		border: 1px solid #d9c3ab;
		padding-left: 25px;
		padding-right: 25px;
		width: auto;
		height: 35px;
		display: flex;
		align-items: center;
		color: var(--default-text-color);
		font-size: 14px;

		i {
			width: 18px;
			height: 18px;
			margin-right: 5px;
			--icon-color: #ffb948;
		}

		div {
			display: flex;
		}

		&:hover {
			background: #ffb948;
			border: none;

			span {
				color: #2f0d0d;
			}

			i {
				--icon-color: #2f0d0d;
			}
		}
	}
}
