.general-launch {
	margin-left: 15px;
	margin-right: 15px;

	.toggle-label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		::ng-deep .toggle p {
			width: 280px;
		}
	}
}

.reset-container {
	color: #d9c3ab;
	display: flex;
	flex-direction: column;
	padding: 20px;

	button {
		border: 1px solid #d9c3ab;
		padding-left: 25px;
		padding-right: 25px;
		width: auto;
		height: 35px;
		display: flex;
		align-self: flex-start;

		span {
			color: #d9c3ab;
		}

		div {
			display: flex;
		}

		&:hover {
			background: #ffb948;
			border: none;

			span {
				color: #2f0d0d;
			}
		}
	}

	.confirmation {
		margin-top: 5px;
		font-size: 12px;
	}
}
