.mercenaries-hero-stat {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	background: rgba(255, 255, 255, 0.08);
	padding: 10px;
	position: relative;

	&:hover {
		background: rgba(255, 255, 255, 0.12);
	}

	.name-container {
		font-size: 14px;
		color: var(--default-title-color);
		width: 140px;
		display: flex;
		align-items: center;

		.name {
			flex-grow: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: center;
		}

		.info {
			flex-shrink: 0;
			flex-grow: 0;
			width: 15px;
			height: 15px;
			--icon-color: var(--color-1);
		}
	}

	// .portrait {
	// 	width: 80%;

	// 	img {
	// 		width: 100%;
	// 	}
	// }

	.portrait {
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		width: 160px;
		position: relative;
		top: 0;
		left: 0;
		z-index: 9;
		margin-top: 0;
		margin-bottom: 0;

		.icon {
			position: absolute;
			top: 11%;
			left: 13%;
			width: 76%;
			clip-path: ellipse(40% 44% at 50% 50%);
		}

		.frame {
			width: 100%;
			z-index: 1;
		}
	}

	.stats {
		display: flex;
		flex-direction: column;
		font-size: 12px;
		align-items: center;
		width: 100%;

		.item {
			display: flex;
			align-items: center;
			margin-top: 3px;

			.label {
				margin-right: 5px;
			}

			.values {
				display: flex;
			}

			.value {
				font-weight: bold;
				// color: #ce73b4;
				color: var(--default-title-color);
			}
		}
	}
}
