:host {
    display: flex;
}

.achievements-menu {
    display: flex;
    flex-direction: column;
    width: 175px;
    padding-right: 15px;
    height: 100%;
    list-style: none;
    border-right: 1px solid #472406;

    li {
        width: 160px;
        height: 40px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #D9C3AB;
        padding-left: 15px;
        display: flex;
        align-items: center;

        &.selected {
            background: rgba(255, 255, 255, 0.08);
            color: #FFB948;
        }

        &:hover {
            color: #FFB948;
        }
    }
}