.collection-notification {
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
	overflow-y: scroll;

	h2 {
		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		font-size: 14px;
		color: #d9c3ab;
	}

	.toggle-label {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		&.disabled {
			opacity: 0.4;

			::ng-deep preference-toggle .preference-toggle,
			::ng-deep preference-slider .preference-slider {
				pointer-events: none;
			}
		}
	}

	.card-size-label {
		font-size: 13px;
		margin-top: 15px;
	}

	::ng-deep .first-slider .preference-slider {
		margin-top: 15px;
		width: 300px;
		margin-left: 12px;

		.knobs {
			.knob.Default .circle {
				position: relative;
				right: 1px;
			}
		}
	}
}
