.cdk-global-overlay-wrapper,
.cdk-overlay-container {
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.cdk-overlay-container {
	position: fixed !important;
	z-index: 99999999999 !important; // Above the ads
}
.cdk-overlay-container:empty {
	display: none;
}
.cdk-global-overlay-wrapper {
	display: flex;
	position: absolute;
	z-index: 1000;
}
.cdk-overlay-pane {
	position: absolute;
	pointer-events: auto;
	box-sizing: border-box;
	z-index: 1000;
	display: flex;
	max-width: 100%;
	max-height: 100%;
}
.cdk-overlay-backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	pointer-events: auto;
	-webkit-tap-highlight-color: transparent;
	transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	opacity: 0;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
	opacity: 1;
}
@media screen and (-ms-high-contrast: active) {
	.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
		opacity: 0.6;
	}
}
.cdk-overlay-dark-backdrop {
	background: rgba(0, 0, 0, 0.32);
}
.cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
	opacity: 0;
}
.cdk-overlay-connected-position-bounding-box {
	position: absolute;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	min-width: 1px;
	min-height: 1px;
}
.cdk-global-scrollblock {
	position: fixed;
	width: 100%;
	overflow-y: scroll;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
	pointer-events: none;

	// I don't remember exactly why the "pointer-events: none" rule was introduced. Looking
	// at the commit, I suspect this was done to prevent the mouse interacting with the
	// tooltips that were built for the BG minions
	& > *:not(.cdk-overlay-backdrop) {
		pointer-events: none !important;
		& > * {
			pointer-events: none !important;
		}
	}
}
