@import 'variables';
@import 'fonts';

.menu-selection {
	@extend %tab;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;

	li,
	button.menu-item {
		position: relative;
		top: 2px;
	}

	.selected {
		color: $yellow03;
		border-bottom: 1px solid;
	}
}
