@import 'variables';

::-webkit-scrollbar {
	width: 5px;
	height: 0;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: #a89782;
}

::-webkit-scrollbar-thumb:hover {
	background: #d9c3ab;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track-piece {
	display: none;
}
