.title-bar {
    height: 40px;
    display: flex;
    align-items: center;

    .logo {
        width: 73px;
        height: 20px;
        margin-left: 10px;
    }

    .controls {
        display: flex;
        margin-left: auto;
        // To avoid having the golden corners interfere with the mouse
        z-index: 1;

        ::ng-deep button {
            color: #9FB6D7;

            &:hover {
                background: #303352;
            }
        }

        #fakeClose ::ng-deep button {
            &:hover {
                color: #101530;
                background: #9FB6D7;
            }
        }
    }
}