{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"

			}

		}
	]
}