@import '../../global/variables';
@import '../../global/fonts';

.match-stats-message-container {
	display: flex;
	align-items: center;
	background-image: url('/Files/assets/images/backgrounds/replays-notif-bg.png');
	background-size: 100%;
	background-position: center center;
	outline: 1px solid #3b5141;
	width: 350px;
	height: 80px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
	padding: 15px;

	.message {
		display: flex;
		flex-direction: column;

		.title {
			@extend %achievement-name;
			display: flex;
			align-items: center;

			i {
				--icon-color: #ffb948;
				margin-right: 10px;
			}
		}

		.text {
			@extend %achievements-notification-text;
			margin-top: 3px;
		}

		.recap-text {
			@extend %achievements-recap-text;
			margin-top: 5px;
			position: relative;
			color: #a89782;
		}
	}

	.close-button {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		--icon-color: #a2ccb0;

		&:hover {
			color: #3b5141;
			background: #a2ccb0;
		}
	}

	.active {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.mode {
	display: flex;
	height: 100%;
	padding-right: 10px;
	margin-right: 10px;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -10%;

	.player-rank {
		width: 30px;
		height: 30px;
		margin-right: 5px;
	}

	.rank-text {
		position: absolute;
		bottom: -12%;
		text-shadow: -2px -2px 0 #000, 0px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 2px 0 #000;
		color: white;
		font-size: 12px;
		width: 100%;
		text-align: center;
		padding-right: 3px;
	}
}
