@import '../global/variables';
@import '../global/scrollbar';

.app-section {
	flex-grow: 1;
	display: flex;
	min-height: 0;
	min-width: 0;

	.main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding-left: 5px;
		margin-top: 0;
		position: relative;
		max-width: calc(100% - 415px);

		&.divider {
			border-right: 1px solid var(--menu-bar-bottom-border-color);
			height: 100%;
		}

		& > * {
			display: flex;
			min-height: 0;
			opacity: 1;
		}
	}

	.main-content {
		position: relative;
		top: -40px;
		height: calc(100% + 40px);
		padding-left: 9px;
	}

	.secondary {
		display: flex;
		flex-direction: column;
		flex-grow: 0;
		margin-left: 15px;
		margin-right: 5px;
		width: 400px;
		min-width: 400px;
		height: calc(100% - 350px);
		flex-shrink: 0;

		& > * {
			min-height: 0;
			max-height: 100%;
			flex-shrink: 0;
		}
	}
}
