@import '../global/fonts';

:host() {
	display: flex;
	flex-shrink: 0;
}

.filter-dropdown-multiselect {
	font-size: 13px;
	background: rgba(255, 255, 255, 0.08);
	margin-right: 15px;
	height: 32px;
	width: 155px;
	display: flex;
	flex-direction: column;
	color: var(--color-1);
	transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, max-height 0.4s ease-in-out;
	border: 1px solid var(--color-3);
	outline: none;

	.value {
		display: flex;
		align-items: center;
		padding-left: 10px;

		.text {
			flex-grow: 1;
			overflow: hidden;

			::ng-deep {
				.selection-icons {
					display: flex;

					.icon {
						width: 28px;
						height: 28px;
						clip-path: ellipse(35% 35% at 50% 50%);
						position: relative;
						margin-left: -5px;
					}
				}
			}
		}

		.caret {
			transition: 0.15s;
		}
	}

	.options {
		display: none;
		background: var(--color-7);
		z-index: 99;
		border: 1px solid var(--color-3);
		width: calc(100% + 2px);
		position: relative;
		left: -1px;
		top: -1px;
		min-width: 220px;

		.choices {
			display: flex;
			flex-direction: column;
			max-height: 500px;
			overflow: scroll;
		}

		.option {
			color: var(--color-1);
			border-bottom: 1px solid var(--color-3);
			padding: 0;
			padding-left: 9px;
			padding-right: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 30px;

			checkbox ::ng-deep {
				label {
					margin-bottom: 0;
					i {
						margin-right: 5px;
						--icon-color: var(--color-2);
						--icon-color-secondary: var(--color-2);
					}
					p {
						font-size: 13px;
						color: var(--color-1);
					}

					&:hover {
						i {
							--icon-color: var(--color-1);
						}
					}
				}
			}

			.icon {
				width: 30px;
				height: 30px;
				clip-path: ellipse(35% 35% at 50% 50%);
				position: relative;
				left: 5px;
			}
		}

		.controls {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 5px;

			.button {
				width: 60px;
				height: 25px;
				background: var(--color-2);
				color: var(--color-5);
				border: none;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: 'Open Sans', sans-serif;

				&.disabled {
					opacity: 0.4;
					// pointer-events: none;
				}

				&:hover:not(.disabled) {
					background: var(--color-1);
					color: var(--on-confirmation-text-color);
				}
			}

			.clear {
				margin-right: 5px;
			}

			.apply {
				margin-left: auto;
			}
		}
	}

	&.showing {
		.value {
			.caret {
				transform: scale(1, -1);
			}
		}
		.options {
			display: flex;
			flex-direction: column;
		}
	}
}
