.layout {
	display: flex;
	padding: 1px;
	min-height: 0;
	flex-grow: 1;
}

.navigation {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-shrink: 0;
	height: 100%;
	width: 65px;
	background: var(--main-menu-background-color);
	top: 0px;
	flex-grow: 0;
	align-items: stretch;

	.logo {
		position: relative;
		top: 10px;
		margin-bottom: 10px;
		--icon-color: var(--default-title-color);
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 45px;
		}
	}

	menu-selection {
		display: flex;
		flex-grow: 1;
		z-index: 9999;
	}

	&.navigation-ftue {
		menu-selection {
			pointer-events: none;
		}
		.attention-icon-container {
			display: none;
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: calc(100% - 65px);
}

.menu-bar {
	background: transparent;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	position: relative;
	width: 100%;
	height: 30px;
	z-index: 400;
	flex-shrink: 0;
	border: none;
	pointer-events: none;

	.before-main-divider {
		width: calc(100% - 420px);
		flex-shrink: 0;
	}

	social-shares {
		pointer-events: all;

		.social-shares {
			height: 100%;
			align-items: center;

			.social-share {
				width: 25px;
				height: 25px;
				margin-bottom: 0;
			}
		}
	}

	hotkey {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-grow: 1;
		align-items: flex-start;
		position: relative;
		top: 5px;
		flex-grow: 0;
		pointer-events: all;

		.key {
			border: none;
			width: auto;
			height: auto;
		}
		.plus {
			margin: 0;
		}
	}

	.controls {
		height: 30px;
		display: flex;
		pointer-events: all;
		margin-left: auto;
	}
}

.content-container {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: calc(100% - 62px);

	& > * {
		flex-grow: 1;
		display: flex;
		max-height: 100%;
	}
}

.content-container.hide-ads {
	.secondary.secondary.secondary {
		height: calc(100% - 10px);
	}
}

ftue {
	position: absolute;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	left: 65px;
}

.content-container {
	padding-right: 10px;
}

tooltips {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9999;
}

ads {
	right: 15px;
	bottom: 15px;
}
