.main-menu {
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;

	li {
		width: 100%;
		top: 0;
		border: none;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&.selected {
			border: none;
			border-right: 1px solid var(--default-title-color);
			background: rgba(255, 255, 255, 0.08);
		}

		&:hover {
			background: rgba(255, 255, 255, 0.08);
			border: none;
		}

		.text {
			display: none;
			// display: flex;
			flex-direction: column;
			position: absolute;
			top: 0;
			min-height: 100%;
			left: 65px;
			background: var(--main-menu-background-color);
			opacity: 1;
			z-index: 9;
			border-right: 1px solid var(--default-title-color);
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 18px;
			text-align: center;
			color: var(--default-title-color);
			padding: 10px;

			.text-background {
				background: rgba(255, 255, 255, 0.08);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.menu-text-details {
				color: var(--default-text-color);
				text-align: left;
				font-size: 11px;
				margin-top: 7px;
			}
		}

		&:hover .text {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.icon {
		width: 35px;
		height: 35px;
	}

	li {
		&.arena {
			.icon {
				width: 40px;
				height: 40px;
			}
		}
	}

	.push-down {
		margin-top: auto;
		pointer-events: none;
		height: 1px;
	}

	.go-premium {
		.icon {
			zoom: 2;
		}
		.text {
			width: 150px;
		}
	}

	.login-info {
		margin-bottom: 20px;

		.avatar {
			width: 35px;
			clip-path: ellipse(50% 50% at 50% 50%);
		}

		.text {
			width: 130px;
			bottom: 0;
			top: auto;
		}
	}
}

.main-menu-separator.main-menu-separator.main-menu-separator.main-menu-separator {
	pointer-events: none;
	height: 1px;
	border-bottom: 1px solid rgba(203, 159, 215, 0.2);
}
