.preference-slider {
	display: flex;
	margin-bottom: 15px;
	position: relative;

	label {
		font-family: Open Sans;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		font-size: 14px;
		color: #d9c3ab;
		margin: 0;
		width: 180px;

		&.disabled {
			span,
			.info > svg {
				opacity: 0.5;
			}
		}
	}

	.slider {
		width: 100%;
		opacity: 1;

		&::-webkit-slider-runnable-track {
			cursor: auto;
			-webkit-appearance: none;
			height: 15px;
			background: linear-gradient(
				transparent 0%,
				transparent 40%,
				rgba(168, 151, 130, 0.4) 40%,
				/* #a89782 */ rgba(168, 151, 130, 0.4) 60%,
				transparent 60%,
				transparent 100%
			);
		}
		&::-webkit-slider-thumb {
			// display: none;
			cursor: auto;
			width: 8px;
			height: 8px;
			position: relative;
			top: 8px;
			// margin-top: -0px;
			border-radius: 50%;
			-webkit-appearance: none;
			background: #ffb948;
			color: #ffb948;
			opacity: 1;
			// opacity: 0;
		}
	}

	.progress {
		position: absolute;
		height: 1px;
		top: 7px;
		background: #ffb948;
		pointer-events: none;

		&::before {
			content: '';
			position: absolute;
			top: -4px;
			right: -6px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: #ffb948;
			color: #ffb948;
			opacity: 1;
			z-index: 1;
		}

		.currentValue {
			position: absolute;
			right: -25px;
			width: 50px;
			text-align: center;
			top: 5px;
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 11px;
			line-height: 15px;
			color: #d9c3ab;
		}
	}

	.knobs {
		position: absolute;
		height: 2px;
		top: 7px;
		width: 100%;
		pointer-events: none;

		.knob {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 12px;
			top: -6px;
			padding-right: 12px;

			.circle {
				background: #2f0d0d;
				border: 1px solid #d9c3ab;
				border-radius: 50%;
				width: 12px;
				height: 12px;
			}

			.label {
				font-family: Open Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 11px;
				line-height: 15px;
				color: #d9c3ab;
				margin-top: 5px;
			}
		}
	}

	&:hover .slider:not(:disabled) {
		opacity: 1;
	}

	.info {
		margin-left: 5px;
		margin-top: 2px;

		.zth-tooltip {
			position: absolute;
			max-width: 200px;

			p {
				width: 200px;
				color: #2f0d0d;
			}

			&.right {
				top: 50%;
				transform: translateY(-50%);
				left: 35px;
				right: auto;
			}
		}
	}

	&.disabled {
		opacity: 0.4;
		cursor: auto;

		.slider::-webkit-slider-runnable-track {
			cursor: auto;
			-webkit-appearance: none;
		}
		.slider::-webkit-slider-thumb {
			display: none;
		}
		.progress {
			// display: none;
		}
	}
}
