@import '../../global/variables';
@import url('https://fonts.googleapis.com/css?family=Sumana');

.title-bar {
	display: flex;
	padding-left: 15px;
	justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
	height: 30px;
	padding-right: 10px;
}

.title {
	font-family: 'Sumana';
	font-weight: 400;
	font-size: 14px;
	color: #ffb948;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: flex-end;
	position: relative;
	top: 3px;
}

::ng-deep .app-container.app-container {
	padding-left: 0;
	padding-right: 0;
}

::ng-deep .controls {
	height: 30px;
	display: flex;
	z-index: 1;
	margin-right: -10px;

	// .close-button {
	// 	--icon-color: #D9C3AB;
	// }

	// .close-button:hover {
	// 	background: #D9C3AB;
	// 	color: #2F0D0D;
	// }
}

settings-app-selection {
	margin-bottom: 15px;
	flex-grow: 0;
	flex-shrink: 0;
}

settings-advanced-toggle {
	position: absolute;
	bottom: 30px;
	left: 20px;
}

settings-achievements,
settings-decktracker,
settings-general,
settings-collection,
settings-replays,
settings-battlegrounds,
settings-mercenaries {
	flex-grow: 1;
	flex-shrink: 0;
	margin-left: 15px;
	display: flex;
	// flex-grow will make sure it is properly dimensioned, but we need a height
	// for the scroll
	height: 10%;
}

::ng-deep .version-info {
	left: 5px;
	right: auto;
}
