@import '../../../../global/variables';
@import '../../../../global/fonts';

:host() {
	display: flex;
	flex-shrink: 0;
}

.duels-filters {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
	width: 100%;
	position: relative;
	// Until all filters are refactored
	min-height: 0;

	duels-filter-dropdown,
	.filter {
		// So that the margin is not applied if the filter is not displayed (no ng-select element)
		::ng-deep filter-dropdown ng-select, 
		::ng-deep sort-dropdown ng-select {
			margin-bottom: 15px;
		}
	}

	preference-toggle {
		margin-bottom: 15px;
	}
}

.hide-below-threshold-link,
.show-hidden-decks-link {
	align-self: flex-end;
	flex-grow: 1;
	height: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	right: 45px;

	::ng-deep .preference-toggle.preference-toggle.preference-toggle {
		opacity: 0.5;

		&.toggled-on {
			opacity: 0.8;
		}

		.toggle b {
			border-color: var(--color-1);
			&::before {
				background: var(--color-1);
			}
		}
		.settings-p {
			color: var(--color-1);
			width: auto;
			margin-right: 10px;
		}
	}

	&:hover {
		::ng-deep .preference-toggle.preference-toggle.preference-toggle {
			opacity: 1;
		}
	}
}

.hide-below-threshold-link {
	align-items: center;
	position: relative;
	top: 0;
	right: 0;
	align-self: auto;
	margin-left: auto;
	margin-right: 35px;

	::ng-deep .preference-toggle.preference-toggle.preference-toggle {
		margin-top: 0;
	}
}
