.content-container {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

match-stats-menu {
	width: 420px;
	border-right: 1px solid #303352;
}

.main-zone {
	flex-grow: 1;
	position: relative;
	margin-left: 15px;
}

.menu-bar {
	display: flex;
	margin-top: 5px;
	margin-bottom: 15px;
}

.title {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 22px;
	color: #ffb948;
	flex-grow: 1;
	// text-align: center;
	text-indent: 20px;
}

.controls {
	display: flex;
	position: relative;
	top: -10px;

	// ::ng-deep button,
	// ::ng-deep a {
	// 	--icon-color: #9fb6d7;
	// 	color: #9fb6d7;

	// 	&:hover {
	// 		background: #303352;

	// 		&.close-button {
	// 			color: #101530;
	// 			background: #9fb6d7;
	// 		}
	// 	}
	// }
}

ads {
	width: 400px;
	height: 300px;
	left: 20px;
	bottom: 20px;
	position: absolute;
	// --ads-background-color: #07081f;
	// --ads-color: #101530;
}
