:host() {
    width: 250px;
}

.root {
    height: 100%;

    .scalable {
        transform: scale(1);
    }

    &.clean .decktracker-container {
        background-image: radial-gradient(462.5px at 50% 50%, rgba(48, 35, 128, 0.7) 0%, rgba(24, 24, 43, 0.7) 100%);
    }

    .decktracker {
        max-height: none;
    }

    ::ng-deep {
        decktracker-deck-list {
            .deck-list {
                overflow-y: hidden;
                padding-bottom: 0;
            }
        }

        decktracker-twitch-title-bar {
            display: flex;
            background: #07081F;
        }

        decktracker-twitch-control-bar {
            display: flex;
            justify-content: flex-end;
            opacity: 0;
            
            .control-bar {
                background: #07081F;
            }
            .logo {
                display: none;
            }
        }
    }

    &.dragging {
        tooltips {
            display: none;
        }
    }

    &:hover {
        .decktracker decktracker-twitch-control-bar {
            opacity: 1;
        }
    }
}