:host() {
    width: 250px;
}

.root {

    .scalable {
        transform: scale(1);
    }

    .decktracker {
        max-height: none;
    }

    ::ng-deep {
        decktracker-deck-list {
            .deck-list {
                overflow-y: hidden;
            }
        }

        decktracker-twitch-title-bar {
            display: flex;
            justify-content: flex-end;
            opacity: 0;
            
            .title-bar {
                background: #07081F;
            }
            .logo {
                display: none;
            }
        }
    }

    &.dragging {
        tooltips {
            display: none;
        }
    }

    &:hover {
        .decktracker decktracker-twitch-title-bar {
            opacity: 1;
        }
    }
}