:host() {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 1;
	display: flex;
}

.state-mouse-over {
	width: 100%;
	height: 100%;
}

.board {
    position: absolute;
    width: 100%;
    left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.top-board {
    height: 17%;
	top: 33%;
}

.bottom-board {
    height: 17%;
    top: 50%;
}

.bottom-hand {
	position: absolute;
    width: 30%;
    left: 32%;
    display: flex;
    align-items: center;
	justify-content: center;
	// Total is not 100% because the overlay doesn't go all the way to the bottom of the screen
    top: 87%;
	height: 16%;
	
	::ng-deep empty-card img {
		height: 74%;
	}
}