<div class="coliseum-container battlegrounds-theme overlay-container-parent" *ngIf="ready$ | async">
	<div class="open-in-firestone-bar" *ngIf="powerLogKey && reviewId">
		<div class="open-in-firestone-content">
			<button class="open-in-firestone-btn" (click)="openInFirestone()">View HD In-Game Replay</button>
			<p class="open-in-firestone-hint" *ngIf="showOpenInFirestoneHint">
				Have Firestone and Hearthstone running, then switch to Hearthstone to view the HD replay.
			</p>
		</div>
	</div>
	<fs-coliseum
		class="external-player"
		[reviewId]="reviewId"
		[replayXml]="replayXml"
		[decklist]="playerDecklist"
		[bgsSimulation]="bgsSimulation"
		[initialLocation]="initialLocation"
		(replayLocation)="onReplayLocationUpdated($event)"
	></fs-coliseum>
</div>
