.search {
	position: relative;
	width: 100%;

	.search-label {
		outline: 1px solid var(--color-3);
		display: flex;

		.icon, .icon svg{
			width: 30px;
			height: 30px;
		}

		&:focus-within,
		&:hover {
			// outline: none;
			background: rgba(255, 255, 255, 0.08);
		}
	}

	input {
		background: transparent;
		border: none;
		cursor: text;
		flex-grow: 1;
		color: var(--default-text-color);
		font-family: 'Open Sans';
		font-size: 12px;

		&:focus {
			outline: none;
		}
	}

	.search-label.search-active {
		input {
			outline: none;
		}
	}
}
