:host() {
	pointer-events: all;
}

.confirmation {
	display: flex;
	flex-direction: column;
	color: var(--confirmation-text-color);
	background: var(--confirmation-background-color);
	width: 200px;
	padding: 15px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	margin-right: 10px;

	.title {
		text-align: center;
		margin-bottom: 10px;
	}

	.text {
		margin-bottom: 10px;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			width: 80px;
			height: 30px;

			&.cancel {
				border: 1px solid var(--confirmation-text-color);
				background: transparent;
				color: var(--confirmation-text-color);

				&:hover {
					background: var(--on-confirmation-button-background-color);
				}
			}

			&.ok {
				border: 1px solid var(--confirmation-ok-button-background-color);
				background: var(--confirmation-ok-button-background-color);
				color: var(--confirmation-ok-button-color);

				&:hover {
					border-color: var(--on-confirmation-ok-button-background-color);
					background: var(--on-confirmation-ok-button-background-color);
					// color: var(--on-confirmation-ok-button-color);
				}
			}
		}
	}
}

.close-button {
	position: absolute;
	top: 0;
	right: 10px;
	width: 30px;
	height: 30px;
	--icon-bg-hover: var(--on-control-button-background-color);

	&:hover {
		--icon-color: var(--on-close-button-color);
		color: var(--on-close-button-color);
		background: var(--on-close-button-background-color);
	}
}
