@import '../../global/variables';
@import '../../global/fonts';

:host {
	display: block;
}

.help-tooltip {
	text-align: center;
	cursor: default;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
	@extend %achievements-tooltip;
	color: var(--tooltip-color);
	margin: 10px;
	position: relative;

	.text {
		max-width: 200px;
		background-color: var(--tooltip-background-color);
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.tooltip-arrow {
	width: 16px;
	height: 9px;
	position: absolute;
	--icon-color: var(--tooltip-background-color);
	fill: var(--tooltip-background-color);
}

.help-tooltip.bgs-heroes-tier-list-tooltip {
	.text {
		max-width: 350px;

		::ng-deep .content {
			text-align: left;

			li {
				margin-left: 30px;
			}
		}
	}
}

.help-tooltip.bgs-heroes-tier-list-tooltip {
	.text {
		max-width: 350px;

		::ng-deep .content {
			text-align: left;

			li {
				margin-left: 30px;
			}
		}
	}
}

.help-tooltip.mercenaries-personal-hero-stat-task-tooltip {
	::ng-deep .text {
		.container {
			display: flex;
			flex-direction: column;
		}

		.current-task,
		.next-task {
			display: flex;
			flex-direction: column;

			.title {
				font-size: 14px;
				font-weight: bold;
			}
			.description {
				font-size: 12px;
			}
		}

		.next-task {
			margin-top: 15px;
		}
	}
}
