.ftue {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	.backdrop {
		background: var(--backdrop-color);
		opacity: 0.9;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// border-top: 1px solid var(--ftue-popup-background-color);
	}

	.element {
		position: relative;
		z-index: 1;
		width: 290px;
		height: 310px;
		background: var(--ftue-popup-background-color);
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: Open Sans;
		font-style: normal;
		text-align: center;
		font-size: 13px;
		color: var(--default-text-color);
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
		margin-top: -15px;
		margin-left: -100px;

		.steps {
			display: flex;
			overflow: hidden;
			width: 100%;

			.scroller {
				transition: margin-left 250ms ease-in-out;
			}

			.step {
				width: 100%;
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		.title {
			margin-top: 25px;
			font-weight: 600;
			font-size: 14px;
			color: var(--color-1);
		}

		.text {
			margin-top: 13px;
			padding-left: 20px;
			padding-right: 20px;
			height: 55px;
		}

		.icon {
			margin-top: 20px;
			height: 153px;
			min-width: 160px;

			&.home {
				height: 107px;
				// width: 78px;
			}
		}

		.progress {
			position: absolute;
			bottom: 10px;
			display: flex;

			.knot {
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: var(--color-5);
				margin-right: 6px;

				&.active {
					background: var(--color-1);
				}
			}
		}

		.get-started {
			width: 80px;
			height: 30px;
			margin-top: 30px;
			color: var(--color-1);
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid var(--color-1);

			&:hover {
				background: var(--color-1);
				color: var(--ftue-popup-background-color);
			}
		}

		.ftue-nav-link {
			position: absolute;
			padding: 10px;
			bottom: -35px;
			color: var(--inactive-link-color);

			&:hover {
				color: var(--default-text-color);
			}
		}

		.skip-ftue,
		.previous-ftue {
			left: -10px;
		}

		.next-ftue {
			right: -10px;
		}
	}
}
