:host() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999999999999;
	pointer-events: none;

	--tooltip-background-color: #a89782;
}

.new-version {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: 100%;
	pointer-events: all;
	color: #a89782;

	::ng-deep a {
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		color: #ffb948;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}
	}

	.backdrop {
		background: #190505;
		opacity: 0.9;
		position: absolute;
		top: 0;
		left: -10px;
		right: -10px;
		bottom: -10px;
	}

	.element {
		position: relative;
		z-index: 1;
		width: 580px;
		height: 540px;
		background-size: 100%;
		background-repeat: round;
		background-image: radial-gradient(
				29.81% 45.78% at 50% 50%,
				rgba(142, 91, 35, 0.7) 0%,
				rgba(102, 58, 26, 0.7) 0%,
				rgba(47, 13, 13, 0.7) 100%
			),
			url('/Files/assets/images/backgrounds/whats_new.png');

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-family: Open Sans;
		font-style: normal;
		text-align: center;
		font-size: 14px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
		margin: auto;
		padding: 20px;
		// border: 1px solid  #472406;

		.title {
			margin-top: 0;
			margin-bottom: 12px;
			margin-right: auto;
			font-weight: 600;
			font-size: 18px;
			color: #ffb948;
		}

		.sections {
			background: rgba(255, 255, 255, 0.08);
			padding: 15px;
			overflow: auto;
			display: flex;
			flex-direction: column;
			min-height: 0;
		}

		.section {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 25px;

			.header {
				font-weight: bold;
				color: #d9c3ab;
				margin-bottom: 10px;
				text-transform: uppercase;
			}

			.section-text {
				text-align: left;

				::ng-deep ul {
					padding-left: 30px;
				}
			}

			.updates {
				list-style: none;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;

				.update {
					display: flex;
					flex-direction: column;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}

					.update-header {
						// font-weight: bold;
						color: #d9c3ab;
						margin-bottom: 5px;
						text-align: left;
						display: none;
					}

					.contents {
						display: flex;
					}

					.icon {
						width: 60px;
						height: 60px;
						margin-right: 6px;
						flex-shrink: 0;
					}
				}
			}

			.details {
				list-style: none;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;

				.detail {
					text-align: start;
					margin-bottom: 6px;

					&:last-child {
						margin-bottom: 0;
					}

					.detail-type {
						color: #d9c3ab;
						font-weight: bold;
					}
				}
			}
		}

		.buttons {
			display: flex;
			width: 100%;
			justify-content: flex-end;
			margin-top: 10px;

			.dont-show {
				display: flex;
				flex-grow: 1;
				align-items: center;
				color: #d9c3ab;

				label {
					margin-bottom: 0;
					margin-right: 5px;

					i {
						position: relative;
						top: 3px;
					}

					p {
						font-weight: bold;
					}
				}
			}

			.confirm {
				border: 1px solid #ffb948;
				padding-left: 25px;
				padding-right: 25px;
				width: auto;
				height: 35px;
				display: flex;
				align-items: center;
				color: #ffb948;

				div {
					display: flex;
				}

				&:hover {
					background: #ffb948;
					border: none;

					span {
						color: #2f0d0d;
					}

					i {
						--icon-color: #2f0d0d;
					}
				}
			}
		}

		.close-button {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;
			--icon-color: #d9c3ab;

			&:hover {
				--icon-color: #472406;
				background: #d9c3ab;
			}
		}
	}
}
