.collection-notification {
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
	overflow-y: scroll;

	h2 {
		margin-top: 15px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		font-size: 14px;
		color: #d9c3ab;
	}

	.toggle-label {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}
