@import '../../../global/variables';
@import '../../../global/fonts';

:host {
	height: 100%;
	display: flex;
}

.constructed-meta-decks {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		overflow-y: scroll;
	}
}

.empty-state {
	@extend %empty-state;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	color: var(--secondary-text-color);
	--icon-color: var(--secondary-text-color);

	.state-container {
		margin: auto;
		margin-bottom: 25vh;
		display: flex;
		flex-direction: column;
		align-items: center;

		i {
			margin-bottom: 30px;
		}

		.title {
			@extend %empty-state-title;
			margin-bottom: 15px;
			color: var(--secondary-text-color);
		}

		.subtitle {
			color: var(--secondary-text-color);
		}

		svg {
			fill: transparent;
		}
	}
}
