@import '../../../global/variables';
@import '../../../global/fonts';

:host {
	height: 100%;
	display: flex;
}

.decktracker-ladder-stats {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 100%;

	.menu-selection {
		justify-content: flex-end;
		position: relative;
		// If all filters are present, the top is a full line and there is an overlap
		margin-top: 0;
		padding-right: 40px;
		top: -7px;

		.menu-item {
			margin-right: 15px;
			--icon-color: var(--color-2);
			--icon-secondary-color: var(--color-7);
			border: 0;
			z-index: 2;

			&:not(.selected) {
				color: var(--color-3);
			}

			&:hover,
			&.selected {
				color: var(--default-title-color);
				--icon-color: var(--default-title-color);
			}

			&.overview {
				width: 22px;
			}

			&.matchups {
				width: 27px;
			}
		}
	}

	decktracker-ladder-stats-overview,
	decktracker-ladder-stats-matchups {
		overflow: scroll;
	}
}
