:host() {
	flex-direction: column;
	overflow: auto;
}

.decktracker-deck-details {
	display: flex;
	flex-grow: 1;
	padding-right: 10px;
	margin-top: 10px;

	.deck-list-container {
		order: 2;
		margin-left: 20px;
		margin-right: 20px;
		display: flex;
		flex-direction: column;
		width: 210px;

		.copy-deckcode {
			margin-bottom: 10px;
			justify-content: flex-start;

			::ng-deep .copy-deckstring {
				--icon-color: var(--color-5);

				&:hover {
					--icon-color: var(--color-1);
				}
			}
		}
	}

	deck-winrate-matrix {
		margin-top: -10px;
		margin-right: auto;
	}
}
