:host() {
	flex-direction: column;
	overflow: auto;
}

.decktracker-deck-details {
	display: flex;
	flex-grow: 1;
	padding-right: 10px;
	margin-top: 10px;
	--decklist-width: 210px;
	flex-wrap: wrap;

	.global-stats {
		width: 100%;
		flex-shrink: 0;

		::ng-deep .winrate,
		::ng-deep .games {
			display: none;
		}
	}

	.deck-list-container {
		order: 2;
		margin-left: 20px;
		margin-right: 20px;
		display: flex;
		flex-direction: column;
		width: var(--decklist-width);

		.copy-deckcode {
			margin-bottom: 10px;
			justify-content: flex-start;

			::ng-deep .copy-deckstring {
				--icon-color: var(--color-5);

				&:hover {
					--icon-color: var(--color-1);
				}
			}
		}
	}

	deck-winrate-matrix {
		margin-top: -10px;
		margin-right: auto;
		max-width: calc(100% - var(--decklist-width));
	}
}
