:host() {
	height: 100%;
}

.decktracker-deck-recap {
	display: flex;
	flex-direction: column;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	color: var(--default-text-color);
	font-size: 14px;
	padding: 15px;
	max-height: 100%;
	height: 100%;
	width: 100%;
	max-width: 100%;

	.title {
		color: var(--color-1);
		margin-bottom: 30px;
	}

	.deck-summary {
		display: flex;
	}

	.deck-image {
		width: 75px;
		position: relative;
		flex-grow: 0;
		margin-right: 20px;
		flex-shrink: 0;

		.skin {
			width: 100%;
			clip-path: polygon(0% 100%, 0% 56%, 15% 20%, 50% 5%, 80% 20%, 90% 56%, 90% 100%);
		}
		.frame {
			position: absolute;
			top: -8%;
			left: -16%;
			width: 120%;
		}
	}

	.deck-title {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.deck-name {
			color: var(--default-title-color);
			margin-bottom: 15px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.archetype {
				display: flex;
			}
		}

		.replay {
			display: flex;
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 18px;
			color: var(--default-text-color);
			--icon-color: var(--default-text-color);
			align-items: center;
			flex-grow: 0;
			justify-content: flex-end;
			margin-left: auto;

			.watch {
				margin-left: 10px;
				font-size: 12px;
				width: 50px;
				line-height: 15px;
			}

			&:hover,
			&:hover svg {
				color: var(--on-menu-selection-color);
				--icon-color: var(--on-menu-selection-color);
			}

			.watch-icon {
				width: 38px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 0 0 auto;
				cursor: default;
				transition: 0.15s;
				color: transparent;
			}
		}
	}

	.best-against {
		margin-left: 40px;
		border-left: 1px solid var(--default-text-color);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;		

		.header {
			color: var(--default-title-color);
			font-size: 14px;
			margin-bottom: 10px;
			text-align: center;
		}

		.classes {
			display: flex;

			.class-icon {
				width: 30px;
				height: 30px;
				clip-path: circle(15px at 50% 50%);
				margin-right: 5px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.deck-stats-recap {
		display: flex;
		margin-top: 20px;

		.recap {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-right: 40px;

			.icon svg {
				width: 35px;
				height: 35px;
			}

			.data {
				font-size: 23px;
			}

			.text {
				font-size: 13px;
				text-align: center;
			}
		}
	}
}
