@import '../../../global/variables';
@import '../../../global/fonts';

:host {
	height: 100%;
	display: flex;
}

// .drag-template {
// 	position: absolute;
// }

.decktracker-decks {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		overflow-y: scroll;

		li {
			width: 155px;
			height: 200px;
			margin-right: 13px;
			margin-bottom: 13px;

			&.valid-merging-target {
				border: 2px solid var(--color-1);
				opacity: 0.8;
			}
			&.invalid-merging-target {
				opacity: 0.5;
				// pointer-events: none;
				::ng-deep decktracker-deck-summary {
					.decktracker-deck-summary {
						background: rgba(255, 255, 255, 0.08);
					}
					button {
						display: none;
					}
				}
			}
			&.current-merging-target:not(.invalid-merging-target) {
				opacity: 1;
				::ng-deep decktracker-deck-summary {
					button {
						display: none;
					}
				}
			}
			&.merging-source {
				opacity: 1;
				::ng-deep decktracker-deck-summary {
					.decktracker-deck-summary {
						background: rgba(255, 255, 255, 0.08);
					}
					button {
						display: none;
					}
				}
			}
		}
	}
}

.empty-state {
	@extend %empty-state;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	color: var(--secondary-text-color);
	--icon-color: var(--secondary-text-color);

	.state-container {
		margin: auto;
		margin-bottom: 25vh;
		display: flex;
		flex-direction: column;
		align-items: center;

		i {
			margin-bottom: 30px;
		}

		.title {
			@extend %empty-state-title;
			margin-bottom: 15px;
			color: var(--secondary-text-color);
		}

		.subtitle {
			color: var(--secondary-text-color);
		}

		svg {
			fill: transparent;
		}
	}
}
