@import '../../../global/variables';
@import '../../../global/fonts';

:host {
	height: 100%;
	display: flex;
}

.decktracker-ladder-stats {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 100%;
	position: relative;
	left: -10px;
	// So taht the graphs are properly centered
	width: calc(100% + 10px);

	.graphs {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.graph {
		width: 50%;
		max-width: 500px;
		display: flex;
		flex-direction: column;
		font-family: Open Sans;

		.title {
			color: var(--default-title-color);
			font-size: 20px;
			text-align: center;
			position: relative;
			top: 15px;
		}

		.chart {
			width: 100%;
		}
	}
}
