@import '../../../global/variables';
@import '../../../global/fonts';

:host() {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 100%;
	overflow: auto;

	.graphs {
		display: flex;
		justify-content: space-evenly;
		margin-top: 20px;
	}

	.graph {
		width: 50%;
		max-width: 350px;
		display: flex;
		flex-direction: column;
		font-family: Open Sans;
		align-items: center;

		.title {
			color: var(--default-title-color);
			font-size: 20px;
			text-align: center;
			margin-bottom: 20px;
		}

		.chart {
			width: 100%;
			max-width: 250px;
		}
	}
}
