:host() {
	flex-direction: column;
	overflow: auto;
}

.decktracker-deck-details {
	display: flex;
	flex-grow: 1;
	padding-right: 10px;
	margin-top: 10px;

	.deck-list-container {
		order: 2;
		margin-left: 20px;
		margin-right: 20px;
		display: flex;
		flex-direction: column;
		width: 210px;

		.copy-deckcode {
			margin-bottom: 10px;
			justify-content: flex-start;

			::ng-deep .copy-deckstring {
				--icon-color: var(--color-5);

				&:hover {
					--icon-color: var(--color-1);
				}
			}
		}
	}

	deck-winrate-matrix {
		margin-top: -10px;
		margin-right: auto;
	}
}

.reset-container {
	color: #d9c3ab;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 20px;

	button {
		border: 1px solid #d9c3ab;
		padding: 15px;
		width: 140px;
		display: flex;
		justify-content: center;
		align-items: center;

		span {
			color: #d9c3ab;
		}

		div {
			display: flex;
		}

		&:hover {
			background: #ffb948;
			border: none;

			span {
				color: #2f0d0d;
			}
		}
	}

	.confirmation {
		margin-top: 5px;
		font-size: 12px;
	}
}
