:host() {
	flex-grow: 1;
	display: flex;
}

.deck-winrate-matrix {
	color: var(--default-text-color);
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	flex-grow: 1;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}
.cell {
	min-width: 80px;
	width: 80px;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&.class {
		flex-grow: 1;
	}

	&.total-games {
		min-width: 90px;
		width: 90px;
	}
}

::ng-deep {
	.cell {
		min-width: 80px;
		width: 80px;
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		&.class {
			flex-grow: 1;
			display: flex;
			justify-content: flex-end;
			padding-right: 30px;
		}

		&.total-games {
			min-width: 90px;
			width: 90px;
		}
	}
}

deck-matchup-info {
	margin-bottom: 5px;

	&.no-data {
		opacity: 0.5;
	}
}

.percentage-toggle ::ng-deep .settings-p.settings-p.settings-p {
	width: 100px;
}
