@import '../../../global/variables';
@import '../../../global/fonts';

.global-stats {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 15px;
	flex-wrap: wrap;

	.global-stat {
		border: 1px solid var(--color-common-2);
		background: rgba(255, 255, 255, 0.08);
		padding: 5px;
		display: flex;
		flex-direction: column;
		width: 155px;
	    height: 80px;
		align-items: center;
		justify-content: center;
		margin-right: 15px;
		margin-bottom: 20px;

		.label {
		    text-align: center;
			color: var(--default-text-color);
			margin-bottom: 5px;
		}

		.value {
			color: var(--default-title-color);
		}
	}
}
