:host() {
	padding-bottom: 10px;
	flex-grow: 1;
}

.decktracker-rating-graph {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.08);
	padding: 10px;
	margin-right: 10px;
	max-width: calc(100% - 10px);
	overflow: hidden;
	position: relative;
}

.header {
	color: #84725f;
	font-size: 11px;
	margin-bottom: 15px;
}
