.menu-selection {
	color: var(--menu-selection-color);
	flex-shrink: 0;
	flex-grow: 0;

	li,
	button.menu-item {
		margin-right: 25px;
		padding-bottom: 7px;

		&:hover {
			&:not(.disabled) {
				color: var(--on-menu-selection-color);
			}
		}

		span {
			display: flex;
		}
	}
}
