:host() {
	width: 100%;
	display: flex;
}

.card {
	display: flex;
	align-items: center;
	height: 26px;
	position: relative;
	overflow: hidden;
	flex-grow: 1;

	&:hover {
		transform: scale(1.1);
		z-index: 9;
	}

	.background-image {
		position: absolute;
		top: 1px; // Otherwise there is a little band of color showing when art is blank
		left: 0;
		right: 0;
		bottom: 1px;
		background-size: cover;
		// Because some tiles still have a white border on the right
		background-position-x: 15px;
	}

	.gradiant {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(89.48deg, rgba(0, 0, 0, 1) 0%, #090a0d 36.89%, rgba(9, 10, 13, 0) 99.92%);
	}

	.mana-cost {
		width: 30px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		background: #303352;
		flex-shrink: 0;

		span {
			font-family: Sumana;
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 16px;
			color: #9fb6d7;
		}
	}

	.card-name {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 10px;
		z-index: 1;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 130px;

		span {
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 13px;
			color: #ffe3ba;
		}
	}

	.number-of-copies,
	.legendary-symbol {
		width: 23px;
		height: 100%;
		background: #131010;
		border: 1px solid #9fb6d7;
		--icon-color: #9fb6d7;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1px;
		z-index: 1;
		flex-shrink: 0;

		.inner-border {
			height: 100%;
			flex-grow: 1;
			border: 1px solid #9fb6d7;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		span {
			font-family: Sumana;
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 15px;
			color: #9fb6d7;
		}

		i,
		.icon {
			width: 13px;
			height: 12px;
		}
	}

	&.color-mana-cost {
		.mana-cost {
			background: #bfc1c4;
			span {
				color: #07081f;
			}
		}
		&.rare .mana-cost {
			background: #357ee3;
		}
		&.epic .mana-cost {
			background: #6d3e92;
		}
		&.legendary .mana-cost {
			background: #ae7014;
		}
	}
}

.additional-info {
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	width: 35px;
	flex-shrink: 0;
	flex-grow: 0;
	margin-right: 5px;
}
