:host() {
	display: flex;
	min-height: 0;
	flex-grow: 1;
}

.duels-deckbuilder-hero-power {
	display: flex;
	min-height: 0;
	flex-grow: 1;
	flex-wrap: wrap;
	overflow: auto;
	align-items: center;
	justify-content: space-around;

	.hero-power {
		width: 15vw;
		display: flex;
		position: relative;
		max-width: 250px;
		opacity: 0.8;
		justify-self: center;

		.icon {
			width: 100%;
		}

		&:hover {
			opacity: 1;
		}
	}
}
