:host() {
	display: flex;
	min-height: 0;
	flex-grow: 1;
}

.duels-deckbuilder-hero {
	display: flex;
	min-height: 0;
	flex-grow: 1;
	flex-wrap: wrap;
	overflow: auto;
	padding-bottom: 20px;

	.hero {
		width: 15vw;
		display: flex;
		flex-direction: column;
		position: relative;
		max-width: 250px;
		opacity: 0.8;

		.portrait {
			width: 100%;
		}

		.hero-name {
			font-size: 14px;
			width: 100%;
			text-align: center;
			position: relative;
			top: -5%;
		}

		.classes {
			display: flex;
			flex-direction: column;
			position: absolute;
			left: 11%;
			bottom: 13%;

			img {
				width: 45px;
				height: 45px;
			}
		}

		.warning {
			position: absolute;
			top: 5%;
			right: 16%;
			width: 30px;
			height: 30px;
		}

		&:hover {
			opacity: 1;
		}
	}
}
