.in-game-opponent-recap {
	height: 100%;
	width: 100%;
	display: flex;

	.header {
		color: var(--default-title-color);
		font-size: 14px;
		text-align: center;
		margin-bottom: 10px;
	}

	.played-cards-container {
		width: 190px;
		margin-right: 15px;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;

		.played-cards {
			margin-left: 10px;
			margin-right: 20px;
		}

		.no-cards-played {
			flex-grow: 1;
			background: rgba(255, 255, 255, 0.08);
			padding: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}

	.archetype-guess {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		min-width: 0;

		.container {
			flex-grow: 1;
			background: rgba(255, 255, 255, 0.08);
			padding: 15px;
			display: flex;
			flex-direction: column;
			min-height: 0;
			overflow: visible;

			.no-archetype-name {
				display: flex;
				flex-grow: 1;
				align-items: center;
				justify-content: center;
			}

			.archetypes-list {
				display: flex;
				min-height: 0;
				overflow: visible;

				.archetype {
					max-width: calc(30% - 20px);
					margin-right: 50px;

					.full-list {
						height: 80%;
					}

					.decklist-popularity {
						margin-top: 5px;
						text-align: center;
					}

					.use-decklist-button {
						border: 1px solid #d9c3ab;
						padding-left: 25px;
						padding-right: 25px;
						width: auto;
						height: 35px;
						display: flex;
						align-self: flex-start;
						align-items: center;
						margin-left: auto;
						margin-right: auto;
						margin-top: 10px;

						span {
							color: #d9c3ab;
						}

						div {
							display: flex;
						}

						&:hover {
							background: #ffb948;
							border: none;

							span {
								color: #2f0d0d;
							}
						}
					}
				}
			}
		}
	}
}
