.bgs-battle {
	display: flex;
	flex-direction: column;
	position: relative;

	.battle-content {
		display: flex;
	}

	.battle-boards {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.versus {
		padding-left: 25px;
	}

	.simulations {
		display: flex;
		flex-direction: column;
		margin-left: 15px;
		border-left: 1px solid var(--color-3);
		padding-left: 15px;
		padding-right: 15px;
		justify-content: space-between;

		.side-buttons {
			display: flex;
			flex-direction: column;
		}
	}

	.result {
		display: flex;
		align-items: center;

		.label {
			width: 50px;
		}

		bgs-battle-status {
			::ng-deep {
				.battle-simulation {
					align-items: center;
				}
				.probas,
				.damage-container {
					border: none;
					padding: 0;
					margin-bottom: 15px;
				}
				.damage-container {
					display: none;
				}
			}
		}
	}

	.controls {
		display: flex;
		justify-content: space-evenly;

		.button {
			width: 100px;
			height: 30px;
			border: 1px solid var(--confirmation-text-color);
			background: transparent;
			color: var(--confirmation-text-color);
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: 'Open Sans', sans-serif;

			&:hover {
				background: var(--on-confirmation-button-background-color);
				color: var(--on-confirmation-text-color);
			}

			&.simulate.disabled {
				background: var(--default-title-color);
				border: 1px solid var(--default-title-color);
				color: var(--color-7);
				font-weight: bold;
				opacity: 0.8;

				&:hover {
					background: var(--default-title-color);
					border: 1px solid var(--default-title-color);
					color: var(--color-7);
					opacity: 1;
				}
			}
		}
	}

	&.inline {
		margin-left: 75px;
		border: 1px solid;
		border-image: linear-gradient(-45deg, rgba(159, 182, 215, 0), #ffb948) 1;

		.turn-label {
			position: absolute;
			top: 3px;
			left: 85px;
			display: flex;
			font-size: 14px;
			margin-bottom: 10px;
			color: var(--default-title-color);

			.result {
				&.won {
					color: #61ff47;
				}
				&.lost {
					color: #ff4747;
				}

				&:before {
					content: '-';
					color: var(--default-text-color);
					margin-left: 5px;
					margin-right: 5px;
				}
			}
		}

		.battle-content {
			background: rgba(255, 255, 255, 0.08);
		}

		.battle-boards {
			position: relative;
			width: 590px;
			flex-grow: 0;

			.versus {
				font-size: 20px;
				position: absolute;
				top: calc(50% - 5px);
				left: 89px;
			}

			::ng-deep bgs-battle-side {
				.bgs-battle-side {
					align-items: center;
				}

				.hero {
					.portrait {
						width: auto;
					}

					bgs-plus-button {
						display: none;
					}
				}

				.board {
					height: 90px;

					.minion-container {
						margin-right: 10px;
					}

					.click-to-add {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 60px;

						.change-icon {
							top: 5px;
						}
					}
				}

				&.opponent {
					position: relative;
					left: -65px;

					.hero {
						margin-right: 10px;
						position: relative;
						top: -5px;

						.tavern {
							width: 46px;
							height: 46px;
						}
					}

					.hero-portrait-frame {
						width: 138px;
						height: 156px;
					}

					.hero-power {
						left: 0;
						bottom: 0;
					}
				}

				&.player {
					position: relative;
					left: -50px;

					.hero {
						margin-right: 20px;
						position: relative;
						top: 2px;

						.tavern {
							width: 35px;
							height: 35px;
						}
					}

					.hero-portrait-frame {
						width: 103px;
						height: 116px;
					}

					.hero-power {
						bottom: 0;
					}
				}
			}
		}

		.simulations {
			margin-top: 20px;
			margin-bottom: 20px;
			flex-grow: 1;

			.result {
				flex-direction: column;
				align-items: flex-start;

				.label {
					width: auto;
				}
			}

			.controls {
				justify-content: space-between;

				.simulate {
					background: var(--color-2);
					color: var(--color-5);
					border: none;
					width: 80px;

					&:hover {
						background: var(--color-1);
					}
				}

				.reset,
				.export,
				.import {
					display: flex;
					align-items: flex-end;
					justify-content: center;
					font-size: 12px;
					z-index: 9;
					position: relative;
					top: 5px;

					.icon {
						--icon-color: var(--default-title-color);
						width: 25px;
						position: relative;
						left: 5px;
					}

					&:hover {
						color: var(--default-title-color);
					}
				}

				.export,
				.import {
					.icon {
						--icon-color-secondary: var(--default-title-color);
						--icon-color: transparent;
						margin-right: 10px;
						width: 15px;
					}

					&:hover .icon {
						--icon-color: var(--default-title-color);
					}
				}
			}

			bgs-battle-status {
				width: 100%;

				::ng-deep {
					.battle-simulation {
						width: 100%;
					}
					.probas {
						width: 100%;
						max-width: 205px;
					}
				}
			}
		}
	}

	&.full-screen-mode {
		height: 100%;

		.battle-content {
			height: 100%;
		}

		.battle-boards {
			justify-content: space-between;
		}

		.simulations {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: 65px;

			.controls {
				padding-right: 30px;
				margin-right: 30px;
				border-right: 1px solid var(--color-2);
				height: 40px;
				display: flex;
				align-items: center;

				.button {
					background: var(--color-2);
					color: var(--color-5);
					border: none;

					&:hover {
						background: var(--color-1);
					}
				}
			}
		}

		bgs-battle-side {
			::ng-deep .bgs-battle-side {
				.hero .tavern {
					width: 35px;
					height: 35px;
				}
			}

			&.player {
				::ng-deep .bgs-battle-side {
					.board {
						margin-top: 0;
						margin-bottom: 30px;
					}

					.hero {
						order: 2;
					}
				}
			}
		}

		.side-buttons {
			display: flex;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 9;
		}

		.button {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;

			.icon {
				--icon-color: var(--default-title-color);
			}

			&:hover {
				color: var(--default-title-color);
			}

			&:not(:last-child) {
				margin-right: 10px;
			}

			&.import {
				margin-right: 20px;
			}

			&.import,
			&.export {
				.icon {
					--icon-color-secondary: var(--default-title-color);
					--icon-color: transparent;
					margin-right: 5px;
				}

				&:hover .icon {
					--icon-color: var(--default-title-color);
				}
			}
		}
	}
}

@media (min-width: 1370px) {
	.bgs-battle {
		.result {
			bgs-battle-status {
				::ng-deep {
					.damage-container:not(.lethal) {
						display: flex;
						margin-left: 15px;
					}
				}
			}
		}
	}
}

@media (min-width: 1480px) {
	.bgs-battle {
		.result {
			bgs-battle-status {
				::ng-deep {
					.damage-container.lethal {
						display: flex;
						margin-left: 15px;
					}
				}
			}
		}
	}
}
