:host() {
	position: absolute;
	width: 19px;
	height: 19px;
	z-index: 2;
}

.change-icon {
	&:hover {
		--icon-color-secondary: var(--color-3);
		filter: drop-shadow(0px 0px 8px rgba(223, 179, 211, 0.7));
	}
}
