.bgs-battle-side {
	display: flex;

	.hero {
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		z-index: 9;
		position: relative;
		margin-right: 30px;

		.portrait {
			width: 60px;

			&.click-to-change ::ng-deep .hero-portrait .portrait {
				cursor: pointer;
			}
		}

		::ng-deep bgs-hero-portrait {
			.health .value {
				font-size: 22px;
				// top: 74%;
			}
		}

		.tavern {
			position: absolute;
			right: -8%;
			top: 20%;
			width: 35%;
		}
	}

	.board {
		display: flex;

		.minion-container {
			margin-right: 5px;
			display: flex;
			position: relative;

			.button {
				width: 19px;
				height: 19px;
				position: absolute;
			}

			.update {
				top: 0px;
				left: calc(50% - 23px);
			}

			.remove {
				top: 0px;
				left: calc(50% + 3px);
			}
		}

		.minion {
			// Needed for drag and drop
			display: flex;

			::ng-deep .card-on-board {
				width: 60px;
				height: auto;
			}

			&:hover {
				filter: drop-shadow(0px 0px 8px rgba(223, 179, 211, 0.7));
			}
		}

		.click-to-add {
			position: relative;

			.change-icon {
				top: -8px;
				left: 20px;
			}
		}

		.cdk-drag-placeholder {
			opacity: 0;
		}
	}

	.cdk-drag-preview {
		box-sizing: border-box;
		border-radius: 4px;
		box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
			0 3px 14px 2px rgba(0, 0, 0, 0.12);
	}

	.cdk-drop-dragging .cdk-drag {
		transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
	}

	.cdk-drag-animating {
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}

	.minion:last-child {
		border: none;
	}

	.board.cdk-drop-list-dragging .minion:not(.cdk-drag-placeholder) {
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}

	&.full-screen-mode {
		flex-direction: column;

		.hero {
			align-items: center;
			margin: 0;

			.portrait {
				width: auto;
			}
		}

		.board {
			margin-top: 30px;
			align-items: center;
			justify-content: center;
		}
	}
}
