.container {
	display: flex;
	height: 100%;
	flex-grow: 1;
	min-width: 0;

	&.no-ads {
		.left {
			height: calc(100% + 25px);
		}
	}
}

.left {
	width: 400px;
	height: calc(100% - 300px);
	flex-shrink: 0;
	order: 2;
	font-size: 20px;
	margin-left: 10px;
	min-height: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	top: -30px;

	.title {
		font-size: var(--variable-title-font-size-big);
		color: var(--color-8);
		display: flex;
		margin-bottom: 20px;
	}

	.left-info {
		min-height: 0;
		height: 100%;
		background: var(--color-7);
		display: flex;
		flex-direction: column;
		padding: 20px;
		overflow: auto;
	}
}

.empty-state {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10vh;

	i {
		width: 30vw;
		height: 20vw;
		margin-bottom: 30px;
		--icon-color: var(--color-1);
	}

	.title {
		margin-bottom: 15px;
		color: var(--color-1);
	}

	.subtitle {
		color: var(--color-1);
	}

	svg {
		fill: transparent;
	}
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	width: calc(100% - 410px);
	position: relative;
	top: 0px;
	overflow: auto;

	.explanations {
		margin-bottom: 20px;

		a {
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			color: #ffb948;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}
		}
	}

	bgs-battle {
		padding: 20px;

		&:not(:last-child) {
			border-bottom: 1px solid var(--color-3);
		}
	}
}
