.container {
	position: relative;

	.hero {
		position: relative;

		.portrait {
			width: 100px;
		}

		.change-icon {
			top: -5px;
			left: 40px;
		}

		.tavern {
			position: absolute;
			width: 25px;
			height: 25px;
			top: 15%;
			right: -4%;
			z-index: 1;
		}
	}

	.hero-power {
		position: absolute;
		bottom: -4px;
		z-index: 1;
		left: -25px;
		width: 53px;
		height: 65px;

		.hero-power-container {
			width: 100%;
			height: 100%;
		}

		.image {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			clip-path: ellipse(40% 30% at 50% 55%);

			&.empty-icon {
				background: var(--color-5);
			}
		}

		.frame {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		.change-icon {
			top: 20px;
			right: -5px;
		}
	}
}
