.bgs-battle {
	display: flex;
	flex-direction: column;
	position: relative;

	.battle-content {
		display: flex;
	}

	.turn-label {
		display: flex;
		font-size: 14px;
		margin-bottom: 10px;
		color: var(--default-title-color);

		.turn {
		}

		.result {
			&.won {
				color: #61ff47;
			}
			&.lost {
				color: #ff4747;
			}

			&:before {
				content: '-';
				color: var(--default-text-color);
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}

	.battle-boards {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.versus {
		padding-left: 25px;
	}

	.simulations {
		display: flex;
		flex-direction: column;
		margin-left: 15px;
		border-left: 1px solid var(--color-3);
		padding-left: 15px;
		padding-right: 15px;
		justify-content: space-between;
	}

	.result {
		display: flex;
		align-items: center;

		.label {
			width: 50px;
		}

		bgs-battle-status {
			::ng-deep {
				.battle-simulation {
					align-items: center;
				}
				.probas,
				.damage-container {
					border: none;
					padding: 0;
					margin-bottom: 15px;
				}
				.damage-container {
					display: none;
				}
			}
		}
	}

	.controls {
		display: flex;
		justify-content: space-evenly;

		.button {
			width: 100px;
			height: 30px;
			border: 1px solid var(--confirmation-text-color);
			background: transparent;
			color: var(--confirmation-text-color);
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: 'Open Sans', sans-serif;

			&:hover {
				background: var(--on-confirmation-button-background-color);
				color: var(--on-confirmation-text-color);
			}

			&.simulate.disabled {
				background: var(--default-title-color);
				border: 1px solid var(--default-title-color);
				color: var(--color-7);
				font-weight: bold;
				opacity: 0.8;

				&:hover {
					background: var(--default-title-color);
					border: 1px solid var(--default-title-color);
					color: var(--color-7);
					opacity: 1;
				}
			}
		}
	}

	&.full-screen-mode {
		height: 100%;

		.battle-content {
			height: 100%;
		}

		.battle-boards {
			justify-content: space-between;
		}

		.simulations {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: 65px;

			.controls {
				padding-right: 30px;
				margin-right: 30px;
				border-right: 1px solid var(--color-2);

				.button {
					background: var(--color-2);
					color: var(--color-5);
					border: none;

					&:hover {
						background: var(--color-1);
					}
				}
			}
		}

		bgs-battle-side.player {
			::ng-deep .bgs-battle-side {
				.board {
					margin-top: 0;
					margin-bottom: 30px;
				}

				.hero {
					order: 2;
				}
			}
		}

		.reset {
			position: absolute;
			bottom: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			z-index: 9;

			.icon {
				--icon-color: var(--default-title-color);
			}

			&:hover {
				color: var(--default-title-color);
			}
		}
	}
}

@media (min-width: 1370px) {
	.bgs-battle {
		.result {
			bgs-battle-status {
				::ng-deep {
					.damage-container:not(.lethal) {
						display: flex;
						margin-left: 15px;
					}
				}
			}
		}
	}
}

@media (min-width: 1480px) {
	.bgs-battle {
		.result {
			bgs-battle-status {
				::ng-deep {
					.damage-container.lethal {
						display: flex;
						margin-left: 15px;
					}
				}
			}
		}
	}
}
