:host() {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	background: var(--popup-background-image);
	font-size: 14px;
	font-family: Open Sans;
	pointer-events: all;
	width: 710px;
	min-height: 580px;
	max-height: calc(100% - 100px);
	height: 100%;
	color: var(--default-text-color);
	padding: 15px;
	position: relative;
	display: flex;
	flex-direction: column;

	.content-container {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.close-button {
		position: absolute;
		top: 0;
		right: 0;
	}

	.title {
		color: var(--default-title-color);
		font-size: 20px;
		margin-bottom: 15px;
	}

	.current-hero {
		display: flex;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid var(--color-4);
		justify-content: center;

		.hero-portrait-frame {
			bgs-card-tooltip ::ng-deep .container {
				.card {
					width: 100%;
				}
				.stat-value {
					font-size: 30px;
				}
			}
		}

		.abilities {
			display: flex;
			flex-direction: column;
			margin-top: 30px;

			.attributes {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				column-gap: 10px;

				checkbox ::ng-deep {
					label {
						i {
							margin-right: 6px;
							--icon-color: var(--color-2);
							--icon-color-secondary: var(--color-2);
						}
						p {
							color: var(--default-text-color);
						}

						&:hover,
						&:focus {
							i {
								--icon-color: var(--color-1);
							}
						}
					}
				}
				checkbox:focus {
					::ng-deep label {
						i {
							--icon-color: var(--color-1);
						}
					}
				}
			}

			.stats {
				display: flex;
				margin-bottom: 15px;
			}

			.input {
				display: flex;
				align-items: center;
				margin-right: 15px;

				.label {
					margin-right: 6px;
				}

				input {
					background: var(--color-7);
					width: 60px;
					height: 25px;
					border: 1px solid var(--color-3);
					color: var(--color-3);
					padding-left: 6px;
					appearance: textfield;
					cursor: text;

					&:focus {
						outline: none;
						border-color: var(--color-2);
						color: var(--color-2);
					}

					&:hover {
						border-color: var(--color-2);
						cursor: text;
					}
				}

				// Use custom buttons instead
				input[type='number']::-webkit-inner-spin-button,
				input[type='number']::-webkit-outer-spin-button {
					-webkit-appearance: none;
				}

				.buttons {
					left: -20px;
					position: relative;
					display: flex;
					flex-direction: column;

					.arrow {
						--icon-color: var(--color-3);
						background: transparent;
						width: 8px;
						height: 5px;
						margin-bottom: 2px;

						&.up {
						}

						&.down {
							transform: scale(-1);
						}

						&:hover {
							background: transparent;
							--icon-color: var(--color-2);
						}
					}
				}
			}

			&.disabled {
				.attributes,
				.stats {
					pointer-events: none;
					opacity: 0.4;

					.arrow {
						display: none;
					}
				}
			}
		}
	}

	.hero-portrait-frame {
		position: relative;
		width: 137px;
		height: 190px;
		margin-right: 20px;
		filter: drop-shadow(0px 0px 8px rgba(223, 179, 211, 0.7));
		flex-shrink: 0;

		.icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		.frame {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		&.empty {
			filter: none;
		}
	}

	.hero-selection {
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 0;

		.search {
			height: 30px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-bottom: 15px;

			.header {
				font-size: 16px;
				flex-grow: 1;
			}

			.filter {
				::ng-deep filter-dropdown {
					width: 100%;
				}
			}

			.tribe-filter,
			.tier-filter {
				margin-right: 15px;
			}

			label {
				width: 210px;
				height: 100%;
				outline: 1px solid var(--color-3);
				display: flex;
				color: var(--color-3);

				&:focus-within,
				&:hover {
					// outline: none;
					background: rgba(255, 255, 255, 0.08);
				}

				.icon {
					--icon-color: var(--color-2);
				}

				input {
					background: transparent;
					border: none;
					cursor: text;
					flex-grow: 1;
					color: var(--color-3);

					&:focus {
						outline: none;
						color: var(--color-2);
					}
				}

				&.search-active {
					input {
						outline: none;
						color: var(--color-2);
					}
				}
			}

			::selection {
				background-color: var(--color-4);
			}

			::-webkit-input-placeholder {
				color: var(--color-3);
			}
		}

		.heroes {
			min-height: 0;
			overflow-y: scroll;
			display: flex;
			flex-wrap: wrap;

			.hero-portrait-frame {
				width: 119px;
				height: 164px;
				margin-right: 10px;
			}

			.hero-portrait-frame:not(.selected):not(:hover) {
				filter: none;
			}
		}
	}

	.controls {
		margin-top: 15px;
		display: flex;
		align-items: center;
		justify-content: center;

		.button {
			width: 100px;
			height: 30px;
			background: var(--color-2);
			color: var(--color-5);
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: 'Open Sans', sans-serif;

			&.disabled {
				opacity: 0.4;
				pointer-events: none;
			}

			&:hover:not(.disabled) {
				background: var(--color-1);
				color: var(--on-confirmation-text-color);
			}
		}
	}
}
