@import '../../global/variables';
@import '../../global/fonts';

.achievement-history {
	margin-top: 12px;
	width: 400px;
	display: flex;
	flex-direction: column;

	.top-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;

		.title {
			@extend %achievements-history-header;
			display: flex;
			align-items: center;
		}
	}

	ul {
		background: rgba(255, 255, 255, 0.08);
		list-style: none;
		padding: 0;
		margin: 0;
		// height: 160px;
		// height: 212px;
		overflow-y: scroll;
		overflow-x: hidden;

		li {
			display: flex;
			align-items: center;
			justify-content: stretch;
			padding-left: 10px;

			&:hover {
				background: rgba(255, 255, 255, 0.04);
			}
		}

		li:before {
			content: '•';
			font-size: 20px;
			color: #d9c3ab;
		}

		achievement-history-item {
			flex-grow: 1;
			max-width: calc(100% - 5px);
		}
	}

	.empty-state {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		i {
			margin-bottom: 10px;
		}

		span {
			@extend %empty-card-history;
		}
	}
}
