.battlegrounds-hero-selection-overlay {
	width: 100%;
	height: 100%;
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: center;
}

.hero {
	width: 15vh;
	height: 10vh;
	position: relative;
}
