:host.achievements-theme,
.achievements-theme {
	--window-background-image: radial-gradient(340px at 50% 50%, rgba(90, 17, 108, 0.7) 0%, rgba(47, 13, 13, 0.7) 100%),
		url('/Files/assets/images/backgrounds/achievements_bg.jpg');
	--window-outline-color: #4b3052;

	--menu-selection-color: #7d5a87;
	--menu-bar-bottom-border-color: #4b3052;

	--ads-background-color: #190505;
	--ads-color: #2a1030;

	--control-button-color: #cb9fd7;
	--on-control-button-background-color: #4b3052;
	--on-close-button-color: #2a1030;
	--on-close-button-background-color: #cb9fd7;
}
