:host.collection-theme,
.collection-theme {
	--window-background-image: url('/Files/assets/images/backgrounds/main-screen_bg.png');
	--window-outline-color: #513b48;

	--menu-selection-color: #7d5a87;
	--menu-bar-bottom-border-color: #513b48;

	--ads-background-color: #190505;
	--ads-color: rgba(47, 13, 13, 0.8); //#2a1030;

	--control-button-color: #cca2b3;
	--on-control-button-background-color: #513b48;
	--on-close-button-color: #ffffff;
	--on-close-button-background-color: #c21913;
}
