:host.collection-theme,
.collection-theme {
	--ads-background-color: #190505;
	--ads-color: rgba(47, 13, 13, 0.8); //#2a1030;

	--control-button-color: #cca2b3;
	--on-control-button-background-color: #513b48;
	--on-close-button-color: #ffffff;
	--on-close-button-background-color: #c21913;
}
