:host.decktracker-theme,
.decktracker-theme {
	--ads-background-color: #190505;
	--ads-color: #2a1030;

	--control-button-color: #cb9fd7;
	--on-control-button-background-color: #4b3052;
	--on-close-button-color: #2a1030;
	--on-close-button-background-color: #cb9fd7;
}
