:host.general-theme,
.general-theme {
	--ads-background-color: #190505;
	--ads-color: rgba(47, 13, 13, 0.8); //#2a1030;

	--control-button-color: #d9c3ab;
	--on-control-button-background-color: #472406;
	--on-close-button-color: #d9c3ab;
	--on-close-button-background-color: #2f0d0d;
}
