@import '../../../../global/variables';
@import '../../../../global/fonts';

:host() {
	display: flex;
	flex-shrink: 0;
}

.arena-filters {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
	width: 100%;
	position: relative;

	.filter {
		margin-bottom: 15px;
	}
}
