/HearthstoneReplays/bin
/HearthstoneReplays/obj
/HearthstoneReplayTests/bin
/HearthstoneReplayTests/obj
packages
.vs
/HearthstoneReplayTests/HearthstoneReplayTests.csproj.user
/HearthstoneReplays/HearthstoneReplays.csproj.user
