.general-launch {
	padding-left: 15px;
	padding-right: 15px;
	// height: 100%;

	.toggle-label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		::ng-deep .toggle p {
			width: 280px;
		}
	}
}
