@import '../../../global/variables';
@import url('https://fonts.googleapis.com/css?family=Sumana');

.root.clean {
    filter: drop-shadow(0 0 5px rgba(0,0,0,.75));

	.corner {
		display: none;
    }
    
    .decktracker-container {
        background: transparent;
        margin: 10px;
    }

	.decktracker {
        background: transparent;
	    width: 100%;
        
        decktracker-deck-name {
            display: none;
        }

        decktracker-title-bar {
            display: flex;
            justify-content: flex-end;
            opacity: 0;
        }
    }

    &:hover {
        .decktracker decktracker-title-bar {
            opacity: 1;
        }
    }

    ::ng-deep decktracker-title-bar {
        .title-bar {
            background: #07081F;
        }
        .logo {
            display: none;
        }
    }

    ::ng-deep decktracker-deck-list {
        .select-container {
            display: none;
        }
        
        grouped-deck-list .deck-list {
            background: linear-gradient(89.31deg, #090A0D 60.62%, rgba(9, 10, 13, 0) 96.47%);
        }

        .deck-zone .card-list li {
            margin-bottom: 2px;
        }

        .deck-card {
            .mana-cost {
                background: #303352;
                
                span {
                    color: #9FB6D7;
                }
            }

            .card-name {
                color: #FFE3BA;
            }
            
            &.dim {
                opacity: 0.3;
                .dim-overlay {
                    display: none;
                }
            }
        }
    }
}