.deck-list {
	overflow: visible;
	width: 100%;

	overflow-y: auto;
	width: calc(100% + 20px);
	min-width: calc(100% + 20px);
	// padding-bottom: 10px;
	// margin-left: 10px;
	// margin-right: 10px;
	position: relative;
	left: -10px;
	max-height: calc(var(--decktracker-max-height) / var(--decktracker-scale) - 30px); // Take into account the top menu
	// max-height: calc(100vh - 30px);
	// max-height: 50vh;

	.list-background {
		position: absolute;
		top: 0;
		left: 10px;
		right: 10px;
		bottom: 10px;
		background: var(--color-7);
	}

	// perfect-scrollbar
	::ng-deep {
		.ps-content {
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
			pointer-events: none;
			position: relative;

			& > * {
				pointer-events: all;
			}
		}
		.ps__rail-x {
			display: none;
		}
		.ps__rail-y.ps__rail-y {
			opacity: 1;
			right: 8px !important;
			width: 15px !important;
			background-color: rgba(255, 255, 255, 0.01);
			z-index: 2;
			transition: width 100ms linear, opacity 100ms linear, background-color 100ms linear;

			&:hover {
				opacity: 1 !important;
				.ps__thumb-y {
					width: 10px;
				}
			}
			.ps__thumb-y {
				width: 6px;
				background-color: var(--color-3);

				&:hover {
					background-color: var(--color-2);
				}
			}
		}
		.ps:hover > .ps__rail-y,
		.ps--focus > .ps__rail-y,
		.ps.ps--scrolling-y > .ps__rail-y {
			opacity: 0.01;
		}
	}

	.select-container {
		width: 100%;
		height: 30px;
		position: relative;

		.dim-overlay {
			z-index: 2;
		}
	}

	ng-select {
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 13px;
		color: #9fb6d7;
		height: 30px;
		background: rgba(255, 255, 255, 0.08);
		width: 100%;
		z-index: 2;
	}

	::ng-deep ng-select {
		& > div {
			border: none;
			outline: none;

			div.single > div.toggle:hover {
				background: transparent;
			}
		}

		.toggle {
			display: none;
		}

		.caret {
			--icon-color: #9fb6d7;
			max-width: 30px;
		}

		.open {
			border: 1px solid #5a5f87;
		}

		.open .caret {
			transform: scale(1, -1);
		}

		.single {
			height: 29px;
		}

		select-dropdown {
			& > div {
				background: #07081f;
				border: 1px solid #5a5f87;
				border-top: none;
				outline: none;
			}

			.filter {
				display: none;
			}

			& > div .options ul li {
				color: #9fb6d7;
				border-bottom: 1px solid #5a5f87;
				padding: 0;
				padding-left: 10px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 30px;

				&.selected {
					background-color: inherit;
					color: inherit;
					--icon-color: #9fb6d7;

					&:hover {
						color: inherit;
					}
				}

				&.highlighted,
				&:hover {
					background-color: #303352;
				}
			}
		}
	}
}
