@import '../../../global/variables';
@import url('https://fonts.googleapis.com/css?family=Sumana');

.root.clean {
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.75));

	.decktracker-container {
		background: transparent;
		margin: 10px;
	}

	.decktracker {
		background: transparent;
		width: 100%;

		decktracker-deck-name {
			display: none;
		}

		decktracker-title-bar {
			display: flex;
			justify-content: flex-end;
			// opacity: 0;
		}
	}

	::ng-deep decktracker-title-bar {
		.title-bar {
			height: 30px;
			border-bottom: 1px solid #9fb6d7;
			background: #07081f;
		}
		.controls {
			// opacity: 0;
			align-self: flex-end;
		}
		.logo {
			display: none;
		}
	}

	&.show-title-bar .decktracker decktracker-title-bar {
		opacity: 1;

		::ng-deep {
			.title-bar {
				width: 100%;
			}
			.logo {
				display: inherit;
				height: 100%;
				margin: 0;
				padding-left: 10px;
				padding-right: 30px;
				width: 110px;
				--icon-color: #9fb6d7;
			}
		}
	}

	&:hover {
		.decktracker decktracker-title-bar {
			::ng-deep .controls {
				opacity: 1;
			}
		}
	}

	::ng-deep decktracker-deck-list {
		& > .deck-list {
			// No scrollbar / background, we can go with the full zoom
			width: calc(100% + 20px);
			min-width: calc(100% + 20px);
			padding-right: 10px;
			padding-bottom: 20px;
		}

		.select-container {
			display: none;
		}

		grouped-deck-list .deck-list {
			background: linear-gradient(89.31deg, #090a0d 60.62%, rgba(9, 10, 13, 0) 96.47%);
		}

		.deck-zone .card-list li:not(:last-child) {
			margin-bottom: 2px;
		}

		.deck-card {
			.mana-cost {
				background: #303352;

				span {
					color: #9fb6d7;
				}
			}

			.card-name {
				color: #ffe3ba;
			}

			&.dim {
				opacity: 0.3;
				.dim-overlay {
					display: none;
				}
			}
		}
	}
}
