@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.team-list {
	overflow: hidden;
	width: 100%;
	// overflow-y: hidden;
	width: calc(100% + 20px);
	min-width: calc(100% + 20px);
	position: relative;
	left: -10px;
	max-height: calc(var(--decktracker-max-height) / var(--decktracker-scale) - 30px); // Take into account the top menu
	// max-height: 30vh;
	// height: 25vh;
	// height: 100%;

	.list-background {
		position: absolute;
		top: 0;
		left: 10px;
		right: 10px;
		bottom: 10px;
		background: var(--color-7);
	}

	// perfect-scrollbar
	::ng-deep {
		.ps-content {
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
			pointer-events: none;
			position: relative;
			display: flex;
			flex-direction: column;

			& > * {
				pointer-events: all;
			}
		}
		.ps__rail-x {
			display: none;
		}
		.ps__rail-y.ps__rail-y {
			display: none;
			top: 0 !important;
			margin-bottom: 10px;
		}
	}

	&.active {
		::ng-deep {
			// IMPORTANT! Remove the !important from top: 0 !important
			// node_modules/ngx-perfect-scrollbar (do a Ctrl+F)
			// for perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
			.ps__rail-y.ps__rail-y {
				display: block;
				opacity: 1;
				right: -2px !important;
				width: 15px !important;
				background-color: rgba(255, 255, 255, 0.01);
				z-index: 2;
				transition: width 100ms linear, opacity 100ms linear, background-color 100ms linear;
				// height: 100% !important;

				&:hover {
					opacity: 1 !important;
					.ps__thumb-y {
						width: 10px;
					}
				}
				.ps__thumb-y {
					width: 10px;
					background-color: var(--color-3);
					border-radius: 0;

					&:hover {
						background-color: var(--color-2);
					}
				}
			}
			.ps:hover > .ps__rail-y,
			.ps--focus > .ps__rail-y {
				opacity: 0.01;
			}
		}
	}

	.select-container {
		width: 100%;
		height: 30px;
		position: relative;

		.dim-overlay {
			z-index: 2;
		}
	}

	ng-select {
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 13px;
		color: #9fb6d7;
		height: 30px;
		background: rgba(255, 255, 255, 0.08);
		width: 100%;
		z-index: 2;
	}

	::ng-deep ng-select {
		& > div {
			border: none;
			outline: none;

			div.single > div.toggle:hover {
				background: transparent;
			}
		}

		.toggle {
			display: none;
		}

		.caret {
			--icon-color: #9fb6d7;
			max-width: 30px;
		}

		.open {
			border: 1px solid #5a5f87;
		}

		.open .caret {
			transform: scale(1, -1);
		}

		.single {
			height: 29px;
		}

		select-dropdown {
			& > div {
				background: #07081f;
				border: 1px solid #5a5f87;
				border-top: none;
				outline: none;
			}

			.filter {
				display: none;
			}

			& > div .options ul li {
				color: #9fb6d7;
				border-bottom: 1px solid #5a5f87;
				padding: 0;
				padding-left: 10px;
				padding-right: 10px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 30px;

				&.selected {
					background-color: inherit;
					color: inherit;
					--icon-color: #9fb6d7;

					&:hover {
						color: inherit;
					}
				}

				&.highlighted,
				&:hover {
					background-color: #303352;
				}

				span {
					max-width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}
