:host {
	display: flex;
	flex-direction: column;
}

.root {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	// height: 100%;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.75));

	.scalable {
		transform: scale(1);
		top: 30px;
		position: relative;
		opacity: 1;
		transition-property: transform, opacity;
		transition-duration: 0.3s;
		transition-timing-function: cubic-bezier(0, 0.26, 0.305, 1.65);
	}

	&.player,
	&.out-of-combat-player {
		.scalable {
			transform-origin: right top;
		}
	}

	&.opponent {
		.scalable {
			transform-origin: left top;
		}
		.icon {
			right: auto;
			left: 260px;
		}
	}

	.container {
		position: relative;
		width: 100%;
		max-width: 100%;
		display: flex;
		flex-direction: column;
	}

	.header {
		height: 30px;
		width: 100%;
		display: flex;
		align-items: stretch;
		padding-left: 10px;

		color: var(--color-1);
		z-index: 1;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 13px;

		.label {
			margin-right: 10px;
			padding-right: 10px;
			display: flex;
			align-items: center;
			flex-grow: 1;
		}

		.element {
			display: flex;
			align-items: center;
			padding-right: 10px;

			&:not(:last-child) {
				margin-right: 10px;
			}

			.icon {
				width: 20px;
				height: 20px;
				margin-right: 4px;
			}

			&.map-turn {
				.icon {
					width: 15px;
					height: 15px;
					margin-right: 6px;
				}
			}
		}
	}

	.team {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;

		// This is needed to keep a padding at the bottom of the deck-list (to prevent the scrollbar from
		// appearing on mouse over) while not showing a background
		.background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 28px;
			background: #07081f;
			border-radius: 10px 10px 0px 0px;
		}

		mercenaries-team-control-bar {
			flex-grow: 0;
			flex-shrink: 0;
			z-index: 1;
		}

		mercenaries-team-title-bar {
			flex-grow: 0;
			flex-shrink: 0;
			z-index: 1;
		}

		mercenaries-team-list {
			flex-grow: 1;
			flex-shrink: 1;
			display: flex;
			position: relative;
			height: 100%;
			min-height: 0;
		}
	}
}

.footer {
	display: flex;
	justify-content: space-between;
}

.mouseover-button {
	color: var(--color-2);
	font-family: Open Sans;
	font-size: 13px;
	height: 26px;
	display: flex;
	align-items: center;
	visibility: hidden;
	// It's important not to have any position set, so that the top/bottom attributes of the lists
	// is taken from the widget as a whole, and not the mouseover buttons
	// position: relative;

	.icon {
		width: 16px;
		height: 16px;
		--icon-color: var(--color-2);
		--icon-secondary-color: var(--color-7);
		margin-right: 5px;
	}

	&:hover {
		.tasks-button,
		.roles-matchup-button {
			color: var(--color-1);
			--icon-color: var(--color-1);
		}
	}

	&.visible {
		visibility: visible;
	}
}

.show-roles-matchup-button {
	.roles-matchup-button {
		border-bottom-left-radius: 33px;
		border-bottom-right-radius: 10px;
		background: var(--color-7);
		display: flex;
		align-items: center;
		padding: 5px 5px 5px 15px;
	}
}

.show-tasks {
	.tasks-button {
		border-bottom-right-radius: 33px;
		border-bottom-left-radius: 10px;
		background: var(--color-7);
		display: flex;
		align-items: center;
		padding: 5px 15px 5px 7px;
	}
}

.task-list {
	position: absolute;
	left: -325px;
	bottom: 0;
	width: 320px;
	background: var(--color-7);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	// Because the hero portraits do this already
	padding-left: 0;
	z-index: 1;
	// Because we need the size to compute where to position it
	// If we display: none, the size isn't available until it becomes visible
	opacity: 0;
	pointer-events: none;

	&.right {
		right: auto;
		left: 230px;
	}

	&.visible {
		opacity: 1;
		pointer-events: all;
	}
}

.roles-chart {
	position: absolute;
	right: 230px;
	bottom: 0;
	width: 300px;
	background: var(--color-7);
	border-radius: 10px;
	z-index: 1;
	opacity: 0;
	pointer-events: none;

	img {
		width: 300px;
	}

	&.right {
		right: auto;
		left: 77px;
	}

	&.visible {
		opacity: 1;
		pointer-events: all;
	}
}

.tasks-container {
	.task {
		display: flex;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		.portrait {
			flex-grow: 0;
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			width: 90px;
			position: relative;
			top: 0;
			left: 0;
			z-index: 9;
			margin-top: 0;
			margin-bottom: 0;

			.art {
				position: absolute;
				top: 11%;
				left: 13%;
				width: 76%;
				clip-path: ellipse(40% 44% at 50% 50%);
			}

			.frame {
				width: 100%;
				z-index: 1;
			}
		}

		.task-content {
			display: flex;
			flex-direction: column;
			width: 100%;

			.header {
				color: var(--default-title-color);
				margin-bottom: 5px;
			}

			.description {
				margin-bottom: 5px;
			}

			.progress {
				display: flex;
				flex-direction: row;
				width: 100%;
				position: relative;

				.background {
					width: 100%;
					height: 30px;
					background-color: var(--color-6);
				}

				.current-progress {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					background-color: var(--color-4);
				}

				.text {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	.create-team-button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 90px;

		button {
			background: var(--color-2);
			color: var(--color-5);
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: 'Open Sans', sans-serif;
			padding: 10px;

			&.disabled {
				opacity: 0.4;
			}

			&:hover:not(.disabled) {
				background: var(--color-1);
			}
		}
	}

	.empty-state {
		padding-left: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

::ng-deep .cdk-overlay-container {
	.card-tooltip.mercenaries-weakness-triangle.mercenaries-weakness-triangle.mercenaries-weakness-triangle {
		width: 500px;

		img {
			width: 100%;
			filter: none;
		}
	}
}
