.mercenary {
	display: flex;
	flex-direction: column;

	&.bench {
		opacity: 0.75;
	}

	&.dead {
		opacity: 0.3;
	}

	&:not(.bench):not(.dead) {
		.ability,
		.equipment {
			::ng-deep {
				.inactive {
					opacity: 0.3;
				}
			}
		}
	}

	.header {
		.role-icon {
			height: 80%;
			z-index: 1;

			img {
				height: 100%;
			}
		}
	}

	.item {
		display: flex;
		align-items: center;
		height: 26px;
		position: relative;
		overflow: hidden;
		padding-left: 5px;
		padding-right: 5px;

		&:hover {
			transform: scale(1.1);
			z-index: 9;
			// animation: card-zoom 0.2s ease-in-out;
		}

		.background-image {
			position: absolute;
			top: 1px; // Otherwise there is a little band of color showing when art is blank
			left: 0;
			right: 0;
			bottom: 1px;
			background-size: cover;
			// Because some tiles still have a white border on the right
			background-position-x: 2.5vw;
		}

		.gradiant {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(89.48deg, rgba(0, 0, 0, 1) 0%, #090a0d 36.89%, rgba(9, 10, 13, 0) 99.92%);
			opacity: 0.6;
		}

		.item-icon {
			flex-grow: 0;
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			width: 20px;
			position: relative;
			top: 0;
			left: 0;
			z-index: 9;
			// margin-right: 20px;

			.icon {
				width: 100%;
			}
		}

		.name {
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 10px;
			z-index: 1;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 130px;

			span {
				font-family: Open Sans;
				font-style: normal;
				font-weight: normal;
				line-height: normal;
				font-size: 13px;
				color: #ffe3ba;
			}

			.level {
				margin-left: 5px;
				font-size: 10px;
			}
		}
	}
}
