@import '../../global/variables';
@import '../../global/fonts';

.general-message-container {
	display: flex;
	align-items: center;
	background-image: url('/Files/assets/images/backgrounds/home-screen-bg.png');
	background-size: 100%;
	background-position: center center;
	outline: 1px solid #472406;
	width: 350px;
	height: 80px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
	padding: 15px;

	.firestone-icon {
		height: 50px;
		width: 45px;
		margin-right: 10px;
		--icon-color: #ffb948;
		color: #ffb948;
	}

	.message {
		display: flex;
		flex-direction: column;

		.title {
			@extend %achievement-name;
			display: flex;
			align-items: center;

			i {
				--icon-color: #ffb948;
				margin-right: 10px;
			}
		}

		.text {
			@extend %achievements-notification-text;
			margin-top: 3px;
		}

		.recap-text {
			@extend %achievements-recap-text;
			margin-top: 5px;
			position: relative;
			color: #a89782;
		}
	}

	.close-button {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		--icon-color: #d9c3ab;

		&:hover {
			color: #190505;
			--icon-color: #190505;
			background: #d9c3ab;
		}
	}

	.active {
		position: absolute;
		top: 0;
		left: 0;
	}
}
