@import '../../global/variables';
@import '../../global/fonts';

.rewards-message-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-image: url('/Files/assets/images/backgrounds/home-screen-bg.png');
	background-size: 100%;
	background-position: center center;
	outline: 1px solid #472406;
	width: 350px;
	height: 80px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
	padding: 15px;

	.title {
		@extend %achievement-name;
		font-weight: bold;
		font-size: 13px;
		margin-bottom: 5px;
	}

	.xp-text,
	.xp-bonus {
		display: flex;
		width: 100%;
	}

	.value {
		font-weight: bold;
		margin-left: 5px;
	}

	.progress {
		margin-left: 5px;
		font-size: 12px;
		flex-grow: 1;
		display: flex;

		.item {
			margin-right: 1px;
		}
	}

	.close-button {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		--icon-color: #d9c3ab;

		&:hover {
			color: #190505;
			--icon-color: #190505;
			background: #d9c3ab;
		}
	}
}
