:host {
	height: 100%;
	display: flex;
	flex-grow: 1;
	min-height: 0;
}

.battlegrounds-category-details {
	height: 100%;
	display: flex;
	flex-grow: 1;
	overflow: auto;

	& > * {
		flex-grow: 1;
		display: flex;
		max-width: 100%;
	}
}
