@import '../../../global/variables';
@import '../../../global/fonts';

.battlegrounds-category {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	background: rgba(255, 255, 255, 0.08);
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;

	&:hover:not(.disabled) {
		background: rgba(255, 255, 255, 0.12);
	}

	&.disabled {
		opacity: 0.7;
	}

	.category-name {
		@extend %achievements-category-name;
		text-align: center;
		position: relative;
		margin: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.logo {
		height: 100px;
		width: 100px;
		flex-grow: 0;
		flex-shrink: 0;
		margin-bottom: 5px;
	}
}
