.card-container {
	position: relative;
	width: 100%;
	height: 100%;
	// height: 151px;

	img {
		width: 100%;
		position: relative;
	}

	.placeholder {
		position: absolute;
		width: 100%;
		// height: 151px;
	    top: 10px;
	    left: 0;
	}

	.count {
	    position: absolute;
	    bottom: 9px;
	    left: 37px;
	}

	.full-size {
		width: 300px;
	}

	&.missing {
		opacity: 0.3;
	}
}
