@import '../../global/variables';
@import '../../global/fonts';

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    padding-left: 12px;

    &:hover {
    	// $grey03
    	background: rgba(120,95,107,0.4);
    }
}

span {
    white-space: pre-wrap;
}

.match {
	@extend %search-bar-auto;
}
