@import '../../global/variables';
@import '../../global/fonts';

.card-history {
	margin-top: 29px;
	width: 400px;
}

.top-container {
	margin-bottom: 6px;
	display: flex;
    justify-content: space-between;
    align-items: center;

    .toggle-label {
    	display: flex;
    	align-items: center;

    	p {
    		@extend %sub-title;
    		margin-right: 14px;
    	}
    }

	.title {
		@extend %sub-title;
    	display: flex;
    	align-items: center;
	}
}

ul {
	background: rgba(255, 255, 255, 0.08);
	list-style: none;
	padding: 0;
	margin: 0;
    height: 160px;
    overflow: auto;
}

.more-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;

	.more-data-text {
		@extend %you-have-viewed;
		margin-top: 15px;
	}

	.load-more-button {
		@extend %button-text;
		background: $green02;
	    width: 80px;
	    height: 30px;
		padding: 7px 8px;
		margin-top: 14px;
		margin-bottom: 13px;

		&:hover {
			background: $green01;
		}
	}
}

