@import '../../global/variables';
@import '../../global/fonts';

.cards {
	position: relative;
	top: -2px;
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.set-title {
	@extend %set-result;
	display: flex;
    align-items: center;
	margin: 0;

	img {
		width: 53px;
		margin-left: 5px;
		margin-right: 11px;
	}
}

.show-filter {
	@extend %search-active;
    position: absolute;
    right: 0;
    top: -29px;
    right: 20px;
    display: flex;
    align-items: center;

    .label {
    	margin-right: 15px;
    }

	ng-select {
		@extend %search-active;
		width: 190px;
		height: 30px;
		background: rgba(255, 255, 255, 0.08);

		&:focus, &:active {
			outline: none;
		}

		& > div {
			border: 1px solid $grey03;
			outline: none;

			div.single > div.toggle:hover {
				background: transparent;
			}
		}

		.toggle {
			display: none;
		}

		.open .caret {
			transform: scale(1, -1);
		}

		select-dropdown {

			& > div {
				background: $black;
				border: 1px solid $grey03;
				border-top: none;
				outline: none;
			}

			.filter {
				display: none;
			}

			&> div .options ul li {
				color: $grey01;
				border-bottom: 1px solid $grey05;
				padding: 0;
				padding-left: 9px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 30px;

				&.selected {
    				background-color: inherit;
    				color: inherit;

					&:hover {
						color: inherit;
					}
				}

				&.highlighted {
					// grey03
					background-color: rgba(120, 95, 107, 0.4);

				}
			}
		}
	}
}

.cards-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: -6px;
	width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;

    li {
    	width: 98px;
    	height: 152px; // We need this so that things are not a mess when the placeholder image is showing
    	margin-right: 15px;
    	margin-bottom: 4px;
    }
}

.empty-state {
	@extend %empty-state;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	.state-container {
		margin: auto;
	    display: flex;
	    flex-direction: column;
	    align-items: center;

		i {
			margin-bottom: 30px;
		}

		.title {
			@extend %empty-state-title;
			margin-bottom: 15px;
		}
	}

}

.pagination {
	@extend %pagination-inactive;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
    position: absolute;
    bottom: -12px;
    width: 100%;

	li {
		margin-right: 5px;

		&.active, &:hover {
			@extend %sub-title;
		}

		&.arrow {

			&.previous {
				transform: rotate(90deg);
				margin-right: 3px;
			}

			&.next {
				transform: rotate(-90deg);
				margin-left: 3px;
			}

			&:hover {
				background: $grey04;
			}

			&.disabled {
				&:hover {
					background: none;
				}
				svg {
					fill: $grey05;
				}
			}
		}
	}

}

