.menu-selection {

	li {
		margin-right: 15px;
		padding-bottom: 8px;
	}
}

.breadcrumbs {
	list-style: none;
	display: flex;
	margin: 0;

	li {
		cursor: pointer;
	}

	li:after {
		content: ">";
	    margin-left: 10px;
	    margin-right: 10px;
	}

	li:last-child:after {
		content: "";
	}
}
