@import '../../global/variables';
@import '../../global/fonts';

.card-details-container {

    display: flex;
    position: relative;
    width: 598px;
    height: 413px;
    border: 1px solid $grey03;

    &.owned {
        background-image: url('/Files/assets/images/backgrounds/card-details-owned.png');
    }
    &.missing {
        background-image: url('/Files/assets/images/backgrounds/card-details-missing.png');
    }

    .details {
        width: 413px;
        padding-right: 55px;
        padding-top: 43px;

        h1 {
            @extend %card-title;
            padding-bottom: 14px;
            border-bottom: 1px solid $yellow03;
            text-align: center;
            margin-bottom: 6px;
        }

        .card-info {
            @extend %you-have-viewed;
            margin-top: 9px;

            .sub-title {
                @extend %card-details;
                margin-right: 2px;
            }

            &.audio {
                flex-direction: column;

                ul {
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 11px;
                        padding-right: 11px;
                        border-right: 1px solid $yellow02;

                        span {
                            margin-right: 6px;
                        }

                        &:hover {
                            color: $green01;

                            & > button {
                                --icon-color: $green01;
                            }
                        }

                    }

                    li:first-child {
                        margin-left: 0;
                    }

                    li:last-child {
                        border: none;
                        padding-right: 0;
                    }
                }
            }

            &.flavor-text .sub-title {
                display: block;
            }
        }
    }

    .card-view-container {
        padding-left: 19px;
        min-width: 280px;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        card-view {
            width: 233px;

            .card-container {

                img {
                    opacity: 1;
                }

                .count {
                    height: 40px;
                    top: -26px;

                    .non-premium {
                        height: 40px;
                        width: 60px;
                        justify-content: center;

                        span {
                            font-size: 20px;
                        }
                    }

                    .premium {
                        height: 40px;
                        width: 90px;
                        justify-content: center;

                        i {
                            width: 28px !important;
                            height: 32px !important;
                            margin-bottom: -7px !important;
                        }

                        span {
                            font-size: 20px;
                            margin-left: 9px;
                            margin-right: 8px;
                        }
                    }
                }
            }

        }
    }
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
}

.deco {
    position: absolute;

    &.deco-left {
        transform: rotate(90deg) scale(1,-1);
        left: -29px;
        top: calc(50% - 25px);
    }

    &.deco-top {
        left: calc(50% - 25px);
        top: -7px;
    }

    &.deco-right {
        transform: rotate(90deg);
        right: -29px;
        top: calc(50% - 25px);
    }

    &.deco-bottom {
        left: calc(50% - 25px);
        bottom: -7px;
        transform: scale(1, -1);
    }
}
