.full-card-container {
    background: gray;
    display: flex;
    width: 500px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

