.set {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	cursor: pointer;

	span.text.text.text.text {
		// margin-right: 10px;
		font-size: 10px;
		text-align: center;
	}

	.logo-container {
		width: 100%;
	    position: relative;
	    display: flex;
	    flex-direction: column;
    	height: calc(100% - 25px);
	}

	.set-logo {
		height: 75px;
		z-index: 1;
	}

	.set-name {
		margin-top: -5px;
	}
}
