@import '../../global/fonts';

.set {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	background: rgba(255, 255, 255, 0.08);

	&:hover {
		background: rgba(255, 255, 255, 0.12);
	}

	.logo-container {
		width: 100%;
	    position: relative;
	    display: flex;
	    flex-direction: column;
    	height: calc(100% - 24px);
	}

	.set-logo {

	}

	.set-name {
		@extend %core-set-name;
		text-align: center;
		position: relative;
		top: -16px;
	}

	.cards-collected {
		@extend %completion-number;
	}
}
