.set {
	display: flex;
	align-items: center;
	flex-direction: column;

	span.text.text.text.text {
		// margin-right: 10px;
		font-size: 10px;
		text-align: center;
	}

	.set-logo {
		height: 75px;
		z-index: 1;
		cursor: pointer;
	}

	.set-name {
		margin-top: -5px;
	}
}
