@import '../../global/variables';
@import '../../global/fonts';

.sets {
	margin-top: 26px;
    display: flex;
    flex-direction: column;
}

sets-container {
    display: flex;
}

.menu-selection {
	display: flex;
	align-items: center;
	list-style: none;
	margin-bottom: 20px;
    flex-shrink: 0;
	flex-grow: 0;

	li {
		@extend %sets-menu;
		margin-right: 20px;

		&.active {
			color: $grey01;
		}
	}
}
