.sets-container {

	.category-container {
		display: flex;
		flex-direction: column;
		// align-items: center;

		h2 {
			font-size: 18px;
			margin: 0;
			margin-bottom: 10px;
		}

		ol {
			list-style: none;
			padding: 0;
			margin: 0;
			width: 100%;
		    // display: grid;
    		// grid-template-columns: 30% 30% 30%;
    		// grid-row-gap: 10px;
    		// justify-content: space-between;
		    justify-content: flex-start;
		    display: flex;
		    flex-wrap: wrap;

		    li {
		    	width: 100px;
		    	height: 130px;
		    	margin-right: 15px;
		    	margin-bottom: 15px;
		    	background: rgba(255, 255, 255, 0.2);
		    }
		}
	}
}
