.hero-selection-tooltip {
	display: flex;
	background: var(--color-4);
	height: 300px;
	width: 500px;
	align-items: center;
	padding: 10px;
	position: relative;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	color: var(--default-text-color);
	font-size: 13px;
	line-height: 22px;
	// border: 1px solid #c4c4c4;

	.hero-power {
		width: 210px;
		margin-right: 20px;
	}

	.infos {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	::ng-deep bgs-hero-tribes {
		.tribes.tribes {
			.composition {
				.tribe {
					width: 20%;
				}
				.tribe-name {
					display: none;
				}
			}
		}
	}
}
