.hero-overview {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.08);
	height: 100%;
	align-items: center;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	position: relative;

	.name {
		color: var(--default-title-color);
		font-size: var(--variable-title-font-size);
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
		text-align: center;
		padding-left: 10px;
	}

	.tier {
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		top: 6px;
		left: 6px;
		width: 22px;
		height: 22px;
		display: flex;
		align-items: center;
		justify-content: center;

		&.s {
			color: #b5bcfb;
		}

		&.a {
			color: #ce73b4;
		}

		&.b {
			color: #a2ccb0;
		}

		&.c {
			color: #ffb948;
		}

		&.d {
			color: #ff4747;
		}
	}

	.portrait {
		width: 12vh;
		margin-bottom: 10px;
		position: relative;
	}

	.winrate {
		margin-top: 20px;
		width: 100%;

		::ng-deep graph-with-comparison .container-1 {
			height: 0;
			padding-top: 56%;

			& > div {
				position: absolute !important;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}

	&.empty {
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			--icon-color: var(--color-5);
			width: 50%;
			height: 5000px; // Just a big value so that we can use the width as a constraint
		}
	}

	.achievements {
		width: calc(100% + 40px);
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -30px;
		margin-bottom: -10px;
		position: relative;
		left: -20px;

		.achievement {
			width: 50px;
			height: 50px;
			margin-left: -8px;
			margin-right: -8px;

			.icon {
				width: 100%;
				height: 100%;

				::ng-deep svg {
					margin-top: 0 !important;
				}
			}

			&:not(.completed) {
				.icon {
					opacity: 0.4;
				}
			}
		}
	}
}

@media (max-height: 840px) {
	.tribes-overview.tribes-overview.tribes-overview.tribes-overview.tribes-overview {
		display: none;
	}
}

@media (min-height: 840px) {
	.tribes-overview.tribes-overview.tribes-overview.tribes-overview.tribes-overview ::ng-deep.composition {
		max-height: 125px;
		overflow: hidden;
	}
}

@media (min-height: 1000px) {
	.tribes-overview.tribes-overview.tribes-overview.tribes-overview.tribes-overview ::ng-deep.composition {
		max-height: fit-content;
	}
}

// @media (max-width: 1400px) {
// 	::ng-deep .hero-overview .tribes.tribes.tribes.tribes .composition .tribe {
// 		font-size: 11px;
// 		// width: 6.4vh;
// 	}
// }

// @media (min-width: 1450px) {
// 	::ng-deep .hero-overview .tribes.tribes.tribes.tribes .composition .tribe {
// 		font-size: 11px;
// 		width: calc(min(33%, 8vh));
// 	}
// }

// @media (min-height: 850px) {
// 	.winrate {
// 		width: calc(min(33%, 6vh));
// 	}
// }

// @media (min-height: 960px) {
// 	.winrate {
// 		width: calc(min(33%, 7vh));
// 	}
// }

// @media (min-height: 1000px) {
// 	.winrate {
// 		width: calc(min(33%, 8vh));
// 	}
// }

// @media (min-height: 1050px) {
// 	.winrate {
// 		width: calc(min(33%, 9vh));
// 	}
// }
