:host() {
	display: flex;
}

.container {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;

	&.no-ads {
		.left {
			height: 100%;
		}
	}
}

.left {
	width: 400px;
	height: calc(100% - 303px);
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	order: 2;
	position: relative;
	top: -32px;

	battlegrounds-tier-list ::ng-deep {
		height: 100%;

		.battlegrounds-tier-list {
			height: 100%;
		}

		.heroes {
			background: var(--color-7);
		}
	}
}

.hero-selection-overview {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	overflow: hidden;
	margin-right: 5px;
}

bgs-hero-overview {
	// width: 30%;
}
