.hero-overview {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.08);
	height: 100%;
	align-items: center;
	padding: 10px;
	padding-left: 11%;
	padding-right: 11%;
	position: relative;

	.name {
		color: var(--default-title-color);
		font-size: 16px;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
		text-align: center;
		padding-right: 10px;
	}

	.tier {
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		top: 6px;
		right: 6px;
		width: 22px;
		height: 22px;
		display: flex;
		align-items: center;
		justify-content: center;

		&.s {
			color: #b5bcfb;
		}

		&.a {
			color: #ce73b4;
		}

		&.b {
			color: #a2ccb0;
		}

		&.c {
			color: #ffb948;
		}

		&.d {
			color: #ff4747;
		}
	}

	.portrait {
		width: 12vh;
		margin-bottom: 10px;
	}

	.title {
		color: var(--default-title-color);
		margin-bottom: 5px;
		text-align: center;
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid var(--color-4);
		margin-bottom: 10px;
	}

	.stats {
		// margin-top: 20px;
		margin-top: 0.1vh;
		display: flex;
		flex-direction: column;

		.entry {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.stat-icon {
			width: 25%;

			.image {
				width: 100%;
			}
		}

		.label {
			// flex-grow: 1;
		}

		.global-value {
			margin-left: 5px;
			font-weight: bold;
		}

		.player-value {
			color: #ce73b4;
			margin-left: 5px;
			font-weight: bold;
			font-size: 10px;
		}
	}

	.tribes {
		margin-top: 20px;
		width: 100%;
		display: flex;
		flex-direction: column;

		.composition {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;

			.icon-container {
				background: #ce73b4;
				display: flex;
				align-items: center;
				justify-content: center;
				clip-path: ellipse(43% 32% at 50% 50%);
			}

			.icon {
				width: 135%;
				clip-path: ellipse(30% 30% at 50% 50%);
			}

			.tribe {
				display: flex;
				flex-direction: column;
				// width: 6.5vh;
				width: 33%;
				overflow: hidden;
				align-items: center;
				justify-content: center;
				margin-bottom: -5%;
			}

			.tribe-name {
				font-weight: bold;
				top: -10px;
				position: relative;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.value {
				top: -10px;
				position: relative;
			}
		}
	}

	.profile {
		margin-top: 20px;
		width: 100%;
	}
}

@media (max-height: 850px) {
	.profile {
		display: none;
	}
}

@media (max-width: 1400px) {
	.hero-overview .tribes .composition .tribe {
		font-size: 11px;
		// width: 6.4vh;
	}
}

@media (min-width: 1450px) {
	.hero-overview .tribes .composition .tribe {
		font-size: 11px;
		width: calc(min(33%, 9vh));
	}
}

@media (min-height: 850px) {
	.profile {
		width: calc(min(33%, 6vh));
	}
}

@media (min-height: 960px) {
	.profile {
		width: calc(min(33%, 7vh));
	}
}

@media (min-height: 1000px) {
	.profile {
		width: calc(min(33%, 8vh));
	}
}

@media (min-height: 1050px) {
	.profile {
		width: calc(min(33%, 9vh));
	}
}
