:host() {
	display: flex;
}

.container {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;
}

.left {
	width: 400px;
	height: calc(100% - 335px);
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	order: 2;
	background: rgba(255, 255, 255, 0.08);
	background: var(--color-7);
	overflow: auto;
	min-height: 0;
	padding: 20px;

	// bgs-hero-mini {
	// 	width: 55px;
	// 	height: 50px;
	// 	position: relative;
	// 	flex-grow: 0;
	// 	flex-shrink: 0;
	// 	display: flex;
	// 	filter: grayscale(1);
	// 	opacity: 0.8;

	// 	&.available {
	// 		filter: none;
	// 	}
	// 	&:hover {
	// 		filter: none;
	// 		opacity: 1;
	// 	}
	// }

	bgs-hero-tier:not(:last-child) {
		border-bottom: 1px solid var(--color-3);
		padding-bottom: 15px;
		margin-bottom: 10px;
	}
}

.hero-selection-overview {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	overflow: hidden;
	margin-right: 5px;
}

bgs-hero-overview {
	// width: 30%;
}
