:host() {
	width: 100%;
}

.stats {
	// margin-top: 20px;
	margin-top: 0.1vh;
	display: flex;
	flex-direction: column;

	.stat-details {
		display: flex;
		flex-direction: column;
	}
	.placement {
		display: flex;
		flex-direction: column;
	}

	.placement-distribution {
		width: 100%;
		height: 75px;
		margin-top: 10px;
		margin-bottom: 10px;
		background: rgba(255, 255, 255, 0.08);
		padding: 10px;
		padding-bottom: 0;
	}

	.entry {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.label {
		// flex-grow: 1;
	}

	.global-value {
		color: var(--color-8);
		margin-left: 5px;
		font-weight: bold;
	}

	.player-value {
		color: var(--default-title-color);
		margin-left: 5px;
		font-weight: bold;
		font-size: 10px;
	}

	.winrate {
		margin-top: 20px;
		width: 100%;

		::ng-deep graph-with-comparison-new {
			background: rgba(255, 255, 255, 0.08);

			.legend {
				display: none;
			}
			.container-1 {
				height: 0;
				padding-top: 56%;

				& > div {
					position: absolute !important;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}
