.hero-overview {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.08);
	height: 100%;
	align-items: center;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	position: relative;

	.name {
		color: var(--default-title-color);
		font-size: 16px;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
		text-align: center;
		padding-left: 10px;
	}

	.tier {
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		top: 6px;
		left: 6px;
		width: 22px;
		height: 22px;
		display: flex;
		align-items: center;
		justify-content: center;

		&.s {
			color: #b5bcfb;
		}

		&.a {
			color: #ce73b4;
		}

		&.b {
			color: #a2ccb0;
		}

		&.c {
			color: #ffb948;
		}

		&.d {
			color: #ff4747;
		}
	}

	.portrait {
		width: 12vh;
		margin-bottom: 10px;
	}

	.profile {
		margin-top: 20px;
		width: 100%;
	}

	&.empty {
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			--icon-color: var(--color-5);
			width: 50%;
			height: 5000px; // Just a big value so that we can use the width as a constraint
		}
	}
}

@media (max-height: 900px) {
	.profile {
		display: none;
	}
}

@media (max-width: 1400px) {
	::ng-deep .hero-overview .tribes.tribes.tribes.tribes .composition .tribe {
		font-size: 11px;
		// width: 6.4vh;
	}
}

@media (min-width: 1450px) {
	::ng-deep .hero-overview .tribes.tribes.tribes.tribes .composition .tribe {
		font-size: 11px;
		width: calc(min(33%, 8vh));
	}
}

@media (min-height: 850px) {
	.profile {
		width: calc(min(33%, 6vh));
	}
}

@media (min-height: 960px) {
	.profile {
		width: calc(min(33%, 7vh));
	}
}

@media (min-height: 1000px) {
	.profile {
		width: calc(min(33%, 8vh));
	}
}

@media (min-height: 1050px) {
	.profile {
		width: calc(min(33%, 9vh));
	}
}
