:host {
	display: flex;
	width: 100%;
	height: 100%;
}

.container {
	display: flex;

	.deck-container {
		position: absolute;

		&.item-0 {
			top: 7vh;
		}

		&.item-1 {
			left: 14vh;
		}

		&.item-2 {
			right: 0;
			top: 7vh;
		}

		&.inactive {
			filter: grayscale(1);
			opacity: 0.5;
		}
	}
}
