:host {
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	height: 35vh;
	padding-top: 4vh;
	padding-left: 5vh;
	padding-right: 5vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 5vh;
	row-gap: 0;
	flex-shrink: 0;

	.cell {
		height: 100%;
		width: 100%;
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.empty-card {
		background: rgba(255, 255, 255, 0.01);
		width: 91%;
		height: 91%;
	}
}

duels-hero-power-info {
	width: 100%;
	margin-top: 7vh;
	height: 29vh;
}
