@import '../../../global/variables';
@import '../../../global/fonts';

:host() {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	min-height: 0;
	max-width: 100%;
	// overflow: hidden;
	// For the tooltips
	overflow: visible;
}

.stats {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	min-height: 0;
	flex-direction: column;
	max-width: 100%;

	.tabs {
		display: flex;
		list-style: none;
		flex-grow: 0;
		flex-shrink: 0;
		font-size: var(--variable-title-font-size);

		.tab {
			margin-right: 30px;
			color: var(--color-3);
			padding-bottom: 7px;

			&.active,
			&:hover {
				color: var(--default-title-color);
				border-bottom: 1px solid var(--default-title-color);
			}
		}
	}

	.stat {
		display: flex;
		flex-grow: 1;
		flex-shrink: 1;
		min-height: 0;
		position: relative;
		background: rgba(255, 255, 255, 0.08);
		padding: 15px;
		// overflow: hidden;
	}

	::ng-deep bgs-battles-view {
		.left {
			display: none;
		}

		bgs-battle-recap {
			.bgs-battle-recap .battle-content {
				.group .board.board.board {
					margin-right: 0;
				}
				bgs-battle-status.results .damage-container.damage-container.damage-container {
					display: none;
				}
			}
		}
	}
}

@media (min-width: 1550px) {
	.stats {
		::ng-deep bgs-battles-view {
			bgs-battle-recap {
				.bgs-battle-recap .battle-content {
					bgs-battle-status.results .damage-container.damage-container.damage-container:not(.lethal) {
						display: flex;
					}
				}
			}
		}
	}
}

@media (min-width: 1650px) {
	.stats {
		::ng-deep bgs-battles-view {
			bgs-battle-recap {
				.bgs-battle-recap .battle-content {
					bgs-battle-status.results .damage-container.damage-container.damage-container {
						display: flex;
					}
				}
			}
		}
	}
}
