:host() {
	display: flex;
	flex-direction: column;
	// padding-bottom: 0 !important;
}

.legend {
	height: 20px;
	display: flex;
	margin-bottom: 15px;
	flex-shrink: 0;
	flex-grow: 0;

	.item {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 25px;
		font-size: 11px;

		.node {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			margin-right: 5px;
		}

		&.beast {
			.node {
				background: #26a024;
			}
		}
		&.mech {
			.node {
				background: #404ed3;
			}
		}
		&.dragon {
			.node {
				background: #e9a943;
			}
		}
		&.demon {
			.node {
				background: #a276af;
			}
		}
		&.murloc {
			.node {
				background: #9fb6d7;
			}
		}
		&.pirate {
			.node {
				background: #43403d;
			}
		}
		&.elemental {
			.node {
				background: #de5959;
			}
		}
		&.quilboar {
			.node {
				background: #c56700;
			}
		}
		&.naga {
			.node {
				background: #13928c;
			}
		}
		&.blank {
			.node {
				background: #d9c3ab;
			}
		}
	}
}

.chart-container {
	overflow: hidden;
}

::ng-deep ngx-charts-bar-vertical-stacked {
	display: flex;

	ngx-charts-chart {
		display: flex;

		.ngx-charts-outer {
			display: flex;
		}
	}
	.axis {
		text {
			fill: var(--default-text-color);
			font-family: 'Open Sans';
		}
	}
	.ngx-charts {
		position: relative;
		// top: 10px;

		.gridline-path {
			stroke: var(--color-5);
		}
	}
}

.empty-state {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
	max-height: 100%;
	flex-grow: 1;
	align-items: center;
	justify-content: center;

	i {
		width: 260px;
		height: auto;
		margin-bottom: 30px;
		--icon-color: var(--color-1);
	}

	.title {
		margin-bottom: 15px;
		color: var(--color-1);
	}

	.subtitle {
		color: var(--color-1);
	}

	svg {
		fill: transparent;
	}
}
