.quests-widget {
	.widget-icon {
		width: 7vh;

		img {
			width: 100%;
		}
	}

	.quests-container {
		position: absolute;
		right: 7vh;
		bottom: 6vh;
		width: 320px;
		z-index: 1;
		// Because we need the size to compute where to position it
		// If we display: none, the size isn't available until it becomes visible
		opacity: 0;
		pointer-events: none;

		&.right {
			right: auto;
			left: 7vh;
		}

		&.bottom {
			bottom: auto;
			top: 3vh;
		}

		&.visible {
			opacity: 1;
			pointer-events: all;
		}
	}
}

.container {
	background: var(--color-7);
	display: flex;
	flex-direction: column;
	color: var(--color-2);
	border-radius: 10px;

	.quest {
		display: flex;
		position: relative;
		padding: 10px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		.quest-portrait {
			position: relative;
			width: 60px;
			margin-right: 10px;

			// .icon {
			// 	flex-grow: 0;
			// 	flex-shrink: 0;
			// 	width: 80px;
			// 	position: relative;
			// 	top: 0;
			// 	left: 0;
			// 	z-index: 9;
			// 	margin-top: 0;
			// 	margin-bottom: 0;
			// }

			.xp {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;

				.xp-icon {
					width: 50%;
					margin-bottom: 6px;
				}

				.xp-value {
					display: flex;
					align-items: center;
					justify-content: center;

					&.bonus {
						color: #61ff47;
					}
				}
			}
		}

		.quest-content {
			display: flex;
			flex-direction: column;
			width: 100%;

			.header {
				color: var(--default-title-color);
				margin-bottom: 5px;
			}

			.description {
				margin-bottom: 5px;
			}

			.progress {
				display: flex;
				flex-direction: row;
				width: 100%;
				position: relative;

				.background {
					width: 100%;
					height: 30px;
					background-color: var(--color-6);
				}

				.current-progress {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					background-color: var(--color-4);
				}

				.text {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	.empty-state {
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
