:host {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.counter {
	width: 80px;
	height: 80px;
}

.image {
	width: 100%;
	height: 100%;
	transform: scale(1.25);
	clip-path: ellipse(39% 39% at 50% 50%);
	position: relative;
	left: -1%;
}

.frame {
	width: 80px;
	height: 80px;
	border: 5px solid var(--counter-border-color);
	border-radius: 50%;
	position: absolute;
	top: 0;
	background: transparent;
}

.value {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: var(--counter-border-color);
	font-family: Sumana;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--counter-value-color);
	position: absolute;
	top: -12px;
	left: 22px;
}

.value-img {
	width: 32px;
	height: 32px;
	position: absolute;
	top: -12px;
	left: 22px;

	.frame {
		width: 100%;
		height: 100%;
		border: 3px solid var(--counter-border-color);
	}
}
