.jade-counter {
	--counter-border-color: #c4c4c4;
	--counter-value-color: #061d14;

	.image {
		width: 130%;
		height: 130%;
		position: relative;
		clip-path: ellipse(35% 35% at 50% 50%);
		left: -12px;
		top: -11px;
	}
}
