@import '../../global/variables';
@import '../../global/fonts';

.menu-selection-collection {
	
	&.menu-selection {
		border-bottom: 1px solid $grey04;
		
		li {
			margin-right: 15px;
			padding-bottom: 8px;
			border-bottom: 0;
		}
	}

	&.breadcrumbs {
		@extend %breadcrumbs;
		list-style: none;
		display: flex;
		margin: 0;
		align-self: flex-start;
		margin-top: -4px;

		.highlight-on-hover:hover {
			color: $grey02;
		}

		li:not(.unclickable):not(.separator):hover {
			color: #AD899B;
		}

		li.separator {
			margin-left: 6px;
			margin-right: 6px;
		}
	}
}
