@import '../../global/fonts';

.sets-container {
	margin-top: 9px;
	overflow: auto;
	min-height: 0;

	.category-container {
		display: flex;
		flex-direction: column;
		// align-items: center;

		h2 {
			@extend %sub-title;
			margin-bottom: 11px;
		}

		ol {
			list-style: none;
			padding: 0;
			margin: 0;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			overflow-y: scroll;

			li {
				width: 155px;
				height: 200px;
				margin-right: 15px;
				margin-bottom: 15px;
			}
		}
	}
}
