:host() {
	width: 250px;
	z-index: 1;
}

.root {
	height: 100%;

	.scalable {
		transform: scale(1);
	}

	.decktracker {
		max-height: none;
	}

	::ng-deep {
		decktracker-deck-list {
			& > .deck-list.deck-list {
				overflow: visible;
				padding-bottom: 0;
			}
		}

		decktracker-twitch-title-bar {
			display: flex;
			flex-direction: column;
			background: #07081f;

			// .close-button {
			// 	display: none;
			// }
		}

		decktracker-twitch-control-bar {
			display: flex;
			justify-content: flex-end;
			opacity: 0;

			.control-bar {
				background: #07081f;
			}
			.logo {
				display: none;
			}
		}
	}

	&.dragging {
		tooltips {
			display: none;
		}
	}

	&:hover {
		.decktracker decktracker-twitch-control-bar {
			opacity: 1;
		}
	}
}
