:host() {
	height: 12.3%;
	width: 100%;
	position: relative;
}

.card {
	pointer-events: all;
	height: 100%;
	width: 100%;
	position: relative;
	// background: rgba(0, 0, 0, 0.5); // dev

	img {
		height: 100%;
		width: 100%;
	}
}
