:host() {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
}

.state-mouse-over {
	width: 100%;
	height: 100%;
}

.board {
	position: absolute;
	width: 100%;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	empty-card {
		margin-left: 0.5%;
	}
}

.hero {
	position: absolute;
	width: 100%;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.hero-power {
		position: absolute;
		width: 15vh;
		height: 69%;
		left: 55%;
		top: 30%;
	}
}

.top-hero {
	height: 22%;
	top: 8%;
}

.top-board {
	height: 17%;
	top: 30%;
}

.bottom-board {
	height: 17%;
	top: 47%;
}

.bottom-hero {
	height: 21%;
	top: 65%;

	.hero-power {
		top: 19%;
	}
}

.bottom-hand {
	position: absolute;
	width: 40%;
	left: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	// Total is not 100% because the overlay doesn't go all the way to the bottom of the screen
	top: 89%;
	height: 16%;

	// So that it's easier to mouse over the card
	empty-card {
		height: 150%;
	}

	::ng-deep empty-card img {
		height: 74%;
	}
}
