:host() {
	display: flex;
	flex-direction: column;
	height: auto;
}

.bgs-hero-overview-tooltip {
	background-image: radial-gradient(340px at 50% 50%, rgba(94, 11, 70, 0.7) 0%, rgba(43, 24, 39, 0.7) 100%),
		url('https://static.zerotoheroes.com/hearthstone/asset/firestone/images/backgrounds/bg-opponent-mouse-over.png?v=2');
	border-image-slice: 1;

	&.position-8 {
		margin-top: -140px;
	}
	&.position-7 {
		margin-top: -110px;
	}
	&.position-6 {
		margin-top: -80px;
	}
	&.position-5 {
		margin-top: -50px;
	}

	::ng-deep bgs-board {
		.card-on-board .main-card .card-art {
			clip-path: ellipse(46% 39% at 50% 50%);
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

.cards {
	display: flex;
	margin-top: -5px;
	align-items: center;
	justify-content: center;
	// So that the tooltip positioning manages to properly center it
	height: 290px;

	.card {
		width: 220px;

		&:not(:last-child) {
			margin-right: -30px;
		}
	}
}
