@import '../../global/variables';
@import '../../global/fonts';

.card-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.real-card {
		// width: 160px;
		width: 100%;
		position: relative;
		opacity: 0.9;
		transition: transform 0.2s;
	}

	.placeholder {
		position: absolute;
		margin: auto;
		top: -2%;
		width: 95%;
		left: 2%;
		opacity: 0;
	}

	.perspective-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&.showing-placeholder {
		.real-card {
			opacity: 0;
		}
		.placeholder {
			opacity: 1;
		}
	}

	.count {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		top: -8px;
		width: 100%;

		.non-premium,
		.premium {
			@extend %dust-number;
			// font-size: 1.7vh;
			border: 1px solid;
			border-top: none;
			padding: 0 5px 2px 5px;
			display: flex;
			align-items: center;

			span:before {
				content: 'x';
			}
		}

		.premium {
			border-color: $yellow03;
			position: relative;
			width: 44px;
			justify-content: center;

			i {
				width: 14px;
				height: 16px;
				margin-bottom: -4px;
				position: absolute;
			}

			span {
				margin: 0 1px 0 0;
			}

			.left {
				left: 0;
			}

			.right {
				transform: scale(-1, 1);
				right: 0;
			}
		}

		div:nth-child(2) {
			margin-left: 5px;
		}
	}

	.full-size {
		width: 300px;
	}

	.overlay {
		display: none;
	}

	&.missing {
		.real-card {
			opacity: 0.4;
		}
	}

	&:hover {
		.real-card {
			opacity: 1;
			transform: scale3d(1.035, 1.035, 1.035);
		}
	}

	&.high-res {
		margin-bottom: -40px;

		.count {
			top: -32px;
		}
	}
}
