@import '../../global/variables';
@import '../../global/fonts';

.card-details-container {
	display: flex;
	position: relative;
	top: -17px;
	width: 100%;

	.details {
		// width: 413px;
		flex-grow: 1;
		padding-top: 41px;
		display: flex;
		flex-direction: column;
		min-width: 0;

		h1 {
			@extend %card-title;
			padding-bottom: 14px;
			border-bottom: 1px solid $yellow03;
			margin-bottom: 20px;
			margin-right: 55px;
		}

		.card-details {
			overflow-y: scroll;
		}

		.card-info {
			@extend %you-have-viewed;
			margin-top: 9px;

			.sub-title {
				@extend %card-details;
				margin-right: 10px;
			}

			&.audio {
				margin-top: 40px;
				flex-direction: column;

				.sub-title {
					@extend %card-title;
					border-bottom: 1px solid $yellow03;
					margin-bottom: 20px;
					padding-bottom: 9px;
					font-size: 16px;
					margin-right: 55px;
					display: flex;
				}

				.audio-category {
					display: flex;
					flex-direction: column;
					list-style: none;
					margin-bottom: 15px;

					.audio-category-title {
						margin-bottom: 5px;
					}

					.sound {
						display: flex;
						align-items: center;
						margin-right: 11px;
						padding-right: 11px;
						margin-left: 10px;

						.sound-button {
							flex-shrink: 0;
						}

						span {
							margin-right: 6px;
							margin-left: 6px;
						}

						&:hover {
							color: $green01;

							& > button {
								--icon-color: #d9c3ab;
								background-color: transparent;
							}
						}
					}
				}

				.label {
					text-transform: capitalize;
				}
			}

			&.flavor-text {
				margin-top: 20px;

				.sub-title {
					display: block;
				}

				i {
					display: inline;
					font-style: italic;
				}
			}
		}
	}

	.card-view-container {
		padding-left: 19px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin-right: 40px;
		width: 360px;
		min-width: 360px;
		height: 570px;
		// This means that we can't go back (in the navigation) while mousing over a card,
		// but it just looks much better that way
		z-index: 1;
		padding-top: 55px;

		::ng-deep card-view {
			// margin-top: 10px;
			width: 100%;
			height: 100%;

			.card-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.images {
					height: 420px;
					width: 274px;
				}

				.real-card {
					opacity: 1;
					width: 100%;
				}

				.overlay.overlay {
					display: none;
				}

				.count {
					top: -24px;

					.non-premium {
						width: 60px;
						justify-content: center;

						span {
							font-size: 20px;
						}
					}

					.premium.premium {
						width: 90px;

						.left {
							left: -2px;
						}

						.right {
							right: -2px;
						}

						i {
							width: 28px !important;
							height: 32px !important;
							margin-bottom: -7px !important;
						}

						span {
							font-size: 20px;
							margin-left: 9px;
							margin-right: 8px;
						}
					}
				}

				&:hover .count {
					// top: -3px;
				}
			}
		}
	}

	&.hero {
		card-view {
			margin-top: 10%;
		}
	}

	.deco {
		position: absolute;

		&.deco-left {
			transform: rotate(90deg) scale(1, -1);
			left: -29px;
			top: calc(50% - 25px);
		}

		&.deco-top {
			left: calc(50% - 25px);
			top: -7px;
		}

		&.deco-right {
			transform: rotate(90deg);
			right: -29px;
			top: calc(50% - 25px);
		}

		&.deco-bottom {
			left: calc(50% - 25px);
			bottom: -7px;
			transform: scale(1, -1);
		}
	}
}
