@import '../../global/variables';
@import '../../global/fonts';

.pack-stats {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #d9c3ab;
	min-width: 0;
	max-width: 100%;
	min-height: 0;
	overflow: auto;

	.header {
		font-size: 16px;
		margin-bottom: 15px;
		display: flex;
		align-items: center;

		&.best-packs-header {
			margin-top: 15px;
		}

		.show-buyable-packs {
			opacity: 0.5;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			position: relative;
			top: 0;
			right: 0;
			align-self: auto;
			margin-left: auto;
			margin-right: 35px;

			::ng-deep .preference-toggle.preference-toggle.preference-toggle {
				margin-top: 0;
			}

			&.active {
				opacity: 1;
			}
		}

		social-shares {
			margin-right: 15px;
		}
	}

	.packs-container {
		display: flex;
		min-width: 0;
		max-width: 100%;
		flex-wrap: wrap;
		min-height: 0;
		overflow: auto;
		flex-shrink: 0;
		opacity: 1;
		transition: opacity 0.2s ease-in-out;

		&.empty {
			opacity: 0;
		}

		.pack-stat {
			margin-right: 0;
			margin-bottom: 10px;

			.icon-container {
				position: relative;
			}

			.icon {
				width: 100%;
				height: 100%;
			}

			.value {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				top: -5px;
			}

			&.missing {
				opacity: 0.4;
			}

			// &:hover {
			// 	opacity: 1;
			// }
		}
	}

	.best-packs-container {
		flex-shrink: 0;
		margin-top: 15px;

		.best-pack {
			display: flex;

			pack-history-item ::ng-deep {
				.pack-history-item {
					height: 100%;

					.set-icon {
						width: 80px;
					}

					.name {
						display: none;
					}

					.date {
						display: none;
					}
				}
			}

			pack-display {
				width: 400px;
			}
		}
	}
}

.loading {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #d9c3ab;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
