@import '../../global/variables';
@import '../../global/fonts';

.set-stats {
	width: 100%;
	height: 100%;
	// background: rgba(255, 255, 255, 0.08);
	font-family: Open Sans;
	font-size: 20px;
	display: flex;
	flex-direction: column;

	.top-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;
		padding: 10px;

		.toggle-label {
			display: flex;
			align-items: center;

			::ng-deep .toggle p {
				color: var(--color-1);
				width: auto;
				margin-right: 10px;
			}
			::ng-deep .preference-toggle {
				margin: 0;
			}
		}

		.title {
			@extend %sub-title;
			display: flex;
			align-items: center;
			font-size: 20px;
		}
	}

	.stats {
		color: var(--color-1);
		background: var(--color-5);
		padding: 10px;
		flex-grow: 1;
		min-height: 0;
		overflow: auto;
	}

	set-stat-cell,
	.set-stat-cell {
		height: 60px;
		min-height: 60px;

		&:not(:last-child) {
			border-bottom: 1px solid var(--color-3);
		}
	}

	.set-stat-cell {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;

		.text {
			width: 50%;
			flex-grow: 1;
			flex-shrink: 0;
		}

		.value {
			display: flex;
			width: 50%;
			flex-grow: 1;
			flex-shrink: 0;
			justify-content: space-around;
			color: var(--default-text-color);
			--icon-color: var(--default-text-color);

			&.completed {
				color: var(--default-title-color);
			}

			.item {
				display: flex;
			}

			.icon {
				margin-left: 5px;
			}
		}
	}

	.stat {
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 60px;

		&:not(:last-child) {
			border-bottom: 1px solid var(--color-3);
		}

		.text {
			width: 200px;
			flex-shrink: 0;
		}

		.value {
			display: flex;
			flex-grow: 1;
			justify-content: space-around;
			color: var(--default-text-color);
		}
	}

	pie-chart {
		// Also includes the padding in the chart area itself to make room for the labels
		width: 400px;
		margin-top: 36px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	pack-display {
		width: 400px;
	}
}
