@import '../../global/variables';
@import '../../global/fonts';

.set {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	height: 100%;
	position: relative;
	perspective: 800px;

	.set-view {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 100%;
		position: relative;
		transform: rotateY(0deg);
		background: rgba(255, 255, 255, 0.08);

		&:hover {
			background: rgba(255, 255, 255, 0.12);
		}
	}

	&.coming-soon {
		.set-view,
		.set-view:hover {
			background: rgba(255, 255, 255, 0.08);
		}
		.coming-soon-info {
			@extend %completion-number;
			display: flex;
			flex-direction: column;
			position: relative;
			top: -25px;
			align-items: center;
			justify-content: center;

			i {
				width: 62px;
				height: 22px;
				--icon-color: #d9c3ab;
			}

			p {
				margin-top: 5px;
			}
		}
	}

	.logo-container {
		position: relative;
		display: flex;
		flex-direction: column;
		height: calc(100% - 50px);
		align-items: center;
	}

	.set-logo {
		margin-top: 15px;
		width: 112px;
	}

	.set-name {
		@extend %core-set-name;
		text-align: center;
		position: relative;
		top: -16px;
	}

	.cards-collected {
		@extend %completion-number;

		&.premium {
			color: var(--default-title-color);
		}
	}

	.frame {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;

		&.complete-simple {
			border: 1px solid $green01;

			.corner {
				position: absolute;

				&.bottom-left {
					bottom: 0;
					left: 0;
					transform: rotate(0);
				}

				&.top-left {
					top: 0;
					left: 0;
					transform: rotate(90deg);
				}

				&.top-right {
					top: 0;
					right: 0;
					transform: rotate(180deg);
				}

				&.bottom-right {
					bottom: 0;
					right: 0;
					transform: rotate(270deg);
				}
			}
		}

		&.complete-premium {
			border: 1px solid $yellow03;

			.outer-border {
				position: absolute;
				top: -5px;
				right: -5px;
				bottom: -5px;
				left: -5px;
				border: 2px solid $yellow03;
			}

			.corner {
				position: absolute;

				&.bottom-left {
					bottom: 0;
					left: 0;
					transform: rotate(0);
				}

				&.top-left {
					top: 0;
					left: 0;
					transform: rotate(0) scale(1, -1);
				}

				&.top-right {
					top: 0;
					right: 0;
					transform: rotate(180deg);
				}

				&.bottom-right {
					bottom: 0;
					right: 0;
					transform: rotate(180deg) scale(1, -1);
				}
			}

			.crown {
				position: absolute;
				top: -15px;
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
	}

	.extra-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: rgba(255, 255, 255, 0.08);
		transform: rotateY(-180deg);

		.title {
			@extend %pity-timer-title;
			display: flex;
			align-items: center;
			margin-top: 15px;

			i {
				margin-right: 10px;
			}
		}

		.progression {
			display: flex;
			flex-direction: column;
			margin-top: 18px;

			.progress-title {
				@extend %pity-timer-text;
				display: flex;

				img {
					margin-right: 12px;
				}
			}

			.progress-bar {
				width: 125px;
				height: 4px;
				margin-top: 10px;
				background-color: rgba(217, 195, 171, 0.3);
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
			}

			.progress-bar-filled {
				height: 100%;
			}
		}

		.epic {
			.progress-bar-filled {
				background-color: #ca4aff;
			}
		}

		.legendary {
			.progress-bar-filled {
				background-color: #ff8f3b;
			}
		}

		button {
			@extend %button-text;
			width: 125px;
			height: 30px;
			margin-top: 30px;
			background-color: $green01;

			&:hover {
				background-color: $yellow03;
			}
		}
	}

	.wrapper-for-flip {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 100%;
		position: relative;
		transform-style: preserve-3d;
		transform: transform 1s;
	}

	.box-side {
		width: 100%;
		height: 100%;
		position: absolute;
		backface-visibility: hidden;
	}
}
