.decktracker {
	display: flex;
	width: 100%;

	settings-decktracker-launch {
		flex-grow: 1;
	}
	settings-decktracker-your-deck {
		flex-grow: 1;
	}
	settings-decktracker-opponent-deck {
		flex-grow: 1;
	}
	settings-decktracker-global {
		flex-grow: 1;
	}
	settings-decktracker-features {
		flex-grow: 1;
	}
	settings-decktracker-duels {
		flex-grow: 1;
	}
	settings-broadcast {
		flex-grow: 1;
	}
}
