.decktracker-appearance {
	padding-left: 15px;
	padding-right: 15px;
	min-height: 0;
	overflow: auto;
	height: 100%;

	.text {
		margin-bottom: 5px;

		&.disabled {
			opacity: 0.4;
		}
	}

	.toggle-label {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	label {
		.info {
			margin-left: 5px;
			margin-top: 2px;
			.zth-tooltip {
				position: absolute;
				max-width: 200px;

				p {
					width: 200px;
					color: #2f0d0d;
				}

				&.right {
					top: 50%;
					transform: translateY(-50%);
					left: 35px;
					right: auto;
				}
			}
		}
	}

	::ng-deep .first-slider .preference-slider {
		margin-top: 15px;
	}

	::ng-deep preference-toggle .preference-toggle label p,
	::ng-deep preference-slider .preference-slider label {
		width: 210px;
		font-size: 13px;
	}

	::ng-deep preference-toggle.disabled .preference-toggle,
	::ng-deep preference-slider.disabled .preference-slider {
		opacity: 0.4;
		pointer-events: none;
	}

	::ng-deep preference-slider .preference-slider {
		width: 230px;
		margin-left: 10px;
	}
	::ng-deep preference-slider:not(:last-child) .preference-slider {
		margin-bottom: 40px;
	}
}

.reset-container {
	color: #d9c3ab;
	display: flex;
	flex-direction: column;
	padding: 20px;

	button {
		border: 1px solid #d9c3ab;
		padding-left: 25px;
		padding-right: 25px;
		width: auto;
		height: 35px;
		display: flex;
		align-self: flex-start;
		align-items: center;

		span {
			color: #d9c3ab;
		}

		div {
			display: flex;
		}

		&:hover {
			background: #ffb948;
			border: none;

			span {
				color: #2f0d0d;
			}
		}
	}

	.confirmation {
		margin-top: 5px;
		font-size: 12px;
	}
}
