@import './variables';
@import url('https://fonts.googleapis.com/css?family=Sumana');

%app-title {
	font-family: 'Sumana', serif;
	font-weight: 700;
	font-size: 25px;
	color: $yellow03;
}

%set-result {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: $green01;
}

%card-title, %app-name, %loading-screen-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: $yellow03;
}

%user-nickname, %coming-soon {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $green01;
}

%hotkey {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: $green01;
}

%tab {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $grey03;
}

%empty-state-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: $grey01;
}

%sub-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: $grey01;
}

%app-details {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: $green01;
}

%pagination-inactive, %sets-menu {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: $grey03;
}

%card-details {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: $yellow02;
}

%you-have-viewed, %patch-number, %hotkey-subtext, %empty-card-history, %achievement-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: $green01;
}

%search-bar-auto {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: $grey01;
}

%search-active {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: $grey01;
}

%empty-state {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: $grey02;
}

%search-bar-inactive {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: $grey03;
}

%dust-number, %hotkey-label, %pity-timer-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: $green01;
}

%app-status {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: $grey02;
}

%breadcrumbs {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: $grey03;
}

%button-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: $darkred;
}

%pity-timer-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 11px;
	color: $green01;
}

%completion-number {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: $green01;
}

%core-set-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: $yellow03;
}

%ftue-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: $black;
}

%ftue-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: $black;
}

%ftue-button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: $grey01;
}

%achievements-category-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #D9C3AB;
}

%achievements-category-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #FFB948;
}

%achievement-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #FFB948;
}

%achievements-history-header {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #CB9FD7;
}

%achievements-notification-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #D9C3AB;
}

%achievements-number-achieved, %achievements-recap-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #D9C3AB;
}

%achievements-history-date, %achievements-menu-item {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #7D5A87;
}

%achievements-tooltip {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #190505;
}