// colors
$black: #190505;
$darkred: #2f0d0d;
$red01: #5e0d23;
$red02: #b5043f;
$yellow01: #8e5b23;
$yellow02: #c49257;
$yellow03: #ffb948;
$grey01: #cca2b3;
$grey02: #ad899b;
$grey03: #785f6b;
$grey04: #513b48;
$grey05: #3f2a37;
$green01: #d9c3ab;
$green02: #84625f;

// transitions
$fast-hover: .15s;

// specific to home screen
$pink01: #8c0f34;
$lila01: #7a35a0;
$blue01: #264d91;
$brown01: #472406;
