@import 'variables';
@import 'fonts';

.menu-selection {
	@extend %tab;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 1px;

	ul {
		margin: 0;
	}

	.selected {
		color: $yellow03;
    	border-bottom: 1px solid;
	}
}
