@import 'variables';

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: $grey03;
}

::-webkit-scrollbar-thumb:hover {
	background: $grey01;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track-piece {
	display: none;
}
