.collection-stats {
	.sets {
		display: flex;

		sets-container {
			flex-basis: 50%;
			flex-grow: 1;
			justify-content: space-between;

			&:first-of-type {
    			margin-right: 70px;
			}
		}


	}
}
