@import '../global/variables';

.collection {
    flex-grow: 1;
    display: flex;
    padding-top: 15px;

    .main {
    	display: flex;
    	flex-direction: column;
        width: 695px;
        padding-left: 14px;
        margin-top: 0;

        collection-menu {
            height: 30px;
            border-bottom: 1px solid $grey03;
            display: flex;
            align-items: flex-end;
        }
    }

    .secondary {
    	display: flex;
    	flex-direction: column;
    }

    .full-card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

	.sets {
		display: flex;

		sets-container {
			flex-basis: 50%;
			flex-grow: 1;
			justify-content: space-between;

			&:first-of-type {
    			margin-right: 70px;
			}
		}
	}
}

.ads {
    position: absolute;
    background: red;
    width: 400px;
    height: 300px;
    bottom: 0;
    right: 0;
}

card-search {
    display: flex;
    justify-content: flex-end;
}
