@import '../global/variables';
@import '../global/fonts';

body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: transparent;
    border: 0;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.root {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	// filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
    overflow: hidden;

	.corner {
		position: absolute;

		&.top-left {
			top: 0;
			left: 0;
		}

		&.top-right {
			top: 0;
			right: 0;
    		transform: rotate(90deg);
		}

		&.bottom-right {
			bottom: 0;
			right: 0;
    		transform: rotate(180deg);
		}

		&.bottom-left {
			bottom: 0;
			left: 0;
    		transform: rotate(270deg);
		}
	}

    .shadow {
    	position: absolute;
	    top: 10px;
	    left: 10px;
	    bottom: 10px;
	    right: 10px;
	    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }

	.app-container {
    	position: relative;
	    width: calc(100% - 20px);
	    height: calc(100% - 20px);
	    display: flex;
	    flex-direction: column;
    	overflow: hidden;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
		
		&.collection {
			background-image: url('/Files/assets/images/backgrounds/main-screen_bg.png');
			outline: 1px solid $grey04;
		}

		.navigation {
			display: flex;
			position: relative;
			flex-shrink: 0;
			height: 50px;

			.logo {
				position: relative;
				top: 6px;
				margin-left: 15px;
				margin-right: 120px;
			}

			menu-selection {
			    display: flex;
				align-items: flex-end;
			}

			.main-section {
				display: flex;
			}
		}

	    .menu-bar {
	    	background: transparent;
		    display: flex;
		    flex-direction: row;
		    align-items: stretch;
		    border: none;
		    width: 100%;
		    height: 30px;
		    height: 80px;
		    z-index: 400;
    		flex-shrink: 0;
    		border-bottom: 1px solid $grey04;

    		.first {
    			display: flex;
    			flex-direction: column;
			}
			
			hotkey {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-grow: 1;
				position: relative;
			}

    		// player-name {
			   //  border-right: 1px solid $grey03;
			   //  margin: 10px 11px 9px 0;
			   //  padding-right: 15px;
			   //  display: flex;
			   //  // margin-top: 10px;
			   //  // margin-bottom: 9px;
			   //  // margin-right: 11px;
			   //  // margin-left: 15px;
    		// }

		    real-time-notifications {
		    	height: 29px;
				display: flex;
			    justify-content: flex-start;
			    align-items: center;
			    padding-left: 10px;
		    }

		    .controls {
		    	height: 30px;
		    	display: flex;

		    	.close-button:hover {
		    		background: $grey01;
		    		color: $darkred;
		    	}
		    }
	    }
		
		&.achievements {
			background-image: radial-gradient(340.00px at 50% 50%, rgba(90, 17, 108, 0.7) 0%, rgba(47, 13, 13, 0.7) 100%), url('/Files/assets/images/backgrounds/achievements_bg.jpg');
			background-size: 100%;
			outline: 1px solid #4B3052;

			.navigation menu-selection .menu-selection {
				color: #7D5A87;
			}
			
			.menu-bar {
				border-bottom-color: #4B3052;
			}

			.menu-selection .zth-tooltip {
				background-color: #7D5A87;
				p {
					color: #190505;
				}
			}

			.real-time-notifications {
				color: #A276AF;
			}
		}

	    .content-container {
		    position: relative;
		    flex-grow: 1;
		    display: flex;
    		flex-direction: column;
	    }
	}
}

ftue {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9998;
}

tooltips {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.ads-container {
    width: 400px;
    height: 300px;
	right: 15px;
	bottom: 15px;
    position: absolute;

    .no-ads-placeholder {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            width: 109px;
            height: 154px;
        }
    }

    .ads {
        width: 100%;
        height: 100%;
        position: absolute;
	}
}

.app-container.collection .no-ads-placeholder {
	background-color: $black;

	.logo {
		color: $darkred;
	}
}

.app-container.achievements {
	.controls {
		button {
			color: #CB9FD7;
			
			&:hover {
				color: #CB9FD7;
				background: #4B3052;
			}
		}

		.close-button:hover {
			color: #2A1030;
			background: #CB9FD7;
		}
	}

	.no-ads-placeholder {
		background-color: #190505;

		.logo {
			color: #2A1030;
		}

	}
}
