@import '../global/variables';

body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));

	.corner {
		position: absolute;

		&.top-left {
			top: 0;
			left: 0;
		}

		&.top-right {
			top: 0;
			right: 0;
    		transform: rotate(90deg);
		}

		&.bottom-right {
			bottom: 0;
			right: 0;
    		transform: rotate(180deg);
		}

		&.bottom-left {
			bottom: 0;
			left: 0;
    		transform: rotate(270deg);
		}
	}

    .shadow {
    	position: absolute;
	    top: 10px;
	    left: 10px;
	    bottom: 10px;
	    right: 10px;
	    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }

	.app-container {
    	position: relative;
		background-image: url('/Files/assets/images/backgrounds/main-screen_bg.png');
	    width: calc(100% - 20px);
	    height: calc(100% - 20px);
	    display: flex;
	    flex-direction: column;
    	overflow: hidden;
    	outline: 1px solid $grey04;
    	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);

		.navigation {
			display: flex;
			position: relative;
			flex-shrink: 0;
			height: 50px;

			.logo {
				width: 170px;
			}

			menu-selection {
			    display: flex;
				align-items: flex-end;
			}

			.main-section {
				display: flex;
			}
		}

	    .menu-bar {
	    	background: transparent;
		    display: flex;
		    flex-direction: row;
		    align-items: stretch;
		    border: none;
		    width: 100%;
		    height: 30px;
		    height: 80px;
		    z-index: 400;
    		flex-shrink: 0;
    		border-bottom: 1px solid $grey04;

    		.first {
    			display: flex;
    			flex-direction: column;
    			flex-grow: 1;
    		}

    		player-name {
			    border-right: 1px solid $grey03;
			    margin: 10px 11px 9px 0;
			    padding-right: 15px;
			    display: flex;
			    // margin-top: 10px;
			    // margin-bottom: 9px;
			    // margin-right: 11px;
			    // margin-left: 15px;
    		}

		    real-time-notifications {
		    	height: 29px;
				display: flex;
			    justify-content: flex-start;
			    align-items: center;
			    padding-left: 10px;
		    }

		    .controls {
		    	height: 30px;
		    	display: flex;

		    	.close-button:hover {
		    		background: $yellow03;
		    		color: $darkred;
		    	}
		    }
	    }

	    .content-container {
		    position: relative;
		    flex-grow: 1;
		    display: flex;
    		flex-direction: column;
	    }
	}
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.full-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

tooltips {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}


// login {
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// }
