.navigation {
	display: flex;
	position: relative;
	flex-shrink: 0;
	height: 50px;

	.logo {
		position: relative;
		top: 6px;
		margin-left: 15px;
		margin-right: 120px;
	}

	menu-selection {
		display: flex;
		align-items: flex-end;
	}

	main-window-navigation {
		position: absolute;
	}

	.main-section {
		display: flex;
	}
}

.menu-bar {
	background: transparent;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	border: none;
	width: 100%;
	height: 30px;
	height: 80px;
	z-index: 400;
	flex-shrink: 0;
	border-bottom: 1px solid var(--menu-bar-bottom-border-color);

	.first {
		display: flex;
		flex-direction: column;
	}

	hotkey {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-grow: 1;
		position: relative;
	}

	real-time-notifications {
		height: 29px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 10px;
	}

	.controls {
		height: 30px;
		display: flex;
		// color: $green01;
		// --icon-color: $green01;

		// .close-button:hover {
		// 	background: $grey01;
		// 	color: $darkred;
		// }
	}
}

// &.achievements,
// &.decktracker {

// 	// .navigation menu-selection .menu-selection {
// 	// 	color: #7d5a87;
// 	// }

// 	// .menu-bar {
// 	// 	border-bottom-color: #4b3052;
// 	// }

// 	.menu-selection .zth-tooltip {
// 		background-color: #7d5a87;
// 		p {
// 			color: #190505;
// 		}
// 		.tooltip-arrow {
// 			fill: #7d5a87;
// 		}
// 	}

// 	.real-time-notifications {
// 		color: #a276af;
// 	}
// }

.content-container {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	& > * {
		flex-grow: 1;
		display: flex;
	}
}

tooltips {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9999;
}

ads {
	width: 400px;
	height: 300px;
	right: 15px;
	bottom: 15px;
	position: absolute;
}
