@import '../global/variables';
@import '../global/fonts';

html {
	// background-color: white;
}

body {
	margin: 0;
}

.notifications {

	.simple-notification-wrapper.simple-notification-wrapper {
		top: 0;
		right: 20px;
		bottom: auto;
		width: 400px;

		.simple-notification {
		    padding: 0;
		    background: transparent;
		    border: none;
		    // margin-bottom: -10px;

		    .sn-content {
			    padding: 0;
			    display: flex;
			    justify-content: flex-end;
		    }
		}
	}
}

.message-container {
	display: flex;
	align-items: center;
	background: radial-gradient($red01, $darkred);
	border: 1px solid $grey03;
	// margin: 10px;
	// margin-bottom: 0;

	&.message-new-card {
		width: 320px;
		height: 65px;
		position: relative;

		.rarity {
			position: absolute;
			width: 18px;
		    top: -13px;
		    left: -9px;
		    z-index: 1;
		}

		.art {
			// width: 65px;
			// height: 65px;
			width: 87px;
    		clip-path: inset(8% 13% 20% 13%);
    		margin-left: -11px;
    		margin-top: 11px;
		}

		.message {
	    	@extend %you-have-viewed;
	    	display: flex;
	    	flex-direction: column;
    		margin-left: 4px;
    		position: relative;
		    height: 100%;
		    width: 100%;
		    justify-content: center;
    		padding-left: 18px;
    		padding-right: 18px;
		}

		.new-card {
			margin-bottom: 5px;
		}

		&.premium {
			border: 1px solid $yellow03;

			.outer-border {
			    position: absolute;
			    width: calc(100% + 8px);
			    height: calc(100% + 8px);
			    top: -4px;
			    left: -4px;
			    border: 2px solid $yellow03;
			}

			.premium-deco {
				position: absolute;
				width: 100%;
				height: 100%;

				.left {
				    transform: scale(1,-1);
				    position: absolute;
				    left: -34px;
				    top: 2px;
				}

				.right {
				    transform: scale(-1,1);
				    position: absolute;
				    right: 18px;
				    bottom: 3px;
				}
			}
		}
	}

	&.message-dust {
	    @extend %you-have-viewed;
		width: 255px;
		height: 65px;

		.dust {
			margin-right: 15px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    width: 65px;

			i {
			    width: var(--size, 45px);
			    height: var(--size, 45px);
			}
		}

		.text {
			display: flex;
			flex-direction: column;

			.dust-amount:before {
				content: "+";
			}
		}

	}

    .command {
	    display: inline-block;
	    border: 1px solid white;
	    padding: 5px 15px;
	    border-radius: 6px;
	}
}

.message-container-app {
	width: 320px;
	padding: 10px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px 0 0 5px;
	display: flex;
    align-items: center;

    img {
		margin-right: 5px;
		width: 24px;
		height: 24px;
	}

	.message {
    	padding: 0;
    	font-size: 14px;
    	line-height: 15px;
    }

    .command {
	    display: inline-block;
	    border: 1px solid white;
	    padding: 5px 15px;
	    border-radius: 6px;
	}
}
