@import '../global/fonts';

.real-time-notifications {
	@extend %app-status;
    display: flex;
    align-items: center;

	.warning-icon {
		display: none;
		margin-right: 6px;
	}

	&.warning .warning-icon {
		display: inherit;
	}

	::ng-deep span {
		a, a:hover, a:active {
			text-decoration: none;
			color: #1da1f2;
		}
	}
}
