:host {
	display: flex;
}

.battle-simulation {
	display: flex;
	flex-direction: column;
	border-left: 1px solid var(--color-3);
	margin-right: 20px;
	padding-left: 3%;

	.winning-chance {
		display: flex;
		align-items: center;

		.label {
			width: 130px;
		}

		.value {
			color: var(--default-title-color);
			font-size: 30px;
			width: 85px;
		}
	}

	.damage {
		display: flex;

		.label {
			width: 130px;
		}
	}
}
