:host() {
	display: flex;
}

.buddies-container {
	flex-direction: column;
	border-right: 1px solid var(--color-3);
	padding-right: 10px;
	align-items: flex-start;
	width: 100%;

	.title {
		margin-left: 20px;
		margin-bottom: 10px;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.buddies {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		justify-content: flex-start;
		margin-left: 10px;

		.buddy {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 70px;
			flex-shrink: 0;
			height: 70px;

			.icon {
				width: 70%;
			}

			.label {
				margin-top: -10%;
				text-align: center;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
