.opponent-overview {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	background: rgba(255, 255, 255, 0.08);
	padding: 20px;
	position: relative;
	height: 100%;
	width: 100%;

	.portrait {
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		width: 14%;
		position: relative;
		margin-right: 5%;

		.tavern {
			position: absolute;
			right: -8%;
			top: 20%;
			width: 35%;
		}
	}

	::ng-deep bgs-hero-portrait .health .value {
		font-size: 13px;
		margin-left: 1px;
	}

	.main-info {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-shrink: 1;
		border-right: 1px solid var(--color-3);
		justify-content: center;
		// padding-right: 5%;
		margin-right: 3%;
		overflow: hidden;
		overflow: visible;
	}

	bgs-triples {
		flex-grow: 0;
		width: 20%;
		flex-shrink: 0;
	}

	::ng-deep bgs-triples {
		.triples-section.triples-section.triples-section {
			flex-direction: column;
			align-items: center;
			width: 100%;

			.title {
				width: auto;
				margin: 0;
			}
			.subtitle {
				margin: auto;
			}
			.triple-tiers {
				justify-content: space-around;
				align-items: center;
				width: 100%;
				flex-grow: 1;
				flex-wrap: wrap;

				.triple {
					width: 2vw;
					height: 2.3vw;
					margin-top: 4px;

					.number {
						font-size: 1vw;
					}
				}
			}
		}
	}
}
