:host {
	display: flex;
}

.battle-simulation {
	display: flex;
	color: var(--default-text-color);

	.probas {
		display: flex;
		flex-direction: column;
		border-left: 1px solid var(--color-3);
		border-right: 1px solid var(--color-3);
		padding-left: 20px;
		padding-right: 20px;
		width: 205px;

		.title {
			text-indent: 15px;
		}
	}

	.proba-items {
		display: flex;
	}

	.damage-container {
		display: flex;
		flex-direction: column;
		width: 85px;
		padding-left: 20px;

		.damage {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			.damage-icon {
				width: 15px;
				height: 15px;
				margin-right: 5px;
			}

			.damage-value {
				width: 30px;
			}

			&.received {
				.damage-icon {
					transform: rotate(180deg);
				}
			}
		}
	}

	.probas .title,
	.damage-container .title {
		display: none;
	}

	.item {
		flex-basis: 33%;
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		&.win .value {
			color: #61ff47;
		}

		&.lose .value {
			color: #ff4747;
		}
	}
}
