:host {
	display: flex;
}

.battle-simulation {
	display: flex;
	flex-direction: column;
	border-left: 1px solid var(--color-3);
	margin-right: 20px;
	padding-left: 3%;
	width: 250px;

	.winning-chance {
		display: flex;
		align-items: center;

		.label {
			width: 130px;
		}

		.value {
			color: var(--default-title-color);
			font-size: 30px;
			width: 85px;
			display: flex;
			align-items: baseline;
		}

		.tie {
			color: #dfb3d3;
			font-size: 10px;
			margin-left: 5px;
		}
	}

	.damage {
		display: flex;

		.label {
			width: 130px;
		}

		.win {
			color: #61ff47;
		}

		.separation {
			margin-left: 10px;
			margin-right: 10px;
		}

		.lose {
			color: #ff4747;
		}
	}
}
