.container {
	display: flex;
	height: 100%;
	flex-grow: 1;
	min-width: 0;

	&.no-ads {
		.left {
			height: calc(100% + 25px);
		}
	}

	&.no-opp-recap {
		.content {
			padding-top: 0;
		}
		.left {
			margin-top: 50px;
		}
	}
}

.left {
	width: 400px;
	height: calc(100% - 300px);
	flex-shrink: 0;
	order: 2;
	font-size: 20px;
	margin-left: 10px;
	min-height: 0;
	display: flex;
	flex-direction: column;
	position: relative;
	top: -30px;

	.title {
		font-size: var(--variable-title-font-size-big);
		color: var(--color-8);
		display: flex;
		margin-bottom: 20px;
	}

	bgs-hero-face-offs {
		min-height: 0;
		height: 100%;
	}
}

bgs-opponent-overview-big {
	max-height: 250px;
	height: 250px;
	flex-shrink: 0;
}

bgs-hero-face-off {
	width: 105px;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
}

::ng-deep bgs-opponent-overview bgs-board .board {
	top: -4px;
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	width: calc(100% - 410px);
	// min-height: 0;
	// overflow: auto;
	// So that the divine shields are the top are not truncated
	padding-top: 20px;
	position: relative;
	top: 0px;
}

.other-opponents {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	min-height: 0;
	// overflow: auto;
	margin-top: 20px;

	.subtitle {
		flex-grow: 0;
		flex-shrink: 0;
		height: 40px;
		color: var(--default-title-color);
		font-size: 20px;
		display: flex;
	}

	.opponents {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: 0;
		overflow: auto;
		padding-right: 10px;

		bgs-opponent-overview {
			// width: calc(50% - 5px);
			margin-bottom: 10px;
			// height: 9vw;
			height: 120px;
			width: 100%;
		}
	}
}

.empty-state {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10vh;

	i {
		width: 30vw;
		height: 20vw;
		margin-bottom: 30px;
		--icon-color: var(--color-1);
	}

	.title {
		margin-bottom: 15px;
		color: var(--color-1);
	}

	.subtitle {
		color: var(--color-1);
	}

	svg {
		fill: transparent;
	}
}
