.current-session-widget {
	display: flex;
	flex-direction: column;
	width: 225px;
	color: var(--color-2);
	padding-bottom: 10px;

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: var(--window-background-image);
	}

	.controls {
		display: flex;
		height: 25px;
		margin-bottom: 1px solid var(--color-3);

		.title {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-grow: 1;
		}

		.mode,
		.display {
			padding: 0 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-grow: 1;
			border-right: 1px solid var(--color-3);
		}

		.buttons {
			display: flex;

			.button {
				position: relative;
				width: var(--size, 30px);
				height: var(--size, 30px);
				--icon-color: var(--control-button-color);
				color: var(--control-button-color);
				background-color: trasnparent;
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 0 0 auto;
				cursor: default;

				svg {
					width: 100%;
					height: 100%;
					flex: 0 0 auto;
					pointer-events: none;
					user-select: none;
				}

				&.reset {
					padding: 3px;
				}

				&:hover {
					background: var(--on-close-button-background-color); // #2F0D0D;
					color: var(--on-close-button-color); //#CCA2B3;
					--icon-color: var(--on-close-button-color); //#CCA2B3;
				}
			}
		}

		.reset,
		.close {
			svg {
				max-width: 25px;
				max-height: 25px;
			}
		}
	}

	.summary {
		display: flex;
		height: 40px;
		padding: 0 10px;
		margin-top: 10px;

		.games {
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.rank {
			display: flex;
			width: 100px;
			align-items: center;

			.current {
				width: 35px;
				height: 35px;
			}

			.delta {
				font-size: 20px;
				color: var(--default-title-color);
				margin-left: 10px;

				&.positive {
					color: #61ff47;

					&::before {
						content: '+';
					}
				}

				&.negative {
					color: #ff4747;
				}
			}
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		margin-top: 5px;

		.grouped,
		.details {
			display: flex;
			flex-direction: column;
		}

		.grouped {
			&:after {
				content: '';
				padding: 0 10px;
				border-bottom: 1px solid var(--color-1);
				padding-bottom: 10px;
				margin: 0 10px 10px 10px;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}

		.group {
			display: flex;
			padding-left: 10px;
			padding-right: 10px;
			height: 40px;
			align-items: center;
			position: relative;

			.category {
				width: 60px;
				flex-shrink: 0;
				color: var(--color-1);
			}

			.value {
				width: 40px;
				flex-shrink: 0;
				color: var(--default-title-color);
			}

			.group-details {
				display: flex;
				overflow: hidden;
				position: relative;
				height: 100%;

				.background {
					background: var(--color-9);
					z-index: -1;
					position: absolute;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
				}

				.group-detail {
					margin-right: 5px;
					display: flex;
					position: relative;
					top: 3px;
					opacity: 0.8;

					&.battlegrounds {
						bgs-hero-portrait {
							width: 30px;
						}
					}

					&:hover {
						opacity: 1;
					}

					.icon {
						width: 30px;
						height: 30px;
						clip-path: circle(10px at 50% 50%);
						transform: scale(1.5);
					}

					&:nth-child(n + 5) {
						display: none;
					}
				}
			}

			&:hover {
				.group-details {
					overflow: visible;

					.group-detail:nth-child(n + 5) {
						display: flex;
					}
				}
			}
		}

		.details {
			.detail {
				::ng-deep replay-info {
					.replay-info {
						background: none;
						padding: 0 10px;
					}
					.result-color-code,
					.mode,
					// .tribes, 
					.warband,
					.right-info,
					.mmr .text {
						display: none;
					}
					.player-images,
					.result,
					.mmr,
					.tribes {
						border-right: none;
						padding-right: 0;
					}
					.player-images {
						width: 27px;
					}
					.result {
						width: 30px;
						margin-right: 0;
					}
					.mmr {
						width: 30px;
						margin-right: 0;
					}
					.tribes {
						order: 1;
						.tribe {
							margin-right: -6px;
							width: 27px;
							height: 27px;
						}
					}
				}

				&:hover {
					::ng-deep replay-info {
						// .replay-info {
						// }
						.warband {
							background: var(--color-9);
							display: flex;
							order: 2;
							border-right: none;

							bgs-board {
								top: 0;
							}
						}
					}
				}
			}
		}
	}
}
