.content-container {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

match-stats-menu {
	width: 420px;
	border-right: 1px solid #303352;
}

.main-zone {
	flex-grow: 1;
	position: relative;
	margin-left: 15px;

	& > * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: 0;
	}

	.active {
		opacity: 1;
		z-index: 1;
	}
}

.menu-bar {
	display: flex;
	margin-top: 5px;
	margin-bottom: 15px;
}

.title {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 22px;
	color: #ffb948;
	flex-grow: 1;
	text-indent: 20px;
}

.controls {
	display: flex;
	position: relative;
	top: -10px;
}

ads {
	left: 10px;
	bottom: 10px;
}
