:host {
	display: flex;
}

.match-stats-menu {
	display: flex;
	flex-direction: column;
	width: 175px;
	padding-right: 15px;
	height: 100%;
	width: 100%;
	list-style: none;

	li {
		width: 100%;
		height: 40px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;
		color: #d9c3ab;
		padding-left: 15px;
		display: flex;
		align-items: center;

		&.selected {
			background: rgba(255, 255, 255, 0.08);
			color: #ffb948;
		}

		&:hover {
			color: #ffb948;
		}
	}
}
