:host() {
	position: relative;
	top: 15px;
	left: -14px;
}

.opponent-card-info-id {
	background: #07081f;
	padding: 5px;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid #9fb6d7;
	--icon-color: #9fb6d7;
	overflow: hidden;
	z-index: 1;

	&.buffed {
		border-color: #ffb948;
		--icon-color: #ffb948;
	}

	.created-by {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 15px;
		left: 15px;
	}
}

.card-image {
    width: 260%;
	clip-path: ellipse(50% 50% at 50% 50%);
}
