.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;

	.empty-card {
		height: 100%;
		width: 17%;
		background: rgba(255, 255, 255, 0.01);
		flex-grow: 0;
		flex-shrink: 0;
	}

	.hero-card {
		margin-right: 8%;
	}

	.treasure-card {
		width: 22%;
	}
}
