.battlegrounds-stats-hero-vignette {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	background: rgba(255, 255, 255, 0.08);
	padding: 10px;

	.wrapper-for-flip,
	.box-side {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.hero-name {
		font-size: 14px;
		color: var(--default-title-color);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 140px;
		text-align: center;
	}

	.portrait {
		// width: 80px;
		margin-top: 10px;

		::ng-deep .health {
			right: -12%;
			bottom: 5%;

			.icon {
				display: none;
			}
			.value {
				font-size: 18px;
			}
		}
	}

	&.unused {
		opacity: 0.4;
	}

	&:hover {
		background: rgba(255, 255, 255, 0.12);
	}

	.stats {
		display: flex;
		flex-direction: column;
		font-size: 12px;
		align-items: center;

		.item {
			display: flex;
			align-items: center;
			margin-top: 3px;

			.label {
				margin-right: 5px;
			}

			.value {
				font-weight: bold;
				color: var(--default-title-color);
			}

			&.mmr {
				&.negative .value {
					color: #ff4747;
				}

				&.positive .value {
					color: #61ff47;
				}

				&.missing .value {
					color: inherit;
				}
			}
		}
	}
}
