.battlegrounds-personal-stats-heroes {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;

	battlegrounds-stats-hero-vignette {
		width: 155px;
		margin-right: 15px;
		margin-bottom: 15px;
	}
}

// @media screen and (min-width: 1450px) and (min-height: 850px) {
// 	battlegrounds-stats-hero-vignette {
// 		zoom: 1.1;
// 	}
// }

// @media screen and (min-width: 1700px) and (min-height: 900px) {
// 	battlegrounds-stats-hero-vignette {
// 		zoom: 1.3;
// 	}
// }
