.battlegrounds-personal-stats-heroes {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	battlegrounds-stats-hero-vignette,
	battlegrounds-stats-quest-vignette {
		width: 155px;
		margin-right: 15px;
		margin-bottom: 15px;
	}
}
