:host() {
	display: flex;
	flex-direction: column;
}

.header {
	color: var(--color-8);
	display: flex;
	align-items: center;
	flex-grow: 0;
	height: 30px;
	padding-right: 35px;
	font-size: 16px;
	margin-bottom: 10px;

	.label {
		display: flex;
		align-items: center;

		.record-icon {
			width: 20px;
			height: 20px;
		}
	}

	.filler {
		flex-grow: 1;
	}
}

.stats-recap {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 20px;
	min-height: 0;
	overflow: auto;
	height: 100%;
	color: var(--color-8);
	position: relative;
	flex-grow: 1;
	font-size: 14px;

	stat-cell:not(:last-child) {
		border-bottom: 1px solid var(--color-3);
	}
	::ng-deep stat-cell .cell,
	.cell.cell.cell.cell.cell {
		background: rgba(255, 255, 255, 0.08);
		margin-bottom: 5px;
		padding-left: 15px;
		padding-right: 15px;
		height: 42px;
		min-height: 42px;
		width: 100%;
	}

	::ng-deep stat-cell {
		.portrait.portrait.portrait.portrait {
			height: 80%;
			clip-path: ellipse(42% 42% at 50% 50%);
		}
		.replay.replay.replay.replay {
			width: 120px;
			justify-content: center;
			margin-right: 0;

			.watch-icon {
				width: 30px;
				height: 30px;
			}
		}
		.hero.hero.hero.hero {
			margin-right: 0;
			height: 42px;
		}
	}

	.entry {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 14%;
		min-height: 60px;
		&:not(:last-child) {
			border-bottom: 1px solid var(--color-3);
		}
	}

	.cell {
		display: flex;

		.label {
			flex-grow: 1;
			.explain-link {
				display: none;
			}
		}

		.value {
			color: var(--default-text-color);
		}

		.record-icon {
			display: none;
			width: 40px;
			height: 40px;
			position: relative;
			top: -5px;
		}

		&.new-record .record-icon {
			display: inline-block;
		}
	}

	// .battle-luck .label {
	// 	display: flex;
	// 	flex-direction: column;
	// 	position: relative;
	// }

	.explain-link {
		display: inline-block;
		// color: var(--default-title-color);
		color: var(--default-text-color);
		font-size: 12px;
		width: auto;
		text-indent: 2px;
		position: absolute;
		top: 20px;
		opacity: 0.4;

		&:hover {
			opacity: 0.7;
			background: transparent;
		}
	}
}

::ng-deep stat-cell,
.header {
	.label {
	}
	.hero {
		width: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.replay {
		width: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.value {
		width: 65px;
		text-align: right;
	}
}
