.stats-recap {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	min-height: 0;
	overflow: auto;
	height: 100%;
	color: var(--color-8);
	position: relative;
	flex-grow: 1;

	stat-cell:not(:last-child) {
		border-bottom: 1px solid var(--color-3);
	}

	::ng-deep stat-cell {
		.value {
			width: 65px;
			text-align: right;
		}
	}

	.entry {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 14%;
		min-height: 60px;
		&:not(:last-child) {
			border-bottom: 1px solid var(--color-3);
		}
	}

	.cell {
		display: flex;

		.label {
			flex-grow: 1;
		}

		.value {
			color: var(--default-text-color);
		}

		.record-icon {
			display: none;
			width: 40px;
			height: 40px;
			position: relative;
			top: -5px;
		}

		&.new-record .record-icon {
			display: inline-block;
		}
	}

	.battle-luck .label {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.explain-link {
		display: inline-block;
		// color: var(--default-title-color);
		color: var(--default-text-color);
		font-size: 12px;
		width: auto;
		text-indent: 2px;
		position: absolute;
		top: 20px;
		opacity: 0.4;

		&:hover {
			opacity: 0.7;
			background: transparent;
		}
	}

	.face-offs {
		.cell {
			width: 75px;
		}
	}
}
