:host {
	height: 100%;
	display: flex;
}

.battlegrounds-simulator {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	background: rgba(255, 255, 255, 0.08);
	padding: 20px;
	margin-right: 15px;
	margin-bottom: 15px;

	.battle {
		font-size: 13px;
		height: 100%;

		& ::ng-deep .result.result.result bgs-battle-status {
			.battle-simulation {
				align-items: center;
			}
			.probas,
			.damage-container {
				border: none;
				padding: 0;
				margin-bottom: 0;
			}
			.damage-container {
				display: flex;
			}
			.proba-items {
				border-right: 1px solid var(--color-2);
				padding-right: 30px;
				margin-right: 30px;
			}
		}
	}
}
