:host {
	height: 100%;
	display: flex;
}

.battlegrounds-simulator {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	background: rgba(255, 255, 255, 0.08);
	padding: 20px;
	margin-right: 15px;
	margin-bottom: 15px;

	.battle {
		font-size: 13px;
		height: 100%;
	}
}
