.share-info {
	display: flex;
	flex-direction: column;
}

input,
.login-message {
	background: rgba(255, 255, 255, 0.12);
	height: 45px;
	padding: 10px;
	border: none;
	resize: none;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: #d9c3ab;
	cursor: auto;
	margin-bottom: 10px;
}

.subreddit {
	display: flex;

	input {
		flex-grow: 1;
		height: 32px;
	}

	.flairs {
		flex-shrink: 0;
		margin-left: 15px;
	}

	::ng-deep .flairs {
		.selected-icon {
			width: 40px;
			height: 40px;
		}
	}
}
