.secrets-helper-widget {
	.icon {
		width: 40px;
		height: 40px;
		fill: currentcolor;
	}
	.idle {
		background: url(/Files/assets/svg/secrets_helper_widget_idle.svg) center center;
	}
	.active {
		background: url(/Files/assets/svg/secrets_helper_widget_active.svg) center center;
		display: none;
	}
	&:hover {
		.active {
			display: flex;
		}
		.idle {
			display: none;
		}
	}
	&:not(.active) {
		display: none;
	}
}
