:host() {
	width: 100%;
	height: 100%;
	display: flex;
}

.battlegrounds-mouse-over-overlay {
	width: 100%;
	height: 100%;
}

.bgs-leaderboard {
	position: absolute;
	height: 73%;
	// Leave some room for the mouse to cleanly exit the zone while still passing through
	// an area without a mouseover behavior, so that it resets
	width: 11%;
	left: 1%;
	top: 15%;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

twitch-bgs-hero-overview {
	width: 780px !important;
}

.board-container {
	position: absolute;
	left: 0;
	width: 100%;
}

.board {
	// The board width is always based on the game's height, so it's safe to use
	// vh as a unit. This will let us resize the overlay without having to
	// change all the style
	width: 91vh;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 0vh;

	bgs-tavern-minion {
		height: 100%;
		width: 14%;
		// border: red 1px solid;
		// background: rgba(255, 255, 255, 0.5);
	}
}

.top-board {
	height: 17vh;
	top: 29.5%;
}
