:host() {
	height: 12%;
	width: 100%;
	background: rgba(255, 255, 255, 0.01);
	position: relative;
}

.card {
	pointer-events: all;
	height: 100%;
	width: 100%;
	position: relative;
	// background: rgba(0, 0, 0, 0.5); // dev

	img {
		height: 100%;
		width: 100%;
	}
}

.last-opponent-icon {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 30px;
	left: -20px;
}
