:host() {
	display: flex;
	width: 100%;
	height: 100%;
}

.bgs-hero-selection-overlay {
	display: flex;
	width: 100%;
	height: 100%;

	&.with-hero-tooltips {
		bgs-hero-overview {
			::ng-deep .hero-overview {
				.portrait-tooltip {
					display: flex;
					background: rgba(255, 255, 255, 0.01);
					position: absolute;
					top: 49%;
					width: 65%;
					padding-bottom: 65%;
				}
			}
		}
	}

	bgs-hero-overview {
		width: 25%;

		::ng-deep .hero-overview {
			background: transparent;

			.name,
			.tier,
			.winrate,
			bgs-hero-stats,
			bgs-hero-tribes,
			.portrait-container > .portrait {
				display: none !important;
			}

			.portrait-container.portrait-container.portrait-container {
				width: 100%;
				height: 60px;
				width: 100%;
				position: relative;
				top: 78%;

				.achievements {
					height: 100%;
					margin: 0;

					.achievement {
						width: 80px;
						height: 80px;

						.icon svg {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
}
