.duels-hero-stat-vignette {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	background: rgba(255, 255, 255, 0.08);
	padding: 10px;
	--bar-chart-bar-color: var(--color-8);
	--on-bar-chart-bar-color: var(--color-2);

	.box-side {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}

	.name-container {
		font-size: 14px;
		color: var(--default-title-color);
		width: 140px;
		display: flex;
		align-items: center;

		.name {
			flex-grow: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: center;
		}

		.info {
			flex-shrink: 0;
			flex-grow: 0;
			width: 15px;
			height: 15px;
			--icon-color: var(--color-1);
		}
	}

	.portrait-container {
		position: relative;

		.portrait {
			width: 80px;
			height: 80px;
			clip-path: circle(25px at 50% 50%);
			transform: scale(1.5);
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.secondary-class-icon {
			position: absolute;
			width: 30px;
			height: 30px;
			clip-path: circle(10px at 50% 50%);
			transform: scale(1.5);
			top: 15px;
			right: -30px;
		}
	}

	&.unused {
		// opacity: 0.6;
	}

	&:hover {
		// background: rgba(255, 255, 255, 0.12);
	}

	.win-distribution {
		height: 60px;
		width: calc(100% - 20px);
		top: -10px;

		::ng-deep .tooltip-container {
			width: 150px;
		}
	}

	.stats {
		display: flex;
		flex-direction: column;
		font-size: 12px;
		align-items: center;
		width: 100%;

		.item {
			display: flex;
			align-items: center;
			margin-top: 3px;

			.label {
				margin-right: 5px;
				text-align: center;
			}

			.values {
				display: flex;
			}

			.value {
				font-weight: bold;
				// color: #ce73b4;
				color: var(--default-title-color);
			}

			&.mmr {
				&.negative .value {
					color: #ff4747;
				}

				&.positive .value {
					color: #61ff47;
				}

				&.missing .value {
					color: inherit;
				}
			}
		}
	}
}

.global-value {
	font-size: 12px;
	display: flex;
	align-items: flex-end;
	margin-left: 5px;
	position: relative;

	&:before {
		content: '/';
		margin-right: 5px;
	}

	.global-icon {
		width: 12px;
		height: 12px;
		position: relative;
		bottom: 3px;
		margin-right: 3px;
	}

	&.positive::before {
		content: '/ +';
	}
}
