.duels-deck-stat {
	background: rgba(255, 255, 255, 0.08);
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	color: var(--default-text-color);
}

.mode-color-code {
	height: 40px;
	width: 3px;
	position: relative;
	left: -10px;
	flex-shrink: 0;

	&.duels {
		background: #9fb6d7;
	}
	&.paid-duels {
		background: #ffb948;
	}
}

.group {
	border-right: 1px solid var(--default-text-color);
	display: flex;
	height: 100%;
	padding-right: 10px;
	margin-right: 15px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;

	&.player-images,
	&.passives {
		padding-left: 0px;
		padding-right: 10px;
	}
}

.left-info,
.right-info {
	display: flex;
	align-items: center;
	height: 100%;

	& > div:last-child {
		border-right: none;
		margin-right: 0;
	}
}

.right-info {
	margin-left: auto;

	& > div:last-child {
		// margin-right: 0;
	}
}

.mode {
	position: relative;

	.game-mode {
		width: 40px;
		height: 40px;
		margin-right: 5px;
		position: relative;
		top: 0px;
	}
}

.separator {
	margin-left: 3px;
	margin-right: 3px;
}

.player-images,
.passives {
	img {
		width: 30px;
		height: 30px;
		clip-path: circle(10px at 50% 50%);
		transform: scale(1.5);
		margin-right: 5px;
	}
}

.result {
	font-size: 13px;
	line-height: 18px;
	width: 50px;
	justify-content: flex-start;

	.wins {
		color: #61ff47;
	}

	.losses {
		color: #ff4747;
	}
}

.view-deck {
	font-size: 12px;

	.icon {
		margin-left: 14px;
		transform: rotateZ(-90deg);
		position: relative;
	}

	&:hover {
		color: var(--default-title-color);
		--icon-color: var(--default-title-color);
	}
}

.view-deck .icon {
	max-width: 20px;
	max-height: 12px;
}

.dust-cost {
	display: flex;

	.dust-icon {
		width: 20px;
		height: 20px;
		margin-left: -5px;
	}
	.value {
		font-size: 13px;
	}
}
