.grouped-decks {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.header {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: var(--default-title-color);
	margin-bottom: 5px;
}

.decks {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	// min-height: 1px;
	// overflow: auto;

	duels-deck-stat-vignette {
		width: 100%;
		margin-bottom: 5px;
	}
}
