:host() {
	height: 100%;
	display: flex;
	min-height: 0;
}

.duels-treasure-stats {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	min-height: 1px;
	overflow: auto;
	align-content: flex-start;

	duels-treasure-stat-vignette {
		width: 155px;
		margin-right: 15px;
		margin-bottom: 15px;

		&.hidden {
			display: none;
		}
	}
}
