.duels-personal-deck-details {
	display: flex;
	flex-grow: 1;
	padding-left: 10px;
	margin-top: 10px;
	max-width: 100%;

	.deck-list-container {
		margin-right: 20px;
		display: flex;
		flex-direction: column;
		width: 190px;
		min-height: 1px;
		flex-shrink: 0;

		.copy-deckcode {
			margin-bottom: 10px;
			justify-content: flex-start;
		}

		&.final {
			margin-right: 30px;
		}
	}

	.stats {
		margin-left: 40px;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-height: 0;
		overflow: auto;

		.section {
			display: flex;
			flex-direction: column;
			margin-bottom: 15px;

			.title {
				text-align: center;
				margin-bottom: 10px;
			}

			.list {
				list-style: none;
				display: flex;
				flex-wrap: wrap;

				.element {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-right: 15px;
					margin-bottom: 15px;

					.icon {
						width: 90px;
						height: 90px;
						clip-path: circle(33px at 50% 50%);
					}

					.stat {
						display: flex;
						font-size: 13px;

						.value {
							font-weight: bold;
							color: #ce73b4;
							margin-left: 5px;
						}
					}
				}
			}
		}
	}
}
