.duels-deck-details {
	display: flex;
	flex-grow: 1;
	padding-right: 10px;
	margin-top: 10px;

	.deck-list-container {
		margin-right: 20px;
		display: flex;
		flex-direction: column;
		width: 230px;
		min-height: 1px;

		.copy-deckcode {
			margin-bottom: 10px;
			justify-content: center;
		}

		&.final {
			margin-right: 30px;
		}
	}

	.treasures {
		flex-grow: 1;
	}
}
