:host() {
	display: flex;
	min-height: 0;
	flex-grow: 1;
}

.duels-buckets {
	display: flex;
	flex-direction: column;
	min-height: 0;
	flex-grow: 1;
	position: relative;

	.search {
		display: flex;
		margin-bottom: 20px;

		.bucket-class-filters {
			display: flex;

			.bucket-class-filter {
				width: 30px;
				height: 30px;
				position: relative;
				opacity: 0.8;
				margin-right: 5px;

				img {
					width: 100%;
					height: 100%;
				}

				&:hover {
					opacity: 1;
				}

				&.active {
					border-radius: 50%;
					border: var(--default-title-color) 2px solid;
				}
			}
		}
	}

	.card-search {
		position: relative;
		width: 100%;
		width: 200px;
		margin-right: 50px;

		label {
			width: 100%;
			outline: 1px solid var(--color-3);
			display: flex;

			&:focus-within,
			&:hover {
				// outline: none;
				background: rgba(255, 255, 255, 0.08);
			}
		}

		input {
			background: transparent;
			border: none;
			cursor: text;
			flex-grow: 1;
			color: var(--default-text-color);
			font-family: 'Open Sans';
			font-size: 12px;

			&:focus {
				outline: none;
			}
		}

		label.search-active {
			input {
				outline: none;
			}
		}
	}

	.results {
		flex-grow: 1;
		display: flex;
		height: 100%;
	}

	.buckets-container {
		.bucket {
			position: relative;
			background: rgba(255, 255, 255, 0.08);
			padding: 10px;
			width: 240px;
			display: flex;
			align-items: center;
			flex-direction: column;
			flex-shrink: 0;
			margin-right: 10px;
			margin-bottom: 15px;

			.class-images {
				position: absolute;
				top: 5px;
				left: 5px;
				display: flex;
				flex-direction: column;

				.bucket-class {
					width: 30px;
					height: 30px;
				}
			}

			.bucket-cards {
				margin-top: 10px;
				width: 100%;

				deck-list,
				duels-bucket-cards-list {
					width: 90%;
					max-height: 210px;
					height: 210px;
				}
			}
		}
	}

	::ng-deep virtual-scroller {
		width: 100%;
		display: flex;
		flex-grow: 1;
		height: 100%;
		height: calc(100% - 20px);

		.scrollable-content {
			width: 100%;
			height: auto;
			display: flex;
			flex-wrap: wrap;
		}
	}
	collection-empty-state {
		flex-grow: 1;
		display: flex;
	}
}
