.social-share {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #a89782;
	margin-bottom: 5px;
	--icon-color: #1b071f;

	&:hover:not(.disabled) {
		background: #d9c3ab;
	}

	&.disabled {
		background: #a89782;
		opacity: 0.5;
	}
}
