:host {
	display: flex;
	height: 6.8vh;
	width: 8vh;
}

.duels-max-life-widget {
	display: flex;
	flex-grow: 1;

	.health {
		display: flex;
		flex-grow: 1;
		position: relative;
		opacity: 0.01;

		.value-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			display: flex;
		}

		.value {
			font-family: Passion One;
			font-style: normal;
			font-weight: normal;
			font-size: 40px;
			text-align: center;
			color: white;
			text-shadow: -2px -2px 0 #000, 0px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000,
				2px 2px 0 #000;
			position: relative;
			top: 5%;
		}

		&.blinker {
			animation: blinker 6s linear infinite;
			opacity: 1;
		}

		&:hover {
			opacity: 1 !important;
			animation: none !important;
		}
	}
}

@keyframes blinker {
	0% {
		opacity: 1;
	}
	5% {
		opacity: 1;
	}
	15% {
		opacity: 0.01;
	}
	85% {
		opacity: 0.01;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
