.rank-image {
	height: 100%;
	position: relative;

	&.battlegrounds .frame {
		height: 105%;
		left: -17%;
	}

	&.duels,
	&.paid-duels {
		top: -3px;

		.frame {
			height: 120%;
			left: -12%;
		}
	}

	.rank-text {
		position: absolute;
		bottom: 3px;
		text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
		color: white;
		font-size: 14px;
		width: 100%;
		text-align: center;
		padding-right: 3px;
		font-family: Passion One;
	}

	&.ranked .rank-text {
		bottom: -2px;
		left: 5%;
	}

	&.ranked.legend .rank-text {
		bottom: 7px;
		font-size: 20px;
	}
}

.icon {
	height: 100%;
}

.art {
	position: absolute;
	height: 70%;
	left: 15%;
	top: 12%;
	clip-path: ellipse(50% 50% at 50% 50%);
}

.frame {
	height: 100%;
	position: relative;
}

.decoration {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
