.replays {
	padding-top: 15px;

	with-loading {
		flex-grow: 1;
	}
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 100%;

	& > * {
		display: flex;
		min-height: 0;
		opacity: 1;
	}

	& > ::ng-deep * {
		display: flex;
		min-height: 0;
		opacity: 1;
	}

	::ng-deep & > * {
		display: flex;
		min-height: 0;
		opacity: 1;
	}
}
