.replay-info {
	background: rgba(255, 255, 255, 0.08);
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	color: var(--default-text-color);

	&.lost {
		background: linear-gradient(90deg, rgba(255, 71, 71, 0.2) 0%, rgba(255, 71, 71, 0) 100%);
	}
	&.won {
		background: linear-gradient(90deg, rgba(77, 255, 61, 0.2) 0%, rgba(77, 255, 61, 0) 100%);
	}

	&.ranked {
		// Probably temporary, but in the meantime we need to make the ranked icons bigger
		.player-rank {
			width: 37px;
			height: 37px;
			margin-left: -7px;
			left: 3px;
			position: relative;
		}
	}

	// &.battlegrounds,
	// &.arena {
	// 	::ng-deep .rank-text {
	// 		bottom: -18%;
	// 		// padding-right: 13px;
	// 	}
	// }
}

.result-color-code {
	height: 40px;
	width: 3px;
	position: relative;
	left: -10px;
	flex-shrink: 0;

	&.won {
		background: #61ff47;
	}
	&.lost {
		background: #ff4747;
	}
}

.result-text {
	width: 50px;
	font-size: 13px;

	&.won {
		color: #61ff47;
	}
	&.lost {
		color: #ff4747;
	}
}

.group {
	border-right: 1px solid var(--default-text-color);
	display: flex;
	height: 100%;
	padding-right: 10px;
	margin-right: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;

	// &:nth-last-child(2) {
	// 	border: none;
	// }

	&.result {
		width: 85px;
		display: none;
	}

	&.mmr {
		font-size: 12px;
		width: 75px;

		.value {
			margin-right: 5px;
		}

		&.positive .value {
			color: #61ff47;

			&::before {
				content: '+';
			}
		}
		&.negative .value {
			color: #ff4747;
		}
	}

	&.match-stats {
		width: 85px;
		// margin-left: auto;
	}

	&.player-images {
		padding-left: 0px;
		padding-right: 10px;
	}
}

.left-info,
.right-info {
	display: flex;
	align-items: center;
	height: 100%;

	& > div:last-child {
		border-right: none;
	}
}

.right-info {
	margin-left: auto;
}

.mode {
	position: relative;

	.player-rank {
		width: 30px;
		height: 30px;
		margin-right: 5px;
	}

	// .rank-text {
	// 	position: absolute;
	// 	bottom: 3px;
	// 	text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
	// 	color: white;
	// 	font-size: 14px;
	// 	width: 100%;
	// 	text-align: center;
	// 	padding-right: 3px;
	// 	font-family: Passion One;
	// }
}

.player-name {
	font-size: 13px;
	line-height: 18px;
	// color: var(--default-text-color);
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&.player {
		text-align: right;
		margin-right: 5px;
	}
}

.player-class,
.pick {
	width: 30px;
	height: 30px;
	clip-path: circle(10px at 50% 50%);
	transform: scale(1.5);

	&.opponent {
		margin-right: 5px;
	}
}

.loot,
.treasure,
.short-loot,
.short-treasure {
	margin-right: 10px;
	border-right: none;

	.icon {
		width: 20px;
		margin-right: 10px;
	}

	.pick {
		margin-right: 5px;
	}
}

.short-loot,
.short-treasure {
	margin-right: 0;
	.pick {
		display: none;
	}

	&:hover {
		.pick {
			display: flex;
		}
	}
}

.icon,
.watch-icon,
.stats-icon {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	cursor: default;
	transition: 0.15s;
	color: transparent;

	svg {
		fill: transparent;
	}
}

.vs {
	font-size: 13px;
	line-height: 18px;
	// color: var(--default-text-color);
	margin-left: 10px;
	margin-right: 10px;
}

.result-icon {
	margin-right: 5px;
}

.match-stats,
.result {
	font-size: 13px;
	line-height: 18px;
	// color: var(--default-text-color);
}

.play-coin-icon {
	width: 30px;
	height: 30px;
}

.match-stats,
.replay {
	display: flex;
	font-size: 13px;
	line-height: 18px;
	color: var(--default-text-color);
	--icon-color: var(--default-text-color);
	align-items: center;
	flex-grow: 0;
	justify-content: flex-end;
	// margin-left: auto;

	.watch {
		margin-right: 10px;
	}

	&:hover,
	&:hover svg {
		color: var(--on-menu-selection-color);
		--icon-color: var(--on-menu-selection-color);
	}
}

.replay-info.battlegrounds {
	// ::ng-deep rank-image .frame {
	// 	height: 95%;
	// 	top: -4px;
	// 	left: -2px;
	// }
	.group.result {
		width: 55px;
		display: flex;
	}
}
