.replay-info {
	background: rgba(255, 255, 255, 0.08);
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px;

	&.ranked {
		// Probably temporary, but in the meantime we need to make the ranked icons bigger
		.player-rank {
			width: 37px;
			height: 37px;
			margin-left: -7px;
			left: 3px;
			position: relative;
		}
	}

	&.battlegrounds,
	&.arena {
		::ng-deep .rank-text {
			bottom: -57%;
			padding-right: 13px;
		}
	}
}

.group {
	border-right: 1px solid var(--default-text-color);
	display: flex;
	height: 100%;
	padding-right: 10px;
	margin-right: 10px;
	align-items: center;
	justify-content: center;

	&:nth-last-child(2) {
		border: none;
	}

	&.result {
		width: 115px;
	}

	&.player-images {
		padding-left: 10px;
		padding-right: 15px;
	}
}

.mode {
	position: relative;

	.player-rank {
		width: 30px;
		height: 30px;
		margin-right: 5px;
	}

	.rank-text {
		position: absolute;
		bottom: -57%;
		text-shadow: -2px -2px 0 #000, 0px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 2px 0 #000;
		color: white;
		font-size: 12px;
		width: 100%;
		text-align: center;
		padding-right: 3px;
	}
}

.player-name {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: var(--default-text-color);
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&.player {
		text-align: right;
		margin-right: 5px;
	}
}

.player-class {
	width: 30px;
	height: 30px;
	clip-path: circle(10px at 50% 50%);
	transform: scale(1.5);

	&.opponent {
		margin-right: 5px;
	}
}

.icon,
.watch-icon {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	cursor: default;
	transition: 0.15s;
	color: transparent;
}

.vs {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: var(--default-text-color);
	margin-left: 10px;
	margin-right: 10px;
}

.divider {
	border-right: 1px solid var(--default-text-color);
	height: 100%;
	margin-left: 15px;
	margin-right: 15px;
}

.result-icon {
	margin-right: 5px;
}

.result {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: var(--default-text-color);
}

.play-coin-icon {
	width: 30px;
	height: 30px;
}

.replay {
	display: flex;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: var(--default-text-color);
	--icon-color: var(--default-text-color);
	align-items: center;
	flex-grow: 0;
	justify-content: flex-end;
	margin-left: auto;

	.watch {
		margin-right: 10px;
	}

	&:hover,
	&:hover svg {
		color: var(--on-menu-selection-color);
		--icon-color: var(--on-menu-selection-color);
	}
}
