.battlegrounds-simulator-details {
	display: flex;
	min-height: 0;
	padding-top: 10px;
	padding-right: 10px;
	flex-direction: column;
	width: 100%;
	overflow: visible;

	.title {
		font-size: 14px;
		color: var(--color-1);
		margin-bottom: 10px;
	}

	.minion-selection {
		overflow: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	.close {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 0;
		right: 0;
	}
}
