.battlegrounds-simulator-details-entity-update {
	display: flex;
	flex-direction: column;

	.info {
		display: flex;

		.card-view-container {
			width: 150px;
			min-width: 150px;
			height: 220px;

			::ng-deep bgs-card-tooltip {
				.card {
					max-width: 100%;
				}

				.container card-stats .card-stats .stat-value {
					font-size: 36px;
				}
			}
		}

		.info-container {
			margin-left: 20px;
			padding-top: 20px;
			flex-grow: 1;
			font-size: 14px;

			.stats {
				display: flex;
				color: #a89782;

				.input {
					display: flex;
					align-items: center;
					margin-right: 10px;

					input,
					input:focus,
					input:active {
						display: block;
						background: transparent;
						border: 1px solid #a89782;
						outline: none;
						width: 50px;
						cursor: text;
						font-family: Open Sans;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						font-size: 12px;
						color: #d9c3ab;
						margin-left: 5px;
					}

					// input::placeholder, {
					// 	font-family: Open Sans;
					// 	font-style: normal;
					// 	font-weight: 400;
					// 	line-height: normal;
					// 	font-size: 12px;
					// 	color: #d9c3ab;
					// 	opacity: 0.5;
					// }

					input,
					input:focus,
					input:active {
						padding-left: 10px;
						height: 25px;
					}
				}
			}
		}
	}

	.controls {
		display: flex;
		justify-content: space-evenly;
		font-size: 14px;
		margin-top: 15px;

		.button {
			width: 100px;
			height: 30px;
			border: 1px solid var(--confirmation-text-color);
			background: transparent;
			color: var(--confirmation-text-color);
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: 'Open Sans', sans-serif;

			&:hover {
				background: var(--on-confirmation-button-background-color);
				color: var(--on-confirmation-text-color);
			}
		}
	}
}
