@import '../../global/variables';
@import '../../global/fonts';

.achievements-container {
	position: relative;
	flex-grow: 1;
    display: flex;
	flex-direction: column;
	
	achievement-progress-bar {
		align-self: flex-end;
		margin-left: auto;
		position: relative;
		top: 10px;
	}

	.achievement-progress-bar {
		flex-direction: row;

		.achieved {
			margin-bottom: 0;
			margin-right: 10px;
		}
	}
}

.set-title {
    @extend %achievements-category-name;
    padding-bottom: 15px;
    border-bottom: 1px solid #4B3052;
}

.achievements-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;

    li {
    	// width: 98px;
    	// height: 152px; // We need this so that things are not a mess when the placeholder image is showing
    	margin-right: 15px;
    	margin-bottom: 10px;
    }
}

.show-filter {
	@extend %search-active;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 18px;

	ng-select {
		@extend %search-active;
		height: 30px;
		background: rgba(255, 255, 255, 0.08);
		margin-right: 15px;
        width: 190px;

		&:focus, &:active {
			outline: none;
		}

		& > div {
			border: 1px solid #4B3052;
			outline: none;

			div.single > div.toggle:hover {
				background: transparent;
			}
		}

		.toggle {
			display: none;
		}

		.caret, .selected-icon {
			color: #CB9FD7;
		}

		.open .caret {
			transform: scale(1, -1);
		}

		select-dropdown {

			& > div {
				background: $black;
				border: 1px solid #4B3052;
				border-top: none;
				outline: none;
			}

			.filter {
				display: none;
			}

			&> div .options ul li {
				color: $grey01;
				border-bottom: 1px solid $grey05;
				padding: 0;
				padding-left: 9px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 30px;

				&.selected {
    				background-color: inherit;
    				color: inherit;

					&:hover {
						color: inherit;
					}
				}

				&.highlighted, &:hover {
					// grey03
					background-color: rgba(120, 95, 107, 0.4);
				}
			}
		}
	}
}