@import '../../global/variables';
@import '../../global/fonts';

:host {
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
}

.menu-selection-achievements {

	&.menu-selection {
		margin-bottom: 14px;
		border-bottom: 1px solid #4B3052;
		li {
			@extend %achievements-category-name;
			padding-bottom: 10px;
		}
	}

	&.breadcrumbs {
		@extend %achievements-menu-item;
		list-style: none;
		display: flex;
		margin: 0;
		align-self: flex-start;
		margin-top: -4px;
		margin-bottom: 10px;

		li:not(.unclickable):hover {
			color: #A276AF;
		}

		li:after {
			content: ">";
			margin-left: 6px;
			margin-right: 6px;
		}

		li:last-child:after {
			content: "";
		}
	}
}