@import '../../global/fonts';

.achievements-categories {
	display: flex;
	flex-direction: column;

	.title {
		@extend %achievements-category-title;
		margin-bottom: 20px;
	}

	ol {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
	    display: flex;
	    justify-content: flex-start;
	    flex-wrap: wrap;

	    li {
	    	width: 155px;
	    	height: 200px;
	    	margin-right: 15px;
			margin-bottom: 15px;
	    }

	    li:nth-child(6n) {
	    	margin-right: 0;
	    }
	}
}