@import '../../global/variables';
@import '../../global/fonts';

.achievement-history {
    margin-top: 12px;
	width: 400px;

	.top-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;

		.title {
			@extend %achievements-history-header;
			display: flex;
			align-items: center;
		}
	}

	ul {
		background: rgba(255, 255, 255, 0.08);
		list-style: none;
		padding: 0;
		margin: 0;
		// height: 160px;
		height: 212px;
		overflow-y: scroll;
		padding-left: 10px;

		li {
			display: flex;
			align-items: center;
			justify-content: stretch;
		}

		li:before {
		   content: "•";
		   font-size: 20px;
		   color: #D9C3AB;
		}

		achievement-history-item {
			flex-grow: 1;
		}
	}

	.empty-state {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		i {
			margin-bottom: 10px;
		}

		span {
			@extend %empty-card-history;
		}
	}
}