@import '../../global/variables';
@import '../../global/fonts';

.achievements-container {
	position: relative;
	top: -2px;
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.achievements-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: -6px;
	width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;

    li {
    	width: 98px;
    	height: 152px; // We need this so that things are not a mess when the placeholder image is showing
    	margin-right: 15px;
    	margin-bottom: 4px;
    }
}

.pagination {
    @extend %pagination-inactive;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    bottom: 0;
    width: 100%;

    li {
        margin-right: 5px;

        &.active, &:hover {
            @extend %sub-title;
        }

        &.arrow {

            &.previous {
                transform: rotate(90deg);
                margin-right: 3px;
            }

            &.next {
                transform: rotate(-90deg);
                margin-left: 3px;
            }

            &:hover {
                background: $grey04;
            }

            &.disabled {
                &:hover {
                    background: none;
                }
                svg {
                    fill: $grey05;
                }
            }
        }
    }
}
