@import '../../global/variables';
@import '../../global/scrollbar';

.achievements {
    flex-grow: 1;
    display: flex;
    padding-top: 14px;
    height: 598px;
    max-height: 598px;

    achievements-menu {
        transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, flex-shrink 0.4s ease-in-out, flex-grow 0.4s ease-in-out;

        &.shrink {
            opacity: 0;
            visibility: hidden;
            flex-shrink: 2;
            flex-grow: 0;
        }
    }

    .main {
    	display: flex;
    	flex-direction: column;
        width: 695px;
        padding-left: 15px;
        margin-top: 0;
        position: relative;

        &.divider {
            border-right: 1px solid #4B3052;
            height: 100%;
        }

        // achievements-menu {
        //     height: 30px;
        //     display: flex;
        //     align-items: flex-end;
        //     flex-shrink: 0;
        // }

        achievevements-categories {
            display: flex;
        }

        achievements-list {
            display: flex;
            flex-grow: 1;
        }
    }

    .secondary {
    	display: flex;
    	flex-direction: column;
        flex-grow: 1;
        margin-left: 20px;
        margin-right: 15px;
    }
}