@import '../../global/variables';
@import '../../global/scrollbar';

.achievements {
    flex-grow: 1;
    display: flex;
    padding-top: 15px;
    height: 598px;

    .main {
    	display: flex;
    	flex-direction: column;
        width: 695px;
        padding-left: 15px;
        margin-top: 0;
        position: relative;

        &.divider {
            border-right: 1px solid $grey04;
            height: calc(100% - 15px);
        }

        // achievements-menu {
        //     height: 30px;
        //     display: flex;
        //     align-items: flex-end;
        //     flex-shrink: 0;
        // }

        achievevements-categories {
            display: flex;
        }

        achievements-list {
            display: flex;
            flex-grow: 1;
        }
    }

    .secondary {
    	display: flex;
    	flex-direction: column;
        flex-grow: 1;
        margin-left: 20px;
        margin-right: 15px;
    }
}