@import '../../global/variables';
@import '../../global/fonts';

.achievement-container {
	position: relative;
	width: 100%;
	height: 100%;
	// height: 151px;

	img {
		width: 100%;
		position: relative;
		opacity: 0.7;
	}

	.placeholder {
	    position: absolute;
    	margin: auto;
	}

	.full-size {
		width: 300px;
	}

	&.missing {
		.real-achievement {
			// https://stackoverflow.com/questions/17357125/css-filter-as-a-color-modifier-for-one-image
			filter: grayscale(1) sepia() saturate(100%) hue-rotate(300deg) opacity(0.5);
		}
	}

	&:hover {
		.zth-tooltip {
			opacity: 1;
		}
	}
}

.zth-tooltip {
	background-color: $grey03;
	text-align: center;
	cursor: default;
	opacity: 0;
	position: absolute;
	width: 110px;
	height: 30px;
	pointer-events: none;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
    bottom: -29px;

	.tooltip-arrow {
		position: absolute;
		width: 16px;
		height: 9px;
		fill: $grey03;
		overflow: visible;
	}

	p {
		white-space: nowrap;
		cursor: default;
		color: $black;
		margin: 0;
		font-size: 13px;
	}

	&.bottom {

		.tooltip-arrow {
			top: 0px;
		}
	}
}
