@import '../../global/variables';
@import '../../global/fonts';

.achievements-container {
	position: relative;
	flex-grow: 1;
    display: flex;
	flex-direction: column;
	
	achievement-progress-bar {
		align-self: flex-end;
		margin-left: auto;
		position: relative;
		top: 1px;
		transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, max-height 0.4s ease-in-out;
		
		.achievement-progress-bar {
			flex-direction: row;
			align-items: center;
			justify-content: center;

			.achieved {
				margin-bottom: 0;
				margin-right: 10px;
			}
		}
	}

	.set-title {
		@extend %achievements-category-title;
		padding-bottom: 5px;
		// border-bottom: 1px solid #4B3052;
	}

	.collapse-menu {
		position: absolute;
		top: -35px;
		right: 8px;
		transform: scaleY(-1);
		padding: 15px;
		width: 43px;
		height: 37px;
		--icon-color: #CB9FD7;

		&.shrink-header {
			transform: scaleY(1);
			top: -2px;
		}
	}

	.achievements-list {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-top: 10px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		overflow: auto;
		-webkit-transition: all 2s;
		transition: all 2s;

		li {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}

	.show-filter {
		@extend %search-active;
		display: flex;
		justify-content: flex-start;
		flex-shrink: 0;
		align-items: center;
		margin-right: 15px;
		margin-top: 18px;
		padding-bottom: 15px;
		border-bottom: 1px solid #4B3052;
		transition: margin 0.4s ease-in-out;

		ng-select {
			@extend %search-active;
			color: #CB9FD7;
			height: 30px;
			background: rgba(255, 255, 255, 0.08);
			margin-right: 15px;
			width: 195px;
			transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, max-height 0.4s ease-in-out;

			&:focus, &:active {
				outline: none;
			}

			& > div {
				border: 1px solid #7D5A87;
				outline: none;

				div.single > div.toggle:hover {
					background: transparent;
				}
			}

			.toggle {
				display: none;
			}

			.caret, .selected-icon {
				color: #CB9FD7;
			}

			.open .caret {
				transform: scale(1, -1);
			}

			select-dropdown {

				& > div {
					background: $black;
					border: 1px solid #7D5A87;
					border-top: none;
					outline: none;
				}

				.filter {
					display: none;
				}

				&> div .options ul li {
					color: #CB9FD7;
					border-bottom: 1px solid #3B1F42;
					padding: 0;
					padding-left: 9px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					height: 30px;

					&.selected {
						background-color: inherit;
						color: inherit;

						&:hover {
							color: inherit;
						}
					}

					&.highlighted, &:hover {
						background-color: #4B3052;
					}
				}
			}
		}
	}

	.empty-state {
		@extend %empty-state;
		color: #A276AF;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
	
		.state-container {
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
	
			i {
				margin-bottom: 30px;
				--icon-color: #A276AF;
			}
	
			.title {
				@extend %empty-state-title;
				color: #CB9FD7;
				margin-bottom: 15px;
			}
		}
	}	

	&.shrink-header {
		.show-filter {
			margin: 0;
			ng-select {
				visibility: hidden;
				max-height: 0;
				opacity: 0;
			}
			achievement-progress-bar {
				visibility: hidden;
				max-height: 0;
				opacity: 0;
			}
		}
		.set-title {
			padding-bottom: 3px;
		}
	}
}