.achievement-recordings {
    padding-bottom: 10px;

    .no-media {
        background: #1B071F;
        width: 540px;
        height: 300px;
        margin-left: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 13px;
            text-align: center;
            color: #A276AF;
            margin-top: 15px;
        }

        i {
            width: 25px;
            height: 30px;
            --icon-color: #A276AF;
        }
    }

    vg-player {
        width: 548px;
        margin-left: 10px;
        margin-bottom: 10px;

        &.deleted {
            display: none;
        }
    }

    ::ng-deep .title {
        pointer-events: none;
        background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 45.86%, #000000 100%);
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 40px;
        cursor: default;

        i {
            --icon-color: #FFB948;
            margin-left: 13px;
            margin-right: 13px;
            width: 30px;
            height: 30px;
        }

        .text, .date {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 13px;
            color: #D9C3AB;
        }

        .text {
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid;
        }
    }

    vg-controls {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 44.8%, #000000 100%);
        padding: 10px;
        cursor: default;

        vg-play-pause {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            cursor: default;

            ::ng-deep .vg-icon-play_arrow {
                width: 100%;
                height: 100%;
                position: relative;
                
                &::before {
                    content: "";
                    background: url(/Files/assets/svg/video_play.svg) center center;
                    background-size: 11px 14px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-repeat: no-repeat;
                }
            }

            ::ng-deep .vg-icon-pause {
                width: 100%;
                height: 100%;
                position: relative;
                
                &::before {
                    content: "";
                    background: url(/Files/assets/svg/video_pause.svg) center center;
                    background-size: 20px 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-repeat: no-repeat;
                    --icon-color: #A89782;
                }
            }

            &:hover {
                ::ng-deep .vg-icon-play_arrow:before {
                    background-image: url(/Files/assets/svg/video_play_hover.svg);
                }
                ::ng-deep .vg-icon-pause:before {
                    background-image: url(/Files/assets/svg/video_pause_hover.svg);
                }
            }
        }

        fs-time-display {
            font-family: 'Open Sans', sans-serif;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #D9C3AB;
            font-size: 12px;
            font-weight: bold;
            text-shadow: 0px 0px 4px #000000;
            width: auto;
            cursor: default;

            &:nth-of-type(1):after {
                content: "/";
            }
        }

        vg-scrub-bar {
            height: 100%;
            width: 240px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 17px;
            margin-left: 20px;
            cursor: default;

            &:focus {
                outline: none;
            }

            ::ng-deep .scrubBar {
                height: 2px;
                background: rgba(217, 195, 171, 0.5);

                &:focus {
                    outline: none;
                }
            }

            vg-scrub-bar-current-time {
                top: 0;
                height: 2px;
                cursor: default;

                ::ng-deep .background {
                    background-color: #FFB948;
                    border: 0;
                }

                ::ng-deep .slider {
                    height: 0;
                    width: 0;
                    box-shadow: inherit;
                    background: #FFB948;
                    margin-top: -3px;
                    margin-left: -6px;
                }
            }

            &:hover vg-scrub-bar-current-time ::ng-deep .slider {
                height: 8px;
                width: 8px;
            }
        }

        vg-mute {
            width: 20px;
            height: 20px;
            margin-right: 12px;
            cursor: default;

            ::ng-deep .icon {
                width: 100%;
                height: 100%;
                position: relative;
                
                &::before {
                    content: "";
                    background: url(/Files/assets/svg/video_sound_on.svg) center center;
                    background-size: 20px 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-repeat: no-repeat;
                    --icon-color: #D9C3AB;
                }
            }

            ::ng-deep .vg-icon-volume_off {
                &::before {
                    background: url(/Files/assets/svg/video_sound_off.svg) center center;
                }
            }

            &:hover {
                ::ng-deep .icon:before {
                    background-image: url(/Files/assets/svg/video_sound_on_hover.svg);
                }
                ::ng-deep .vg-icon-volume_off:before {
                    background-image: url(/Files/assets/svg/video_sound_off_hover.svg);
                }
            }
        }

        vg-volume {
            height: 100%;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 22px;
            cursor: default;

            &:focus {
                outline: none;
            }

            ::ng-deep .volumeBar {
                height: 100%;

                &:focus {
                    outline: none;
                }

                .volumeBackground {
                    height: 100%;
                    height: 2px;
                    background: rgba(217, 195, 171, 0.3);
                }

                .volumeValue {
                    height: 100%;
                    background: #D9C3AB;
                }

                .volumeKnob {
                    background: #D9C3AB;
                    height: 8px;
                    width: 8px;
                }
            }
        }

        .video-folder {
            --icon-color: #A89782;
            cursor: default;
            margin-right: 25px;
            width: 25px;
            height: 25px;

            &:hover {
                --icon-color: #D9C3AB;
            }
        }

        vg-fullscreen {
            width: 20px;
            height: 20px;
            cursor: default;

            ::ng-deep .icon {
                width: 100%;
                height: 100%;
                position: relative;
                
                &::before {
                    content: "";
                    background: url(/Files/assets/svg/video_full_screen.svg) center center;
                    background-size: 20px 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-repeat: no-repeat;
                    --icon-color: #A89782;
                }
            }

            &.fullscreen ::ng-deep .icon::before {
                background: url(/Files/assets/svg/video_exit_full_screen.svg) center center;
            }

            &:hover {
                ::ng-deep .icon::before {
                    background-image: url(/Files/assets/svg/video_full_screen_hover.svg);
                }
                &.fullscreen ::ng-deep .icon::before {
                    background-image: url(/Files/assets/svg/video_exit_full_screen_hover.svg);
                }
            }
        }
    }

    video {
        width: 100%;
        height: 100%;
    }

    .thumbnails {
        display: flex;
        padding-left: 10px;
        list-style: none;

        achievement-thumbnail {
            margin-right: 12px;
            margin-bottom: 0;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 1px;
        }

        .page-arrow {
            width: 15px;
            height: 52px;
            --icon-color: #A89782;

            &:hover {
                --icon-color: #D9C3AB;
            }

            &.disabled {
                opacity: 0.5;
                &:hover {
                    --icon-color: #A89782;
                }
            }
        }

        .previous-page {
            margin-right: 10px;
        }

        .next-page {
            transform: scaleX(-1);
        }
    }
}