@import '../../global/variables';
@import '../../global/fonts';

.achievement-set {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	background: rgba(255, 255, 255, 0.08);
    position: relative;

	&:hover {
		background: rgba(255, 255, 255, 0.12);
	}

	.set-name {
		@extend %achievements-category-name;
		text-align: center;
		position: relative;
		margin: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.logo {
    	height: 100px;
    	width: 100px;
		flex-grow: 0;
		flex-shrink: 0;
		margin-bottom: 5px;
	}

	achievement-progress-bar {
        margin-bottom: 15px;
	}
}
