@import '../../global/variables';
@import '../../global/fonts';

.achievement-container {
	position: relative;
	width: 100%;
	height: 110px;
	background: rgba(255, 255, 255, 0.08);
	display: flex;

	.achievement-body {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
	}

	.achievement-name {
		@extend %achievement-name;
	}

	.achievement-text {
		@extend %achievement-text;
		margin-top: 7px;
	}

	.completion-progress {
		display: flex;
		margin-top: 15px;

		.completion-step {
			margin-right: 15px;
			// For tooltip positioning
			position: relative;
			opacity: 0.5;

			i {
				--icon-color: #D9C3AB;
			}

			&.completed {
				opacity: 1;
				i {
					--icon-color: #FFB948;
				}
			}

			&:hover {
				.zth-tooltip {
					opacity: 1;
				}
			}
		}
	}

	&.missing {
		.real-achievement {
			// https://stackoverflow.com/questions/17357125/css-filter-as-a-color-modifier-for-one-image
			filter: grayscale(1) sepia() saturate(100%) hue-rotate(240deg) opacity(0.5);;
		}
		.achievement-name {
			color: #CB9FD7;
		}
		.achievement-text {
			color: #7D5A87;
		}
		.frame {
			--icon-color: #CB9FD7;
			--icon-color-secondary: #7D5A87;
		}
	}
}

.zth-tooltip {
	background-color: #7D5A87;
	text-align: center;
	cursor: default;
	opacity: 0;
	position: absolute;
	width: 180px;
	height: 30px;
	pointer-events: none;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -45px;
	// Center it
    left: 50%;
    transform: translateX(-50%);

	.tooltip-arrow {
		position: absolute;
		width: 16px;
		height: 9px;
		fill: #7D5A87;
		overflow: visible;
	}

	p {
		@extend %achievements-tooltip;
		white-space: nowrap;
		cursor: default;
		margin: 0;
	}

	&.bottom {
		.tooltip-arrow {
			top: 0px;
		}
	}
}
