// :host() {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// }

.game-replay {
	display: flex;
	height: 100%;
}

// .close-button {
// 	position: absolute;
// 	right: 10px;
// 	top: 10px;
// 	z-index: 1;
// }

.external-player {
	width: 100%;
}

::ng-deep .coliseum.coliseum {
	.player-controls-content {
		color: #9fb6d7;
		button {
			color: #9fb6d7;
			&:hover {
				background: #303352;
			}
		}
		.btn-gs-icon.toggled {
			background: #303352;
		}
	}
	.player-controls-content-left {
		.divider,
		.discuss {
			display: none;
		}
		.view-online {
			width: auto;
			&:hover {
				background: #303352;
				color: #9fb6d7;
			}
		}
	}
	.turn-narrator {
		color: #9fb6d7;
	}
	.player-seeker-track {
		--background-third: #9fb6d7;
	}
}
