:host() {
	height: 73%;
	width: 11%;
	left: 1%;
	top: 15%;
}

.bgs-leaderboard {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	z-index: 1;

	.mouse-leave-fix {
		position: absolute;
		background: rgba(255, 255, 255, 0.01);

		&.top {
			top: -70px;
			width: 100%;
			height: 60px;
		}

		&.right {
			right: -40px;
			width: 60px;
			height: 100%;
		}
	}
}
