:host() {
	width: 100%;
	height: 100%;
	display: flex;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.battlegrounds-minions-tiers {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.scalable {
	transform-origin: top right;
}
