:host() {
	width: 100%;
	height: 100%;
	display: flex;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.battlegrounds-minions-tiers {
	width: 100%;
	height: 100%;
	display: flex;
}

.tiers-container {
	display: flex;
	flex-direction: column;
}

.tiers {
	display: flex;

	tavern-level-icon {
		position: relative;
		opacity: 0.7;

		&.selected,
		&.locked {
			opacity: 1;
		}

		&.locked {
			filter: drop-shadow(0px 0px 10px rgba(159, 182, 215, 0.7))
				drop-shadow(0px 0px 10px rgba(159, 182, 215, 0.7));
		}
	}
}
