:host() {
	display: flex;
}

.bgs-minions-group {
	width: 100%;

	.header {
		background: var(--color-5);
		color: var(--color-1);
		width: 100%;
		height: 26px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2px;

		.highlight-button {
			--icon-color: var(--color-2);
			--icon-secondary-color: var(--color-7);
			position: absolute;
			right: 10px;
			padding: 5px;

			&:not(.no-highlight):hover {
				--icon-color: var(--color-1);
			}

			&:not(.no-highlight).highlighted {
				--icon-color: var(--default-title-color);

				&:hover {
					--icon-secondary-color: var(--color-4);
				}
			}

			&.no-highlight {
				display: none;
			}
		}
	}

	.minions {
		display: flex;
		flex-direction: column;
		list-style: none;

		.minion {
			width: 100%;
			height: 26px;
			display: flex;
			position: relative;
			margin-bottom: 2px;
			overflow: hidden;

			&:hover {
				transform: scale(1.1);

				.highlight-minion-button {
					display: block;
				}
			}

			.highlight-minion-button {
				--icon-color: var(--color-2);
				--icon-secondary-color: var(--color-7);
				position: absolute;
				padding: 5px;
				right: 0;
				top: 0;
				display: none;

				&:not(.no-highlight):hover {
					--icon-color: var(--color-1);
				}

				&:not(.no-highlight).highlighted {
					--icon-color: var(--default-title-color);
					display: block;

					&:hover {
						--icon-secondary-color: var(--color-4);
					}
				}

				&.no-highlight {
					display: none;
				}
			}

			.icon {
				height: 100%;
				margin-left: auto;
				margin-right: -2px;
			}

			.name {
				font-family: Open Sans;
				color: var(--default-text-color);
				background: linear-gradient(90deg, #090a0d 72%, rgba(9, 10, 13, 0) 100%);
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 13px;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				padding-left: 11px;
				display: flex;
				align-items: center;
			}
		}
	}
}
