:host() {
	display: flex;
	min-height: 0;
}

.bgs-minions-list {
	width: 272px;
	display: flex;
	flex-direction: column;
	min-height: 0;
	overflow: visible;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	left: -10px;
	margin-top: 2px;
}
