:host() {
	display: flex;
}

.bgs-minions-group {
	width: 100%;

	.header {
		background: var(--color-5);
		color: var(--color-1);
		width: 100%;
		height: 26px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2px;

		&.highlighted {
			background: var(--color-2);
			color: var(--color-7);
		}

		&:hover {
			background: var(--color-1);
			color: var(--color-7);
		}
	}

	.minions {
		display: flex;
		flex-direction: column;
		list-style: none;

		.minion {
			width: 100%;
			height: 26px;
			display: flex;
			position: relative;
			margin-bottom: 2px;
			overflow: hidden;

			&:hover {
				transform: scale(1.1);
			}

			&.highlighted {
				.name {
					// background: var(--color-2);
					background: linear-gradient(90deg, rgba(206, 115, 180, 1) 72%, rgba(9, 10, 13, 0) 100%);
					color: var(--color-7);
				}
			}

			.icon {
				height: 100%;
				margin-left: auto;
				margin-right: -2px;
			}

			.name {
				font-family: Open Sans;
				color: var(--default-text-color);
				background: linear-gradient(90deg, #090a0d 72%, rgba(9, 10, 13, 0) 100%);
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 13px;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				padding-left: 11px;
				display: flex;
				align-items: center;
			}
		}
	}
}
