body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 12.5px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.app-container {
		position: relative;
	    width: 100%;
	    height: 100%;
	    opacity: 1;
	    background: #3d434f;

	    .menu-bar {
	    	background: transparent;
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    justify-content: flex-end;
		    border: none;
		    position: absolute;
		    width: 100%;
		    height: 25px;
		    z-index: 400;

		    .header {
		    	position: absolute;
		    	left: 10px;
		    	height: 100%;
			    display: flex;
			    align-items: center;

			    .logo {
			    	border-style: none;
			    	height: 100%;
			    	margin-right: 10px;
			    }
		    }

		    i {
			    padding: 5px 10px;
			    cursor: pointer;
			    transition: 0.25s;

			    &:hover {
			    	background-color: #cbcbcb;
    				line-height: inherit;
			    }
		    }
	    }

	    .content-container {
	    	width: 100%;
		    height: 100%;
		    position: relative;
		    display: flex;

		    .content {
			    display: flex;
			    flex-direction: row;
			    width: 90%;
			    align-items: center;
			    line-height: 1.2;
			    position: relative;
			    padding: 0 0 0 70px;

			    .subtitle {
			    	padding: 4px 0 0 3px;
					color: #cbcbcb;
					font-weight: 300;
    				font-size: 17px;
    				color: #9cb4da;
			    }

			    .icon {
			    	color: #ad1e1e;
			    	font-size: 2em;
			    	margin-right: 10px;
			    }

			    .error {
			    	margin: 0;
			    }

			    .main-text {
			    	text-align: justify;
    				padding: 20px 30px 20px 4px;
				    height: 220px;
				    display: flex;
				    flex-direction: column;
				    justify-content: center;
				    align-items: flex-start;

				    span {
				    	color: white;
					    font-size: 16px;
					    // display: block;
					    font-weight: 300;
					    line-height: 1.7;
				    }

				    .text {
				    	margin-bottom: 20px;
				    }

				    .command {
					    display: inline-block;
					    border: 1px solid white;
					    padding: 5px 15px;
					    border-radius: 6px;
					}
			    }
		    }
	    }
	}
}
