.navigation {
	display: flex;
	position: relative;
	flex-shrink: 0;
	height: 50px;

	.logo {
		position: relative;
		top: 6px;
		margin-left: 5px;
		margin-right: 120px;
	}

	menu-selection {
		display: flex;
		align-items: flex-end;
	}

	.main-section {
		display: flex;
	}
}

.menu-bar {
	background: transparent;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	position: relative;
	width: calc(100% + 20px);
	left: -10px;
	padding-left: 10px;
	padding-right: 10px;
	height: 52px;
	z-index: 400;
	flex-shrink: 0;
	border: none;
	border-bottom: 1px solid var(--menu-bar-bottom-border-color);

	.first {
		display: flex;
		flex-direction: column;
	}

	hotkey {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-grow: 1;
		margin-right: 35px;
		align-items: flex-start;
		position: relative;
		top: -5px;

		.key {
			border: none;
			width: auto;
			height: auto;
		}
		.plus {
			margin: 0;
		}
	}

	real-time-notifications {
		height: 29px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 10px;
	}

	main-window-navigation {
		position: absolute;
	}

	.controls {
		height: 30px;
		display: flex;
		margin-right: -10px;
		margin-top: -10px;
	}
}

.content-container {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	& > * {
		flex-grow: 1;
		display: flex;
	}
}

tooltips {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 9999;
}

ads {
	right: 15px;
	bottom: 15px;
}
