tooltip .tooltip-container {

	img {
		width: 256px;
		filter: drop-shadow(0 0 5px rgba(0, 0, 0, .75));
	}
	
	&.missing {
		img {
			filter: grayscale(1);
		}
		.overlay {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			margin: auto;
			background: #5e0d23;
			opacity: 0.5;
			top: 0;
			left: 0;
			-webkit-mask-size: 100%;
		}
	}
}

.placeholder {
	position: absolute;
	margin: auto;
}
