.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	& > * {
		display: flex;
		min-height: 0;
		opacity: 1;
	}

	& > ::ng-deep * {
		display: flex;
		min-height: 0;
		opacity: 1;
	}

	::ng-deep & > * {
		display: flex;
		min-height: 0;
		opacity: 1;
	}
}

loading-state {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
}
