:host {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.settings-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    background: rgba(0, 0, 0, 0.7);
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
}