.video-capture {
    height: 222px;
    background: rgba(255, 255, 255, 0.08);
    padding: 15px;

    label .custom-video-quality {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;        
        color: #A89782;
        display: flex;
        margin-bottom: 10px;

        .custom-info {
            display: flex;
            margin-left: 5px;
        }

        &.unselected .label-custom {
            color: #D9C3AB;
            text-decoration: underline;
        }

        a {
            margin-top: 0;
            text-decoration: underline;
            align-self: center;
            margin-left: 5px;
            
            &:hover {
                color: #FFB948;
            }
        }

        &.unselected:hover .label-custom  {
            color: #FFB948;
        }
    }

    form {
        display: flex;
        flex-direction: column;
    }

    a.advanced {
        margin-top: -15px;
        width: 100%;
    }

    label.video-quality-high {
        .info {
            .zth-tooltip {
                position: absolute;
                max-width: 200px;

                p {
                    width: 200px;
                }

                &.right {
                    top: 50%;
                    transform: translateY(-50%);
                    left: 35px;
                    right: auto;
                }
            }
        }
    }
}