.preference-slider {
	display: flex;
	margin-bottom: 15px;

	label {
		font-family: Open Sans;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		font-size: 14px;
		color: #d9c3ab;
		margin: 0;
		width: 160px;

		&.disabled {
			span,
			.info > svg {
				opacity: 0.5;
			}
		}
	}

	.slider {
		width: 200px;

		&:disabled {
			opacity: 0.5;
			cursor: auto;

			&::-webkit-slider-thumb {
				cursor: auto;
			}
			&::-webkit-slider-runnable-track {
				cursor: auto;
			}
		}
	}

	&:hover .slider:not(:disabled) {
		opacity: 1;
	}

	.info {
		margin-left: 5px;

		.zth-tooltip {
			position: absolute;
			max-width: 200px;

			p {
				width: 200px;
				color: #2f0d0d;
			}

			&.right {
				top: 50%;
				transform: translateY(-50%);
				left: 35px;
				right: auto;
			}
		}
	}
}
