.achievements-capture {
    padding-left: 15px;
    height: 100%;
    overflow-y: scroll;

    .record-video {
        margin-top: 15px;

        p {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            color: #D9C3AB;
            display: flex;

            .info {
                margin-left: 5px;
                position: relative;

                &:hover {
                    .zth-tooltip {
                        opacity: 1;
                    }
                }
        
                .zth-tooltip {
                    background-color: #A89782;
                    padding: 15px;
                    opacity: 0;
                    position: fixed; // Because of the overflow:hidden
                    max-width: 200px;
                    pointer-events: none;
                    z-index: 100;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                    .tooltip-arrow {
                        position: absolute;
                        width: 16px;
                        height: 9px;
                        fill: #A89782;
                        overflow: visible;
                    }
                
                    p {
                        cursor: default;
                        color: #2F0D0D;
                        margin: 0;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 13px;
                    }
                
                    &.right {
                        right: 24px;
                        top: 78px;
                
                        .tooltip-arrow {
                            left: -3px;
                            top: calc(50% - 5px);
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }
    

    &.disabled {
        ::ng-deep settings-achievements-video-capture .video-capture,
        ::ng-deep settings-achievements-sound-capture .sound-capture,
        ::ng-deep settings-achievements-storage .achievements-storage {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    ::ng-deep settings-achievements-video-capture .video-capture {
        margin-bottom: 15px;
    }
}