.video-capture {
    height: 227px;
    background: rgba(255, 255, 255, 0.08);
    padding: 15px;

    label .custom-video-quality {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;        
        color: #A89782;
    }

    .custom-video-quality {
        display: flex;

        input, input:focus, input:active {
            display: block;
            background: transparent;
            border: 1px solid #A89782;
            outline: none;
            width: 40px;
            height: 30px;
        }

        .custom-info {
            display: flex;
            align-items: center;
            position: relative;
            top: -5px;

            input {
                margin-left: 10px;
                margin-right: 5px;
                text-align: center;

                &:hover {
                    border-color: #D9C3AB;
                }

                &::selection {
                    background: #FFB948;
                    color: #472406;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
    }
}