.video-quality {
    height: 230px;
    background: rgba(255, 255, 255, 0.08);
    padding: 15px;

    .title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 14px;        
        color: #D9C3AB;
        margin-bottom: 15px;
    }

    label {
        display: flex;
        margin-bottom: 15px;

        i {
            --icon-color: #A89782;
            --icon-color-secondary: #FFB948;
            width: 20px;
            height: 20px;
            margin-right: 15px;

            svg {
                fill: transparent;
            }
        }

        p, .custom-video-quality, input {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;        
            color: #A89782;
        }

        &:hover {
            i {
                --icon-color: #D9C3AB;
            }
            p {
                color: #D9C3AB;
            }
        }
    }

    .custom-video-quality {
        display: flex;

        input, input:focus, input:active {
            display: block;
            background: transparent;
            border: 1px solid #A89782;
            outline: none;
            width: 40px;
            height: 30px;
        }

        .custom-info {
            display: flex;
            align-items: center;
            position: relative;
            top: -5px;

            input {
                margin-left: 10px;
                margin-right: 5px;
                text-align: center;
            }
        }
    }

    input {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    a {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        color: #D9C3AB;

        &:hover {
            color: #FFB948;
        }
    }
}