.video-capture {
    height: 222px;
    background: rgba(255, 255, 255, 0.08);
    padding: 15px;

    label .custom-video-quality {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;        
        color: #A89782;
        display: flex;
        margin-bottom: 10px;

        input, input:focus, input:active {
            display: block;
            background: transparent;
            border: 1px solid #A89782;
            outline: none;
            width: 40px;
            height: 30px;
        }

        .custom-info {
            display: flex;
            margin-left: 5px;
        }

        &.unselected .label-custom {
            color: #D9C3AB;
            text-decoration: underline;
        }

        a {
            margin-top: 0;
            text-decoration: underline;
            align-self: center;
            margin-left: 5px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
    }

    a.advanced {
        margin-top: -5px;
    }
}