// @import '../../global/variables';

button:hover {
	background: var(--on-close-button-background-color); // #2F0D0D;
	color: var(--on-close-button-color); //#CCA2B3;
	--icon-color: var(--on-close-button-color); //#CCA2B3;
}
