.history-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	--icon-color: var(--color-2);

	&.disabled {
		opacity: 0.5;
	}

	&:hover:not(.disabled) {
		--icon-color: var(--color-1);
	}

	svg {
		width: 15px;
		height: 15px;
	}
}

.back {
	transform: rotate(90deg);
}

.next {
	transform: rotate(-90deg);
}
