:host() {
	width: 100%;
}

.deck-card {
	display: flex;
	align-items: center;
	height: 26px;
	position: relative;
	overflow: hidden;
	// Removing the transition fixes the flicker
	// transition: transform 0.2s ease-in-out;
	// https://stackoverflow.com/questions/12278587/webkit-text-flickers-when-using-css-transform-scale
	// backface-visibility: hidden; // Activating this makes the font blurry
	// transform-style: preserve-3d;

	&:hover {
		transform: scale(1.1);
		z-index: 9;
		// animation: card-zoom 0.2s ease-in-out;
	}

	.linked-card-overlay {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		// background: rgba(0, 128, 0, 0.4);
		background: rgba(255, 185, 72, 0.4);
		// background: rgba(159, 182, 215, 0.4);
	}

	&.linked-card {
		.linked-card-overlay {
			display: flex;
		}
	}

	.background-image {
		position: absolute;
		top: 1px; // Otherwise there is a little band of color showing when art is blank
		left: 0;
		right: 0;
		bottom: 1px;
		background-size: cover;
		// Because some tiles still have a white border on the right
		background-position-x: 15px;
	}

	.gradiant {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(89.48deg, rgba(0, 0, 0, 1) 0%, #090a0d 36.89%, rgba(9, 10, 13, 0) 99.92%);
	}

	&.strong {
		background: linear-gradient(89.48deg, #090a0d 36.89%, #9fb6d7 66%, #9fb6d7 100%);
		.background-image {
			top: 2px;
			bottom: 2px;
			right: 2px;
		}
		.gradiant {
			margin: 2px;
		}
	}

	.mana-cost {
		width: 30px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		background: #303352;
		flex-shrink: 0;

		span {
			font-family: Sumana;
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 16px;
			color: #9fb6d7;
		}
	}

	&.in-hand {
		.gradiant {
			border: 3px solid;
			border-image: linear-gradient(45deg, rgba(159, 182, 215, 0), #ffb948) 1;
		}
		.mana-cost.mana-cost {
			background: #939393;
			span {
				color: #101530;
			}
		}
	}

	&.color-class-cards {
		.gradiant {
			border: 2px solid;
		}
		&.paladin {
			.gradiant {
				border-image: linear-gradient(to right, rgba(255, 185, 72, 0), #f1af0d) 1;
			}
		}
		&.mage {
			.gradiant {
				border-image: linear-gradient(to right, rgba(220, 16, 238, 0), #dc10ee) 1;
			}
		}
		&.hunter {
			.gradiant {
				border-image: linear-gradient(to right, rgba(5, 221, 26, 0), #05dd1a) 1;
			}
		}
		&.rogue {
			.gradiant {
				border-image: linear-gradient(to right, rgba(131, 5, 231, 0), #8305e7) 1;
			}
		}
	}

	.card-name {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 10px;
		z-index: 1;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 130px;

		span {
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 13px;
			color: #ffe3ba;
		}
	}

	.number-of-copies,
	.legendary-symbol,
	.icon-symbol,
	.gift-symbol {
		width: 23px;
		height: 100%;
		background: #131010;
		border: 1px solid #9fb6d7;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1px;
		z-index: 1;
		flex-shrink: 0;

		.inner-border {
			height: 100%;
			flex-grow: 1;
			border: 1px solid #9fb6d7;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		span {
			font-family: Sumana;
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 15px;
			color: #9fb6d7;
		}

		i {
			width: 13px;
			height: 12px;
		}

		&.discard {
			i {
				width: 13px;
				height: 17px;
			}
		}
		&.graveyard {
			i {
				width: 13px;
				height: 16px;
			}
		}
	}

	.mouse-over {
		position: absolute;
		top: 0;
		left: 30px;
		bottom: 0;
		right: 30px;
		z-index: 1;
	}

	&.color-mana-cost,
	&.in-hand.color-mana-cost {
		.mana-cost {
			background: #bfc1c4;
			span {
				color: #07081f;
			}
			// For now don't change the color, as it looks bad :)
			// &.cost-reduction {
			// 	span {
			// 		color: #61ff47;
			// 	}
			// }
		}
		&.rare .mana-cost {
			background: #357ee3;
		}
		&.epic .mana-cost {
			background: #6d3e92;
		}
		&.legendary .mana-cost {
			background: #ae7014;
		}
	}

	&.missing {
		--border-size: 3px;
		.gradiant {
			border: var(--border-size) solid;
			border-right: none;
			border-image: linear-gradient(89.94deg, #9fb6d7 0%, #9fb6d7 40%, rgba(159, 182, 215, 0) 100%) 1;
		}
		.mana-cost.mana-cost {
			background: #bfc1c4;
			position: relative;
			top: 0px;
			left: 3px;
			height: calc(100% - 6px);
			width: 27px;
			padding-right: 3px;
			padding-bottom: 3px;
			span {
				color: #5a5f87;
			}
		}
		.card-name span {
			color: #9fb6d7;
		}
		.missing-overlay {
			background: linear-gradient(89.94deg, #303352 0%, #303352 40%, rgba(48, 51, 82, 0.5) 100%);
			pointer-events: none;
			position: absolute;
			top: var(--border-size);
			left: 30px;
			bottom: var(--border-size);
			right: 0;
			z-index: 1;
		}
	}
}

@keyframes card-zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}
