.deck-zone {
	.zone-name-container {
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #07081f;
		position: relative;

		.zone-name {
			font-family: Sumana;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 15px;
			color: #9fb6d7;
			flex-grow: 1;
			display: flex;
			justify-content: center;
			height: 100%;
			align-items: center;
		}

		.warning {
			height: 17px;
			width: 17px;
			position: absolute;
			left: 7px;
			color: #9fb6d7;
			--icon-color: #9fb6d7;

			svg {
				color: transparent;
				fill: currentcolor;
			}
		}
	}

	.collapse-caret {
		--icon-color: #9fb6d7;
		width: 12px;
		height: 6px;
		margin-right: 8px;

		&.close {
			transform: scale(1, -1);
		}
	}

	.section {
		display: flex;
		flex-direction: column;

		.header {
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background: #07081f;
			position: relative;

			font-family: Sumana;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 15px;
			color: #9fb6d7;
		}
	}

	.card-list li {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 2px;
		}
	}

	&.other {
		.card-list li {
			opacity: 0.5;
			&:hover {
				opacity: 0.7;
			}
		}
	}

	&.hand {
		::ng-deep deck-card {
			.deck-card {
				background: #ffb948;
			}

			.background-image {
				top: 2px;
				bottom: 2px;
				right: 2px;
			}
		}
	}
}
