.decktracker-appearance {
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;

	.toggle-label {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		p {
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 14px;
			color: #d9c3ab;
		}

		label {
			margin-top: 15px;
			margin-bottom: 0;
			display: flex;
			align-items: center;

			b {
				border-color: #d9c3ab;
				opacity: 0.4;
				margin-right: 15px;
				&:before {
					background: #d9c3ab;
				}
			}

			&.enabled b {
				border-color: #ffb948;
				opacity: 1;
				&:before {
					background: #ffb948;
				}
			}
		}
	}

	label {
		.info {
			margin-left: 5px;
			.zth-tooltip {
				position: absolute;
				max-width: 200px;

				p {
					width: 200px;
					color: #2f0d0d;
				}

				&.right {
					top: 50%;
					transform: translateY(-50%);
					left: 35px;
					right: auto;
				}
			}
		}
	}
}

.skin-form {
	padding-bottom: 5px; // Because the radio buttons already have some padding
	margin-bottom: 15px;
}

.scale-form {
	display: flex;

	label {
		font-family: Open Sans;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		font-size: 14px;
		color: #d9c3ab;
		margin: 0;
		margin-right: 15px;

		&.disabled {
			span,
			.info > svg {
				opacity: 0.5;
			}
		}
	}

	.scale-slider {
		width: 200px;

		&:disabled {
			opacity: 0.5;

			&::-webkit-slider-thumb {
				cursor: auto;
			}
		}
	}

	&:hover .scale-slider:not(:disabled) {
		opacity: 1;
	}
}
