:host() {
	display: flex;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	color: var(--color-1);
}

.copy-deckstring {
	--icon-color: var(--color-6);
	--icon-color-secondary: var(--color-1);
	max-width: 20px;
	max-height: 20px;

	svg {
		height: 16px;
		width: 13px;
	}

	&:hover {
		--icon-color: var(--color-1);
	}
}

.message {
	font-size: 13px;
	margin-left: 10px;
}
