:host() {
	display: flex;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	color: var(--color-1);
}

.copy-deckstring {
    display: flex;
    flex-direction: row;
	--icon-color: var(--color-6);
	--icon-color-secondary: var(--color-1);

	svg {
		height: 16px;
		width: 13px;
	}

	&:hover {
		--icon-color: var(--color-1);
	}
	.message {
		font-size: 13px;
		margin-left: 10px;
	}
}


