.decktracker {
	flex-grow: 1;
	display: flex;
	padding-top: 14px;

	decktracker-deck-details {
		// margin-top: 15px;
	}

	.main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		// padding-left: 15px;
		// padding-right: 15px;
		margin-top: 0;
		position: relative;

		&.divider {
			border-right: 1px solid var(--menu-bar-bottom-border-color);
			height: 100%;
		}

		with-loading {
			flex-grow: 1;
		}

		menu-selection-decktracker {
			margin-bottom: 15px;
			flex-shrink: 0;
			flex-grow: 0;
		}
	}

	.secondary {
		display: flex;
		flex-direction: column;
		flex-grow: 0;
		margin-left: 15px;
		margin-right: 5px;
		width: 400px;
		height: calc(100% - 350px);
		flex-shrink: 0;
		// background: rgba(255, 255, 255, 0.08);

		& > * {
			display: flex;
			flex-grow: 1;
			background: rgba(255, 255, 255, 0.08);
		}

		&.second-display {
			height: calc(100% - 10px);

			& > * {
				height: 45%;
			}

			decktracker-replays-recap {
				margin-top: 15px;
			}
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 100%;

	& > * {
		display: flex;
		min-height: 0;
		opacity: 1;
	}

	& > ::ng-deep * {
		display: flex;
		min-height: 0;
		opacity: 1;
	}

	::ng-deep & > * {
		display: flex;
		min-height: 0;
		opacity: 1;
	}

	// &.ladder-stats {
	// 	decktracker-filters {
	// 		position: relative;
	// 		top: 35px;
	// 	}
	// }
}

loading-state {
	height: 100%;
	display: flex;
}
