:host() {
	display: flex;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	color: var(--color-1);
}

.import-deckstring {
	--icon-color: var(--color-6);
	--icon-color-secondary: var(--color-1);

	.icon {
        width: 10px;
        height: 14px;
        margin-left: 5px;
	}

	&:hover {
		--icon-color: var(--color-1);
	}
}

.message {
	font-size: 13px;
	margin-left: 10px;
}
