@import 'variables';

::-webkit-scrollbar {
	width: 5px;
	height: 0;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: #7d5a87;
}

::-webkit-scrollbar-thumb:hover {
	background: #a276af;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track-piece {
	display: none;
}
