@import 'variables';

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: #7D5A87;
}

::-webkit-scrollbar-thumb:hover {
	background: #A276AF;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track-piece {
	display: none;
}
