:host {
	display: flex;
	justify-content: center;
	width: 100%;
}

.battlegrounds-player-info {
	width: 100%;

	hero-card {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	::ng-deep hero-card {
		.hero-card {
			position: relative;
			width: 63%;
			top: 10%;
		}

		hero-stats {
			display: none;
		}
	}
}

.player-name {
	position: absolute;
	bottom: -57%;
	text-shadow: -2px -2px 0 #000, 0px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 2px 0 #000;
	color: white;
	font-size: 12px;
	width: 100%;
	text-align: center;
	padding-right: 3px;
}
