battlegrounds-content {
	width: 100%;
	height: 100%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	color: var(--default-text-color);
	font-size: 13px;
	line-height: 22px;
	z-index: 9;
	position: relative;
}

ads {
	bottom: 10px;
	right: 10px;
}

.card-tooltip.bgs-hero-select.bgs-hero-select.bgs-hero-select img,
card-tooltip {
	filter: drop-shadow(0px 0px 15px rgba(223, 179, 211, 0.7));
	width: 208px !important;
	height: auto !important;
}

.card-tooltip.bgs-hero-power.bgs-hero-power.bgs-hero-power {
	background: var(--color-4);
	width: 190px;
	// As there is no intelligent positioning, this makes sure it doesn't go over the top
	margin-top: 30px;

	img {
		filter: drop-shadow(0px 0px 15px rgba(223, 179, 211, 0.7));
		margin-top: -50px;
		position: relative;
		left: -9px;
		width: 208px;
		height: auto;
	}
	.text {
		margin-top: 0;
		font-size: 16px;
		color: var(--default-title-color);
		text-shadow: none;
		font-weight: normal;
		font-family: Open Sans;
		padding-bottom: 7px;
	}
}

version .version-info {
	right: 15px;
	bottom: 0;
}
