.bgs-banned-tribe {
	position: relative;
}

.background {
	position: relative;
	width: 75px;
	height: 85px;
	background: #dfb3d3;
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.icon {
	position: absolute;
	top: 5px;
	left: -5px;
	width: 85px;
	height: 75px;
	clip-path: polygon(50% 4%, 85% 25%, 85% 75%, 50% 99%, 15% 75%, 15% 25%);
}

.crossed {
	position: absolute;
	top: 6px;
	left: 16px;
	width: 45px;
	opacity: 0.7;
}
