:host() {
	pointer-events: none;
}

.container {
	position: relative;

	&.hidden {
		display: none;
	}

	.card {
		width: 256px;
	}

	::ng-deep card-stats {
		.card-stats {
			top: 81%;

			.stat {
				width: 27%;
				top: -25%;
			}

			.attack {
				left: 8%;
			}

			.health {
				left: 40%;
				width: 32%;
				top: -27%;
			}

			.stat-value {
				font-size: 52px;
			}
		}
	}
}
