:host() {
	pointer-events: none;
}

.container {
	position: relative;

	&.hidden {
		display: none;
	}

	.card {
		width: 256px;
	}

	::ng-deep card-stats {
		.card-stats {
			top: 81%;

			.attack {
				left: 0%;
			}

			.health {
				left: 35%;
				width: 34%;
				top: -15%;
			}

			.stat-value {
				font-size: 52px;
			}
		}
	}
}
