.banned-tribes {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	bgs-banned-tribe {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	&.row {
		max-width: 240px;
	}

	&.column {
		// https://stackoverflow.com/questions/33891709/when-flexbox-items-wrap-in-column-mode-container-does-not-grow-its-width
		// https://stackoverflow.com/questions/23408539/how-can-i-make-a-displayflex-container-expand-horizontally-with-its-wrapped-con/41209546#41209546
		writing-mode: vertical-lr;
		max-height: 240px;

		bgs-banned-tribe {
			writing-mode: horizontal-tb;
		}
	}

	&.available {
		&.row {
			max-width: 300px;

			bgs-banned-tribe {
				margin-bottom: 0;
				margin-top: -15px;
			}
		}

		&.column {
			max-height: 300px;
		}
	}

	&.single-row {
		max-width: 100%;
		max-height: 100%;
		flex-wrap: nowrap;
	}
}

.scalable {
	transform: scale(1);
	transform-origin: left top;
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.26, 0.305, 1.65);
}

bgs-banned-tribe {
	margin-right: 15px;
}
