:host() {
	display: flex;
}

.hero-portrait {
	position: relative;
}

.portrait {
	width: 100%;
}

.hero-portrait-frame {
	position: relative;
	width: 100px;
	height: 115px;

	.icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		clip-path: polygon(0% 100%, 0% 56%, 15% 20%, 50% 5%, 80% 20%, 90% 56%, 90% 100%);
	}

	.frame {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.aspect-ratio {
		display: none;
	}
}

.rating {
	background: url(https://static.zerotoheroes.com/hearthstone/asset/firestone/images/rating_banner.png);
	position: absolute;
	width: 89%;
	height: 39%;
	background-size: contain;
	background-repeat: no-repeat;
	bottom: -25%;
	display: flex;
	align-items: center;
	justify-content: center;

	.value {
		font-family: Passion One;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		text-align: center;
		color: var(--color-1);
		text-shadow: -2px -2px 0 #000, 0px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 2px 0 #000;
	}
}

.health {
	font-family: Passion One;
	font-style: normal;
	font-weight: normal;
	// font-size: 18px;
	text-align: center;
	text-shadow: -2px -2px 0 #000, 0px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 2px 0 #000;
	color: white;
	position: absolute;
	bottom: 13%;
	width: 45%;
	height: 20%;
	right: -10%;
	display: flex;
	align-items: center;
	justify-content: center;

	.icon {
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	.value {
		z-index: 2;
		font-size: 10px;
		margin-top: 19%;
	}

	&.damaged {
		color: #ff4747;
	}

	&.new {
		bottom: 6%;
	}
}

// @media (min-width: 1450px) {
// 	.rating .value {
// 		font-size: 30px;
// 	}
// }
