:host() {
	flex-grow: 1;
	display: flex;
}

.container-1 {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	overflow: hidden;
}

::ng-deep {
	#chartjs-tooltip-stats {
		position: absolute;
		height: auto;
		pointer-events: none;

		.stats-tooltip {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			font-family: Open Sans;
			font-style: normal;
			font-size: 13px;
			color: #40032e;
			width: 120px;
			background: #ce73b4;

			.content {
				padding: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;

				.title {
					font-weight: bold;
				}

				.body {
					display: flex;

					.section {
						// width: 110px;
					}

					.player {
						border-right: 1px solid rgba(#841063, 0.2);
						padding-right: 7px;
						margin-right: 7px;
					}

					.subtitle {
						font-weight: bold;
					}
				}
			}

			.tooltip-arrow {
				position: absolute;
				left: calc(50% - 14px);
				width: 16px;
				height: 9px;
				fill: #ce73b4;
				overflow: visible;
			}
		}

		&.top {
			.tooltip-arrow {
				position: absolute;
				transform: rotate(180deg);
				top: auto;
				bottom: 5px;
			}
		}
		&.bottom {
			.tooltip-arrow {
				position: absolute;
				top: 5px;
				bottom: auto;
			}
		}
	}
}
