@import '../../global/variables';
@import '../../global/fonts';

.menu-bar {
	background: transparent;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	border: none;
	width: 100%;
	height: 30px;
	height: 80px;
	z-index: 400;
	flex-shrink: 0;
	color: $green01;

	.logo {
		top: 10px;
		left: 15px;
	}

	.controls {
		height: 30px;
		display: flex;

		// button,
		// a {
		// 	color: $green01;
		// }

		// button:hover,
		// a:hover {
		// 	background-color: $brown01;
		// }

		// .close-button:hover {
		// 	background: $green01;
		// 	color: $darkred;
		// }
	}
}

.content-container {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	.left {
		margin-right: 15px;
	}

	.right {
		transform: scale(-1, 1);
		margin-left: 15px;
	}
}

.app-title {
	@extend %loading-screen-title;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sub-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 13px;

	span {
		@extend %hotkey-subtext;
	}

	hotkey {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 12px;
		margin-bottom: 13px;

		.hotkey {
			top: 0;
			left: 0;

			.text {
				display: none;
			}

			.plus {
				margin-left: 14px;
				margin-right: 14px;
			}

			.key {
				width: 60px;
				height: 40px;
				font-size: 13px;
			}
		}
	}
}

.loading-icon {
	margin-top: 30px;
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: 50; // In case something goes wrong, we don't hog the CPU all the time
	animation-timing-function: linear;
	transform: translateZ(
		0
	); // https://stackoverflow.com/questions/13176746/css-keyframe-animation-cpu-usage-is-high-should-it-be-this-way
}

ads {
	bottom: 10px;
	left: 10px;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
