.social-share {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
	margin-left: 5px;
	--icon-color: #a89782;
	--icon-secondary-color: #1b071f;

	&:hover:not(.disabled) {
		--icon-color: #d9c3ab;
	}

	&.disabled {
		--icon-color: #a89782;
		opacity: 0.5;
	}
}
