:host {
	display: flex;
	justify-content: center;
	width: 100%;
}

.battlegrounds-player-summary {
	width: 300vh;
	height: 50%;
	background-image: radial-gradient(462.5px at 50% 50%, rgba(48, 35, 128, 0.7) 0%, rgba(24, 24, 43, 0.7) 100%),
		url('/Files/assets/images/backgrounds/decktracker_main_window.png');
	background-size: 100%;
	background-position-y: 20%;
}
