@import '../../global/variables';
@import url('https://fonts.googleapis.com/css?family=Sumana');

.root {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.75));

	.corner {
		position: absolute;

		&.top-left {
			top: 0;
			left: 0;
		}

		&.top-right {
			top: 0;
			right: 0;
    		transform: rotate(90deg);
		}

		&.bottom-right {
			bottom: 0;
			right: 0;
    		transform: rotate(180deg);
    		top: auto;
		}

		&.bottom-left {
			bottom: 0;
			left: 0;
    		transform: rotate(270deg);
    		top: auto;
		}
	}

	.decktracker {
    	position: relative;
        background-image: radial-gradient(462.50px at 50% 50%, rgba(48, 35, 128, 0.7) 0%, rgba(24, 24, 43, 0.7) 100%), url('/Files/assets/images/backgrounds/decktracker_bg.png');
        background-size: 100%;
	    width: calc(100% - 20px);
	    height: calc(100% - 20px);
	    display: flex;
	    flex-direction: column;
        overflow: hidden;
        
        decktracker-title-bar {
            flex-grow: 0;
            flex-shrink: 0;
        }
        
        decktracker-deck-name {
            flex-grow: 0;
            flex-shrink: 0;
        }

        decktracker-deck-list {
			flex-grow: 1;
			flex-shrink: 1;
			display: flex;
			position: relative;
			height: 100%;
        }
	}
}
