@import '../../global/variables';
@import '../../global/scrollbar';

.decktracker {
    flex-grow: 1;
    display: flex;
    padding-top: 14px;
    height: 598px;
    max-height: 598px;

    .main {
    	display: flex;
    	flex-direction: column;
        width: 695px;
        padding-left: 15px;
        margin-top: 0;
        position: relative;

        &.divider {
            border-right: 1px solid #4B3052;
            height: 100%;
        }
    }
}