.external-player {
	::ng-deep {
		.manastorm-player {
			// Because the controls and other window elements take space
			max-width: calc((100vh - 150px) * 16 / 12);
		}
		controls {
			.discuss,
			.divider {
				display: none;
			}
			.view-online {
				width: 75px;
			}
		}
		turn-narrator {
			color: var(--default-text-color);
		}
	}
}
