.external-player {
	::ng-deep {
		.manastorm-player {
			// Because the controls and other window elements take space
			max-width: calc((100vh - 150px) * 16 / 12);
		}
		controls {
			.discuss,
			.divider {
				display: none;
			}
			.view-online {
				width: 75px;
			}
		}
		turn-narrator,
		.player-controls-content,
		.player-control-element {
			color: var(--color-1);
			--icon-color: var(--color-1);
		}
		.player-control-element:hover,
		.player-control-element.toggled {
			color: var(--color-4);
			--icon-color: var(--color-4);
			background-color: var(--color-1);
		}
	}
}
