@import '../../global/variables';
@import '../../global/fonts';

.replays-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: all 2s;
	transition: all 2s;
	flex-grow: 1;
	padding-right: 10px;
}

.empty-state {
	@extend %empty-state;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	color: var(--secondary-text-color);
	--icon-color: var(--secondary-text-color);

	.state-container {
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--secondary-text-color);

		i {
			margin-bottom: 30px;
		}

		.title {
			@extend %empty-state-title;
			margin-bottom: 15px;
			color: var(--secondary-text-color);
		}

		.subtitle {
			color: var(--secondary-text-color);
		}
	}
}
