.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 1;

	color: var(--default-text-color);

	// --navigation-background: var(--color-5);
	--navigation-background: var(--color-7);
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	flex-grow: 1;
}

.main {
	display: flex;
	flex-grow: 1;

	background-size: 100%;
	background-repeat: round;
	background-image: var(--window-background-image);
	background-attachment: fixed;
}

.content-container {
	display: flex;
	width: 100%;
	max-width: 1200px;
	justify-content: center;
}

.content {
	max-width: 800px;
	width: 100%;
}

website-top-bar {
	height: 65px;
}

website-navigation {
	width: 200px;
}
