<div class="battlegrounds-theme wrapper">
	<div class="container" *ngIf="initComplete$ | async; else loadingState">
		<website-top-bar></website-top-bar>
		<div class="main">
			<website-navigation></website-navigation>
			<div class="content-container">
				<script
					async
					src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8847773430606218"
					crossorigin="anonymous"
				></script>
				<!-- Vertical banner left -->
				<ins
					class="adsbygoogle"
					style="display: block"
					data-ad-client="ca-pub-8847773430606218"
					data-ad-slot="8262417601"
					data-ad-format="auto"
					data-full-width-responsive="true"
				></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				<div class="content">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
	<ng-template #loadingState> Loading... </ng-template>
</div>
