.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 1;

	color: var(--default-text-color);

	--navigation-background: var(--color-7);
	--navigation-height: 65px;
	--left-navigation-width: 200px;
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	flex-grow: 1;
}

.main {
	display: flex;
	flex-grow: 1;
	margin-top: var(--navigation-height);

	background-size: 100%;
	background-repeat: round;
	background-image: var(--window-background-image);
	background-attachment: fixed;
}

.content-container {
	display: flex;
	width: 100%;
	max-width: 1200px;
	justify-content: center;
	position: relative;
	left: var(--left-navigation-width);
	margin-right: var(--left-navigation-width);
}

.content {
	max-width: 850px;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

website-top-bar {
	height: var(--navigation-height);
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
}

website-navigation {
	width: var(--left-navigation-width);
	position: fixed;
	left: 0;
	top: var(--navigation-height);
}

@media (max-width: 840px) {
	.wrapper {
		--left-navigation-width: 75px;
	}
}
