.decktracker {
	flex-grow: 1;
	display: flex;
	padding-top: 14px;

	decktracker-menu {
		transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, flex-shrink 0.4s ease-in-out,
			flex-grow 0.4s ease-in-out;
		padding-right: 10px;
	}

	decktracker-filters {
		position: absolute;
		right: 0;
		top: 1%;
	}

	.main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		// padding-left: 15px;
		// padding-right: 15px;
		margin-top: 0;
		position: relative;

		&.divider {
			border-right: 1px solid var(--menu-bar-bottom-border-color);
			height: 100%;
		}
	}

	.secondary {
		display: flex;
		flex-direction: column;
		flex-grow: 0;
		margin-left: 15px;
		margin-right: 5px;
		width: 400px;
		height: calc(100% - 350px);
		flex-shrink: 0;
	}
}

loading-state {
	height: 100%;
	display: flex;
}
